{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Summary</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="/csu71/task-list-exp-copy-ad"><strong>Return to task list</strong></a></span>

  </div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">Summary</span>
      <h1 class="govuk-heading-xl">About the vacancy</h1>
      <h2 class="govuk-heading-m">Basic information</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job title</dt>
          <dd class="govuk-summary-list__value">{{ data['temp-copy-input-autocomplete'] }}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Grade</dt>
          <dd class="govuk-summary-list__value">{{ data['grade']}}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> grade</span></a></dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Cabinet Office role?</dt>
          <dd class="govuk-summary-list__value">{{ data['cabinet-office-role']}}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details">Change<span class="govuk-visually-hidden"> cabinet office role?</span></a></dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Department</dt>
          <dd class="govuk-summary-list__value">{{ data['dept']}} </dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> department</span></a></dd>
        </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reserved status</dt>
                  <dd class="govuk-summary-list__value">{{ data['reserved-status']|default("No, this vacancy is not reserved")}}</dd>
                  <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> number of posts availables</span></a></dd>
                </div>


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Number of posts availables</dt>
                  <dd class="govuk-summary-list__value">{{ data['num-posts']|default("1") }}</dd>
                  <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> number of posts availables</span></a></dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Approval</dt>
                  <dd class="govuk-summary-list__value">{{ data['approval-status']|default("Yes it has been approved")}} <br>  {{ data['file-upload-1']|default("BCP-2231-23.pdf")}}</dd>
                  <dd class="govuk-summary-list__actions"><a href="Approval">Change<span class="govuk-visually-hidden"> Business area</span></a></dd>
                </div>

              </dl>



      <form action="locations" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <span class="govuk-caption-l">Next section</span>
      <h2 class="govuk-heading-l">Contract information</h2>
      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    {% endblock %}
