{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Interview</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style>

h1, h2, h3, strong, label, hint, a {

  font-family: "GDS Transport", arial, sans-serif;
}
</style>




<form class="form" action="setup-interview-ph4-2" method="post">

  <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Interview questions</H1>
  <!-- <p class="govuk-body-m"><strong>You selected the assessment to test the behaviours 'Seeing the Big Picture' and 'Changing and Improving' by interview questions.</strong></p> -->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="">

      <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet-">
        <!-- <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph2"><strong>Schedule</a></p></strong></li> -->
        <!-- <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview"><strong>Setup interview</a></p></strong></li> -->

        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph3"><strong>Assessment</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-1"><strong>Interview questions</a></p></strong></li>
        <li><strong><p style ="MARGIN-left:26px;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-1"><strong><span style="border-bottom:3px solid #1d70b8;">Experience</span></a></p></strong></li>
        <li><strong><p style ="MARGIN-left:26px;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-2">Behaviours</a></p></li>
        <li><strong><p style ="MARGIN-left:26px;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-3">Strengths</a></p></li>
<li><strong><p style ="MARGIN-left:26px;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-4">Presentation</a></p></li>
          <li><strong><p style ="border-left:5px solid white;;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph1"><strong>Type of interview</a></p></strong></li>

        <!-- <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-check-answers"><strong>Review interview setup</a></p></strong></li> -->
      </ul>
    </div>
    <div class="govuk-!-margin-top-6 govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Experience</h2>


      <span class="govuk-caption-l">Criteria</span>
      <h3 class="govuk-heading-m">Building engaging and effective relationships with stakeholders</h3>
<div style="background:#F4FAFF;padding:20px;border-top:1px solid #1d70b8">

      {{ govukCharacterCount({
      name: "experience-question-1",
      id: "experience-question-1",
      maxwords: 50,
      rows: 3,
      label: {
      text: "1 x experience question (6 mins)",
      classes: "govuk-label--xs",
      isPageHeading: false
      },
      value: data['experience-question-1']
      }) }}


      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span style=";margin-left:-10px;font-size:20px;font-weight:bold;" class="govuk-details__summary-text">
      Example question
      </span>
      </summary>
      <div style="width:99.5%;background:white" class="govuk-details__text">
        <ul class="govuk-list govuk-list--number">
      <li id="qED1" style="margin-bottom:20px"><a style="font-weight:bold" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" onClick="loadQ('qED1','experience-question-1')" href="#">Can you tell me about your experience of building a trusted advisor-style relationship with a stakeholder? Can you give me examples of how you were able to achieve this?</a></li>
      </ul>
      </div>
      </details>

      <p id="addlink2" class="govuk-body-m govuk-!-padding-bottom-1"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state"  onclick="showDiv('secQ2');hideDiv('addlink2')"><strong style=";color:#1d70b8;float:right;margin-bottom:-10px">Draft an alternative question</strong></a></p>




      <div class="govuk-!-padding-top-3" id="secQ2" style="display:none">

      {{ govukCharacterCount({
      name: "experience-question-1b",
      id: "behaviour-question-1b",
      maxwords: 50,
      rows: 3,
      label: {
      text: "Alternative experience question",
      classes: "govuk-label--s",
      isPageHeading: false
      },
      value: '' or data['experience-question-1b']
      }) }}

    </div>

      </div>

                {{ govukButton({
                  classes:"govuk-!-margin-top-9",
                  text: "Continue"
                }) }}
      </div>


      </div>




      <!-- <span class="govuk-caption-l govuk-!-margin-top-6">Question 2</span>
          <h3 class="govuk-heading-m">Knowledge of design principles</h3>
<div class="" style="background:#F4FAFF;padding:20px;border-top:1px solid #1d70b8">


      {{ govukCharacterCount({
      name: "experience-question-2",
      id: "experience-question-2",
      maxwords: 50,
      rows: 3,
      label: {
      text: "",
      classes: "govuk-label--s",
      isPageHeading: false
      },
      value: data['experience-question-2']
      }) }}

</div> -->








  <span id='local-variable' style="display:none">{{ data['templateName'] }}</span>

  <input type="hidden" name="source" value="behaviours">
</FORM>

<script>


      function hideDiv(div1) {
        document.getElementById(div1).style.display = 'none';

      }

      function showDiv(div1) {
        document.getElementById(div1).style.display = 'block';

      }


  function loadQ(question, texta){
    var propQ = document.getElementById(question);
    const quest = document.getElementById(texta);
    quest.innerHTML = propQ.innerText;

  }
</script>
{% endblock %}
