{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    {% endblock %}


{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<style>

  select {
width:400px;



  }
</style>

<form class="form" action="opening-questions-3" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">Create a new vacancy</h1>



<div class="govuk-!-margin-bottom-6">
      {{ govukSelect({
                id: "grade",
                name: "grade",
                label: {
                  text: "What grade is the job role?",
                  classes: "govuk-label--m"
                },
                items: [
                {
                  value: "none",
                  selected: "true",
                  disabled: "true",
                  text: "Select grade"
                },

                {
                  value: "Administrative Assistant",
                  text: "Administrative Assistant (AA)",
                  selected: checked("grade","Administrative Assistant")
                },
                {
                  value: "Administrative Officer",
                  text: "Administrative Officer (AO)",
                  selected: checked("grade","Administrative Officer")
                },
                {
                  value: "Executive Officer",
                  text: "Executive Officer (EO)",
                  selected: checked("grade","Executive Officer")
                },
                {
                  value: "Higher Executive Officer",
                  text: "Higher Executive Officer (HEO)",
                  selected: checked("grade","Higher Executive Officer")
                },
                {
                  value: "Senior Executive Officer",
                  text: "Senior Executive Officer (SEO)",
                  selected: checked("grade","Senior Executive Officer")
                },
                {
                  value: "Grade 7",
                  text: "Grade 7",
                  selected: checked("grade","Grade 7")
                },
                {
                  value: "Grade 6",
                  text: "Grade 6",
                  selected: checked("grade","Grade 6")
                }
                ]
              }) }}
              </div>


<div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
      <script src="/public/javascripts/temp-copy.js"></script>
      <script src="/public/javascripts/profession.js"></script>
      <script src="/public/javascripts/jobtitle.js"></script>




    </FORM>
    {% endblock %}
