{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}



{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}

  {% block pageTitle %}
  Home – {{ serviceName }} – GOV.UK Prototype Kit
  {% endblock %}
  {% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}


{% block content %}

<form class="form" action="questions-prefilled?title={{ data['temp-copy-input-autocomplete']}}" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Create a vacancy</h1>

      <p class="govuk-body-m">Enter the details for your job vacancy.</p>
      <div id="grade" style="border-bottom:1px solid #1d70b8;padding-top:30px;padding-bottom:10px" class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">


      <div class="govuk-!-margin-bottom-6">
        <div class="govuk-form-group govuk-input--width-30">
          <label for="autocomplete-default" class="govuk-label--m">Job title</label>
          <div id="jobtitle" class="autocomplete-wrapper"></div>
        </div>

      </div>
</div>



      <div id="grade" style="border-bottom:1px solid #1d70b8;padding-top:20px;padding-bottom:10px" class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">

        {{ govukSelect({
          id: "gselect",
          name: "gselect",
          label: {
            text: "What grade is the job role?",
            classes: "govuk-label--m"
          },
          items: [
          {
            value: "none",
            selected: "true",
            disabled: "true",
            text: "Select grade"
          },

          {
            value: "Administrative Assistant",
            text: "Administrative Assistant",
            selected: checked("gselect","Administrative Assistant")
          },
          {
            value: "Administrative Officer",
            text: "Administrative Officer",
            selected: checked("gselect","Administrative Officer")
          },
          {
            value: "Executive Officer",
            text: "Executive Officer",
            selected: checked("gselect","Executive Officer")
          },
          {
            value: "Higher Executive Officer",
            text: "Higher Executive Officer",
            selected: checked("gselect","Higher Executive Officer")
          },
          {
            value: "Senior Executive Officer",
            text: "Senior Executive Officer",
            selected: checked("gselect","Senior Executive Officer")
          },
          {
            value: "Grade 7",
            text: "Grade 7",
            selected: checked("gselect","Grade 7")
          },
          {
            value: "Grade 6",
            text: "Grade 6",
            selected: checked("gselect","Grade 6")
          }
          ]
        }) }}
      </div>


      <div id="field" style="border-bottom:1px solid #1d70b8;padding-top:20px;padding-bottom:10px" class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">

        <p class="govuk-body-l"><strong>What profession is the job role?</strong></p>
          <p class="govuk-body-m">You can select more than one.</p>

        {{ govukSelect({
          id: "proff",
          name: "proff",
          label: {
            text: "",
            classes: "govuk-label--m"
          },
          items: [
          {
            value: "none",
            selected: "true",
            disabled: "true",
            text: "Select profession"
          },
          {
            value: "Analysis",
            text: "Analysis",
            selected: checked("proff","Analysis")
          },
          {
            value: "Commercial and Procurement",
            text: "Commercial and Procurement",
            selected: checked("proff","Commercial and Procurement")
          },
          {
            value: "Corporate Finance",
            text: "Corporate Finance",
            selected: checked("proff","Corporate Finance")
          },
          {
            value: "Communications",
            text: "Communications",
            selected: checked("proff","Communications")
          },
          {
            value: "Counter Fraud",
            text: "Counter Fraud",
            selected: checked("proff","Counter Fraud")
          },
          {
            value: "Digital, Data and Technology",
            text: "Digital, Data and Technology",
            selected: checked("proff","Digital, Data and Technology")
          },
          {
            value: "Government Economic Service",
            text: "Government Economic Service",
            selected: checked("proff","Government Economic Service")
          },
          {
            value: "Government Social Research",
            text: "Government Social Research",
            selected: checked("proff","Government Social Research")
          },
          {
            value: "Finance",
            text: "Finance",
            selected: checked("proff","Finance")
          },
          {
            value: "Human Resources",
            text: "Human Resources",
            selected: checked("proff","Human Resources")
          },
          {
            value: "Intelligence Analysis",
            text: "Intelligence Analysis",
            selected: checked("proff","Intelligence Analysis")
          },
          {
            value: "Internal Audit",
            text: "Internal Audit",
            selected: checked("proff","Internal Audit")
          },
          {
            value: "International Trade and Negotiation",
            text: "International Trade and Negotiation",
            selected: checked("proff","International Trade and Negotiation")
          },
          {
            value: "Knowledge &amp; Information Management",
            text: "Knowledge &amp; Information Management",
            selected: checked("proff","Knowledge &amp; Information Management")
          },
          {
            value: "Legal",
            text: "Legal",
            selected: checked("proff","Legal")
          },
          {
            value: "Medical",
            text: "Medical",
            selected: checked("proff","Medical")
          },
          {
            value: "Occupational Psychology",
            text: "Occupational Psychology",
            selected: checked("proff","Occupational Psychology")
          },
          {
            value: "Operational Delivery",
            text: "Operational Delivery",
            selected: checked("proff","Operational Delivery")
          },
          {
            value: "Operational Research",
            text: "Operational Research",
            selected: checked("proff","Operational Research")
          },
          {
            value: "Policy",
            text: "Policy",
            selected: checked("proff","Policy")
          },
          {
            value: "Project Management and Delivery",
            text: "Project Management and Delivery",
            selected: checked("proff","Project Management and Delivery")
          },
          {
            value: "Property",
            text: "Property",
            selected: checked("proff","Property")
          },
          {
            value: "Science and Engineering",
            text: "Science and Engineering",
            selected: checked("proff","Science and Engineering")
          },
          {
            value: "Security",
            text: "Security",
            selected: checked("proff","Security")
          },
          {
            value: "Tax",
            text: "Tax",
            selected: checked("proff","Tax")
          },
          {
            value: "Veterinary",
            text: "Veterinary",
            selected: checked("proff","Veterinary")
          },
          {
            value: "Other",
            text: "Other",
            selected: checked("proff","Other")
          }
          ]
        }) }}
<a  href="#"><p class="govuk-body-m" style="color:#1d70b8">Add another profession</p></a>

      </div>

      <div id="dept" style="padding-top:20px;padding-bottom:10px" class="govuk-!-margin-top-1">

        <div class="govuk-!-margin-bottom-6">

          <div class="govuk-!-margin-bottom-6">
            <div class="govuk-form-group govuk-input--width-30">
              <label for="autocomplete-default" class="govuk-label--m">What department is the job role in?</label>
              <div id="department" class="autocomplete-wrapper"></div>
            </div>

          </div>
  </div>
      </div>






      <div  class="govuk-!-margin-top-6 govuk-!-margin-bottom-3">
        <button class="govuk-button govuk-!-margin-top-3" onclick="getFields()" data-module="govuk-button">Continue</button>

      </div>
    </form>
    <script src="/public/javascripts/accessibleAutocomplete.js"></script>

    <!-- <script src="/public/javascripts/temp-copy.js"></script> -->
    <script src="/public/javascripts/dept.js"></script>
    <script src="/public/javascripts/jobtitle.js"></script>
      <script src="/public/javascripts/temp-copy.js"></script>

<script>

function getFields(){

  var jobTitle = document.getElementById('grabTitle').value;
  window.sessionStorage.setItem("jobTitle", JSON.stringify(jobTitle));
}


</script>



    {% endblock %}
