{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    {% endblock %}

{% block content %}



{% govuk_summary_list(rows: rows) %}

{
  rows: [
    { key: { text: "Name" }, value: { text: "Hercule Poirot" } },
    {
      key: { text: "Address" },
      value: { text: "Flat 203, 56B Whitehaven Mansions, Charterhouse Square, London" },
      actions: [{ href: "#", visually_hidden_text: "address" }]
    }
  ]
}






rows: [
   { key: { text: "" },
     value: {text: ""},
     actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "name"}]} },

   {
     key: {
       text: "Date of birth"
     },
     value: {
       text: "5 January 1978"
     },
     actions: {
       items: [
         {
           href: "#",
           text: "Change",
           visuallyHiddenText: "date of birth"
         }
       ]
     }
   },
   {
     key: {
       text: "Address"
     },
     value: {
       html: "72 Guild Street<br>London<br>SE23 6FH"
     },
     actions: {
       items: [
         {
           href: "#",
           text: "Change",
           visuallyHiddenText: "address"
         }
       ]
     }
   },
   {
     key: {
       text: "Contact details"
     },
     value: {
       html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
     },
     actions: {
       items: [
         {
           href: "#",
           text: "Change",
           visuallyHiddenText: "contact details"
         }
       ]
     }
   }
 ]



 <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      Sarah Philips
    </dd>
  </div>
</dl>

<div class="govuk-summary-list__row"><dt class="govuk-summary-list__key"></dt>
<dd class="govuk-summary-list__value"></dd>
</div>


{% endblock %}
