{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Selection criteria and assessment methods</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<style>
  .experiment {
    background:#F4FAFF;
    border-bottom:1px solid #1d70b8;
    margin-top:5px;
    margin-bottom:-20px;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:15px;
    font-weight:bold;
  }

  p, div {
    font-family: "GDS Transport", arial, sans-serif;
    line-height: 1.2;
    margin: 0.8
  }
  p, li {
    font-size: 22px; line-height: 1.2;
    vertical-align: text-top;
  }


  h2 {
    font-size: 30px; line-height: 0.5;
    vertical-align: text-top;
  }

  h3 {
    font-size: 24px;
    line-height: 1.5;
  }

  label {
    font-size: 22px;
    font-weight:normal;
    line-height: 1;
    vertical-align: text-top;
    padding-top:40px;
  }

  hint {
    font-size: 18px;
    font-weight:normal;
    line-height: 1.2;
    vertical-align: text-top;
  }


  input[type="checkbox"]:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    color: black;
  }

  input[type="checkbox"]:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: 5px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }
</style>

<form class="form" action="/csu71/check-next-stepV5" method="post">
  <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8;" class="govuk-heading-xl govuk-!-margin-top-1 govuk-!-margin-bottom-6">Experience</H1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

      {% for items in data['selected'] %}
      <ul class="govuk-!-margin-top-4 govuk-list govuk-list--bullet-">
        {% if items == "experience" %}
        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items }}"><strong>{{ items | capitalize }}</a></p></strong></li>
        {% else %}
        <li><strong><p style ="border-left:2px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items }}"><strong>{{ items | capitalize }}</a></p></strong></li>
      </ul>
      {% endif %}
      {% endfor %}

    </div>
    <div class="govuk-grid-column-three-quarters">

      <div id="Experience" style="padding:10px;">
        <p class="govuk-body-m govuk-!-margin-top-4 govuk-!-margin-bottom-2"><strong>You should define what type and level of experience is needed to perform well in this job role. Include as many experiences as you want to assess at sift and interview.</strong></p>
        <!-- <p class="govuk-body-m govuk-!-margin-bottom-6" style="background: #f3f2f1;padding:5px;">The experiences you write here will appear on your job advert as bullet points for candidates to see. It can help to write your bullet points:</p> -->
        <div >

          <p class="govuk-body-m govuk-!-margin-top-1 govuk-!-margin-bottom-2"><strong>The experiences you write here will appear on your job advert as bullet points for candidates to see.</strong></p>

          <p class="govuk-body-m">It can help to write your bullet points:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>as a mini headline</li>
            <li>in short sentences, you should aim to be brief and straight to the point</li>
            <li>using simple language</li>
          </ul>



          {% if data['experience-4'].length > 0 %}
          {% set see = "block" %}
          {% set nosee = "none" %}
          {% else %}
          {% set see = "none" %}
          {% endif %}





          {% set expArray = ['experience-1','experience-2','experience-3'] %}
          {% set expArray4 = ['experience-4'] %}
          {% set expArray5 = ['experience-5'] %}
          {% set expArray6 = ['experience-6'] %}



          <div class="govuk-!-margin-bottom-2 govuk-!-margin-top-2" style="">


            <div style="width:80%;">



            {{ govukTextarea({
              name: "experience-1",
              id: "experience-1",
              rows:3,
              value: data['experience-1'],
              label: {
              text: "Experience 1",
              classes: "govuk-label govuk-label--s"
              }
            }) }}

            {{ govukTextarea({
              name: "experience-2",
              id: "experience-2",
              rows:3,
              value: data['experience-2'],
              label: {
              text: "Experience 2",
              classes: "govuk-label govuk-label--s"
              }
            }) }}

            {{ govukTextarea({
              name: "experience-3",
              id: "experience-3",
              rows:3,
              value: data['experience-3'],
              label: {
              text: "Experience 3",
              classes: "govuk-label govuk-label--s"
              }
            }) }}
            <div id="exp3links" style="position:relative">
            <a id="" style=";position:absolute;left:0px;top:-10px;color:#1d70b8" onclick="showHideDiv('e4','exp4links','exp3links')">Add another experience</a>
            <!-- <a href="#" id="pl2bcta" style=";position:absolute;right:0px;top:0px;color:#1d70b8" onclick="showDiv('pl1acta');;hideDiv('pl2acta');hideDiv('pl2bcta');hideDiv('pl2')">Delete</a> -->
            </div>
</div>

<div id="e4" style="display:none;width:80%;">
            {{ govukTextarea({
              name: "experience-4",
              id: "experience-4",
              rows:3,
              value: data['experience-4'],
              label: {
              text: "Experience 4",
              classes: "govuk-label govuk-label--s"
              }
            }) }}

            <div id="exp4links" style="position:relative">
            <a  id="" style=";position:absolute;left:0px;top:-10px;color:#1d70b8" onclick="showDiv('e5');showDiv('exp5links');hideDiv('exp4links')">Add another experience</a>
            <a  id="" style=";position:absolute;right:0px;top:0px;color:#1d70b8" onclick="showDiv('exp3links');;hideDiv('e4');hideDiv('exp4links')">Delete</a>
            </div>
</div>
<div id="e5" style="display:none;width:80%;">

            {{ govukTextarea({
              name: "experience-5",
              id: "experience-5",
              rows:3,
              value: data['experience-5'],
              label: {
              text: "Experience 5",
              classes: "govuk-label govuk-label--s"
              }
            }) }}

            <div id="exp5links" style="position:relative">
            <a  id="" style=";position:absolute;left:0px;top:-10px;color:#1d70b8" onclick="showDiv('e6');showDiv('exp6links');;hideDiv('exp5links')">Add another experience</a>
            <a  id="" style=";position:absolute;right:0px;top:0px;color:#1d70b8" onclick="showDiv('exp4links');;hideDiv('e5');hideDiv('exp5links')">Delete</a>
            </div>

</div>

<div id="e6" style="display:none;width:80%;">


         {{ govukTextarea({
              name: "experience-6",
              id: "experience-6",
              rows:3,
              value: data['experience-6'],
              label: {
              text: "Experience 6",
              classes: "govuk-label govuk-label--s"
              }
            }) }}

            <div id="exp6links" style="position:relative">
            <!-- <a  id="" style=";position:absolute;left:0px;top:-10px;color:#1d70b8" onclick="showDiv('e6');showDiv('');showDiv('');hideDiv('')">Add another experience</a> -->
            <a  id="" style=";position:absolute;right:0px;top:0px;color:#1d70b8" onclick="showDiv('exp5links');;hideDiv('e6');hideDiv('exp6links')">Delete</a>
            </div>


</div>

</div>
<div>

          </div>




  <input type="hidden" name="source" value="experience">






<div class="govuk-!-margin-top-6">
<button class="govuk-button govuk-!-margin-top-9" onclick="getExpValues()" data-module="govuk-button">Continue</button>
</div>


</div>


</div>


</div>


</FORM>

<script>

  function showHideDiv(div1,div2,div3) {
    document.getElementById(div1).style.display = 'block';
    document.getElementById(div2).style.display = 'block';
    document.getElementById(div3).style.display = 'none';

  }






        function showDiv(div1) {
          document.getElementById(div1).style.display = 'block';

        }

        function hideDiv(div1) {
          document.getElementById(div1).style.display = 'none';

        }






  function deleteDiv(data1,data2){
    document.getElementById(data1).style.display = "none";
    document.getElementById(data2).style.display = "block";
  }


  var textA1;
  var textA2;
  var textA3;
  var textA4;
  var textA5;
  var textA6;

  function getExpValues() {

     textA1 = document.getElementById('experience-1');

     textA2 = document.getElementById('experience-2');
     textA3 = document.getElementById('experience-3');
     textA4 = document.getElementById('experience-4');
     textA5 = document.getElementById('experience-5');
     textA6 = document.getElementById('experience-6');

console.log(textA1.innerHTML)

}

    function experience(title) {
      this.title = title;
    }



    // var experience1 = textA1.value;

console.log(textA1)

    // const experience2 = new experience(textA2.value);
    //
    //
    //
    // const experience3 = new experience(textA3.value);
    //
    //
    // const experience4 = new experience(textA4.value);
    // const experience5 = new experience(textA5.value);
    // const experience6 = new experience(textA6.value);




    //
    // const experienceSelected = {
    //
    //   experience1, experience2, experience3, experience4, experience5, experience6
    // }
    //
    //
    //
    // window.sessionStorage.setItem("experienceSelected", JSON.stringify(experienceSelected));










  </script>
  {% endblock %}
