{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}



{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}

  {% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}
{% block content %}


<form class="form" action="task-list" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">Create a vacancy</h1>
      <p class="govuk-body-m">Enter the details for your job vacancy.</p>


      <input id="grabTitle" type="hidden" name="grabTitle"  value="{{ data['temp-copy-input-autocomplete'] | first}}">
      <input id="grab2Title" type="hidden" name="grab2Title"  value="{{ data['temp-copy-input-autocomplete'] | last}}">

      <!-- <p class="govuk-body-m">Fill in details about the job role you are recruiting for. We will be able to give recommendations for what you could assess at sift and interview.</p> -->
      <div id="grade" style="border-bottom:1px solid #1d70b8;padding-top:30px;padding-bottom:10px" class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">


      <div class="govuk-!-margin-bottom-6">
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="event-name">
              Job title
            </label>
          </h2>
          <input style="width:470px" class="govuk-input" id="event-name" name="event-name" type="text" value="Product manager">


      </div>

      </div>
</div>

<div id="grade" style="border-bottom:1px solid #1d70b8;padding-top:20px;padding-bottom:10px" class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">

        {{ govukSelect({
          id: "gradeselect",
          name: "gradeselect",
          label: {
            text: "What grade is the job role?",
            classes: "govuk-label--m"
          },
          items: [
          {
            value: "none",
            text: "Select grade"
          },

          {
            value: "Administrative Assistant",
            text: "Administrative Assistant"
          },
          {
            value: "Administrative Officer",
            text: "Administrative Officer"
          },
          {
            value: "Executive Officer",
            text: "Executive Officer"
          },
          {
            value: "Higher Executive Officer",
            text: "Higher Executive Officer"
          },
          {
            value: "Senior Executive Officer",
            text: "Senior Executive Officer"
          },
          {
            value: "Grade 7",
            text: "Grade 7",
            selected: checked
          },
          {
            value: "Grade 6",
            text: "Grade 6"
          }
          ]
        }) }}
      </div>

        <div id="field" style="border-bottom:1px solid #1d70b8;padding-top:20px;padding-bottom:10px" class="govuk-!-margin-top-1 govuk-!-margin-bottom-1">

        {{ govukSelect({
          id: "pfield",
          name: "pfield",
          label: {
            text: "What profession is the job role in?",
            classes: "govuk-label--m"
          },
          items: [
          {
            value: "none",
            disabled: true,
            text: "Select profession"
          },
          {
            value: "Analysis",
            text: "Analysis"
          },
          {
            value: "Commercial and Procurement",
            text: "Commercial and Procurement"
          },
          {
            value: "Corporate Finance",
            text: "Corporate Finance"
          },
          {
            value: "Communications",
            text: "Communications"
          },
          {
            value: "Counter Fraud",
            text: "Counter Fraud"
          },
          {
            value: "Digital, Data and Technology",
            text: "Digital, Data and Technology"
          },
          {
            value: "Government Economic Service",
            text: "Government Economic Service"
          },
          {
            value: "Government Social Research",
            text: "Government Social Research"
          },
          {
            value: "Finance",
            text: "Finance"
          },
          {
            value: "Human Resources",
            text: "Human Resources"
          },
          {
            value: "Intelligence Analysis",
            text: "Intelligence Analysis"
          },
          {
            value: "Internal Audit",
            text: "Internal Audit"
          },
          {
            value: "International Trade and Negotiation",
            text: "International Trade and Negotiation"
          },
          {
            value: "Knowledge &amp; Information Management",
            text: "Knowledge &amp; Information Management"
          },
          {
            value: "Legal",
            text: "Legal"
          },
          {
            value: "Medical",
            text: "Medical"
          },
          {
            value: "Occupational Psychology",
            text: "Occupational Psychology"
          },
          {
            value: "Operational Delivery",
            text: "Operational Delivery"
          },
          {
            value: "Operational Research",
            text: "Operational Research"
          },
          {
            value: "Policy",
            text: "Policy"
          },
          {
            value: "Project Management and Delivery",
            text: "Project Management and Delivery",
            selected: checked
          },
          {
            value: "Property",
            text: "Property"
          },
          {
            value: "Science and Engineering",
            text: "Science and Engineering"
          },
          {
            value: "Security",
            text: "Security"
          },
          {
            value: "Tax",
            text: "Tax"
          },
          {
            value: "Veterinary",
            text: "Veterinary"
          },
          {
            value: "Other",
            text: "Other"
          }
          ]
        }) }}
      </div>

      <div id="dept" style="padding-top:20px;padding-bottom:10px" class="govuk-!-margin-top-1">


        <div class="govuk-!-margin-bottom-6">

          <div class="govuk-!-margin-bottom-6">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="event-name">
                What department is the job role in?
              </label>
            </h2>
            <input style="width:470px" class="govuk-input" id="event" name="event" type="text" value="HMRC">


          </div>
  </div>
      </div>




      <div  class="govuk-!-margin-top-6 govuk-!-margin-bottom-3">

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </form>
    <script src="/public/javascripts/accessibleAutocomplete.js"></script>

    <!-- <script src="/public/javascripts/temp-copy.js"></script> -->
    <script src="/public/javascripts/dept.js"></script>
    <script src="/public/javascripts/temp.js"></script>

<script>

    var jobTitle = document.getElementById('grabTitle').value;
    var department = document.getElementById('grab2Title').value;
    window.sessionStorage.setItem("jobTitle", JSON.stringify(jobTitle));
    window.sessionStorage.setItem("department", JSON.stringify(department));




console.log(jobTitle)

</script>
    {% endblock %}
