{% extends "layouts/main.html" %}

{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}


  {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<span class="govuk-caption-l">Online tests</span>
<h1 class="govuk-heading-xl">Select online tests</h1>

    <form class="form" action="select-behaviours" method="post">
    {% set hintHTML %}

    <br></br>
    {{ govukDetails({
      summaryText: "More about online testing",
      html: '<a href="https://www.gov.uk/guidance/civil-service-online-tests">Read the online testing guidance</a> to find out what tests are available.'
    }) }}
    {% endset %}

    <!-- {% set whyHTML %}
{{ govukInput({
  label: {
    text: "Why do you not want to use an online test?",
    classes: "govuk-label--s",
    isPageHeading: false
  },
  id: "why-test",
  name: "why-test",
  value: data['why-test']
}) }}
{% endset %} -->


<div class="govuk-!-margin-bottom-4 govuk-!-margin-top-4" style="background:#F4FAFF;border-left:5px solid #1d70b8;padding:10px">
<p class="govuk-body-m" style="font-size:20px;line-height:1.6"><strong>You can select up to  3 online tests. We recommend assessing by online test at sift for <strong>Product manager</strong> roles because they attract a lot of applications.</p>
</div>


{{ govukCheckboxes({
  idPrefix: "tests",
  classes: "govuk-checkboxes--small",
  name: "tests",
  fieldset: {
    legend: {
      text: "What online tests do you require?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    html: hintHTML
  },
  items: [

      {
      value: "Verbal skills",
      classes: "govuk-body-l",
      text: "Verbal skills",
      checked: checked("tests","Verbal skills"),
      hint: {
        text: "This test measures the ability to identify relevant information and draw logical conclusions from written information."
      }
    },
    {
      value: "Numeracy skills",
      text: "Numeracy skills",
      checked: checked("tests","Numeracy skills"),
      hint: {
        text: "This test measures the ability to perform calculations, and evaluate and interpret numerical information to solve problems."
      }
      },
      {
        value: "Judgement skills",
        text: "Judgement skills",
        checked: checked("tests","Judgement skills"),
        hint: {
          text: "This test measures the ability to demonstrate judgement and decision-making regarding specific Civil Service Behaviours, which have been selected as important for success in your chosen job."
        }
        },
        {
          value: "Management judgement skills",

          text: "Management judgement skills",
          checked: checked("tests","Management judgement skills"),
          hint: {
            text: "This test measures the ability to demonstrate judgement and decision-making regarding day to day management of others. The aspects of behaviour measured have been selected as important for line management success in your chosen job."
          }
          },
          {
            value: "Strengths",
            text: "Strengths",
            checked: checked("tests","Strengths"),
            hint: {
              text: "The Civil Service Work Strengths Test is an online test of strengths - what you do regularly, what you do well and what motivates you."
            }
            },
            {
              value: "Customer service skills",
              text: "Customer service skills",
              checked: checked("tests","Customer service skills"),
              hint: {
                text: "The Customer Service Skills Test is an online test of skills and abilities in relation to customer service roles, and provides a realistic preview of what is typically involved in such roles in the Civil Service."
              }
              },
              {
                value: "Casework skills",
                text: "Casework skills",
                checked: checked("tests","Casework skills"),
                hint: {
                  text: "The Casework Skills Test is an online test of skills and abilities in relation to caseworking roles, and provides a realistic preview of what is typically involved in such roles in the Civil Service."
                }
                },
                {
                  divider: "or"
                },
                {
                  value: "I don't require an online test",
                  text: "I don't require an online test",
                  checked: checked("tests","I don't require an online test")
                }
  ]
}) }}

<input type="hidden" name="source" value="tests">
<input type="hidden" name="tests" value="completed">
<div style="border-top:1px solid #1d70b8">
  {{ govukButton({

    classes: "govuk-!-margin-top-9",
    text: "Continue"
  }) }}
</div>

</form>
</div>
</div>
{% endblock %}
