{% extends "layouts/main.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}


<style>
  p, div {
    font-family: "GDS Transport", arial, sans-serif;
    line-height: 1.2;
    margin: 0.8
  }
  p, li {
    font-size: 18px; line-height: 1.2;
    vertical-align: text-top;

  }


  h2 {
    font-size: 30px; line-height: 0.5;
    vertical-align: text-top;

  }

  hint {


    font-size: 18px;
    font-weight:normal;
    line-height: 1.3;
    vertical-align: text-top;
  }


  h3 {
    font-size: 20px;
    line-height: 1.5;

  }

  label {
    font-size: 18px;
    line-height: 1;
    vertical-align: text-top;
  }


  input[type="checkbox"]:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    color: black;
  }




  input[type="checkbox"]:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: 4px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }
</style>


{% set countBe  = 0 %}
{% set countSt  = 0 %}
{% set countEx  = 0 %}
{% set countSk  = 0 %}




<form class="form" action="selection-criteria-summary" method="post">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        When will you assess each element?
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-3">You must choose when to assess all elements you have selected.</p>

      <h2 id="bheader" class="govuk-heading-l govuk-!-margin-top-3" style="border-bottom:1px solid #1d70b8;padding-bottom:10px;">Behaviours</h2>

<p id="lShip" class="govuk-body-m govuk-!-margin-bottom-3"></p>

      <div id="behDiv"></div>


  <h2 id="stheader" class="govuk-heading-l govuk-!-margin-top-9" style="border-bottom:1px solid #1d70b8;padding-bottom:10px;">Strengths</h2>

      <div id="strDiv"></div>




      <h2 id="eheader" class="govuk-heading-l govuk-!-margin-top-9" style="border-bottom:1px solid #1d70b8;padding-bottom:10px;">Experience</h2>
      {% set criteriaExpArr = [] %}

      {% if data['Experience 1'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['Experience 1']|truncate(50)), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['Experience 2'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['Experience 2']|truncate(50)), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['Experience 3'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['Experience 3']|truncate(50)), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['Experience 4'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['Experience 4']|truncate(50)), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['Experience 5'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['Skills 5']|truncate(50)), criteriaExpArr) %}
      {% else %}{% endif %}

      {% if data['Experience 6'].length > 0 %}
      {% set criteriaExpArr = (criteriaExpArr.push(data['Experience 6']|truncate(50)), criteriaExpArr) %}
      {% else %}{% endif %}





      {% for eons in criteriaExpArr | slice(1) %}
      {% for eon in eons %}



      {{ govukCheckboxes({
        name: "experience-stage",
        fieldset: {
          legend: {
            text: eon,
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          name: eon,
          id: "Experience",
          checked: checked('experience-stage',"Sift"),
          value: "Sift",
          classes: "govuk-label-l",
          text: "Sift"
        },
        {
          name: eon,
          id: "Experience",
          checked: checked('experience-stage',"Interview"),
          value: "Interview",
          classes: "govuk-label-l",
          text: "Interview"
        }
        ]
      }) }}

      {%endfor%}{%endfor%}




      <div>
        <h2 id="skheader" class="govuk-heading-l govuk-!-margin-top-9" style="border-bottom:1px solid #1d70b8;padding-bottom:10px;">Skills</h2>


        {% set criteriaSkillsArr = [] %}





        {% if data['Technical skills 1'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['Technical skills 1']|truncate(50)), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['Technical skills 2'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['Technical skills 2']|truncate(50)), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['Technical skills 3'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['Technical skills 3']|truncate(50)), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['Technical skills 4'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['Technical skills 4']|truncate(50)), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['Technical skills 5'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['Technical skills 5']|truncate(50)), criteriaSkillsArr) %}
        {% else %}{% endif %}

        {% if data['Technical skills 6'].length > 0 %}
        {% set criteriaSkillsArr = (criteriaSkillsArr.push(data['Technical skills 6']|truncate(50)), criteriaSkillsArr) %}
        {% else %}{% endif %}






        {% for es in criteriaSkillsArr | slice(1) %}
        {% for e in es %}


        {{ govukCheckboxes({
          name: "skills-stage",
          fieldset: {
            legend: {
              text: e,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
          {
            name: e,
            id: "Technical skills",
            checked: checked('skills-stage',"Sift"),
            value: "Sift",
            classes: "govuk-label-l",
            text: "Sift"
          },
          {
            name: e,
            id: "Technical skills",
            checked: checked('skills-stage',"Interview"),
            value: "Interview",
            classes: "govuk-label-l",
            text: "Interview"
          }
          ]
        }) }}


{%endfor%}
{% endfor %}
      </div>







      <button class="govuk-button" onclick="checkCheckBoxes()" data-module="govuk-button">Continue</button>


</div></div>
</form>
<script>
  const behavioursSelected = JSON.parse(window.sessionStorage.getItem("BehavioursSelected"));

    var outputBS = document.getElementById("behDiv");
    var lShip = document.getElementById("lShip");
    var bsList = document.createElement("p");
    var lShipContent = document.createElement("p");
    var lShipMessage = "<strong>We recommend assessing Leadership at sift and interview for Grade 6 and 7 roles because they usually involve line management responsibilities.</strong>";
    for (var log=0; log < behavioursSelected.length; log++) {
      var outputBS = document.getElementById('behDiv');
      var contentBS = document.createElement("p");
      contentBS.style.cssText = "font-size:24px;font-weight:bold";
      contentBS.innerHTML = behavioursSelected[log];
      outputBS.appendChild(contentBS);
      var label = document.createElement("label");
      var checkBox = document.createElement("input");

      if (behavioursSelected[log] == "Leadership") {

        lShipContent.style.cssText = "line-height:1.6;font-size:20px;background:#F4FAFF;;border-left:5px solid #1d70b8;padding:20px";
        lShipContent.innerHTML = lShipMessage;
        lShip.appendChild(lShipContent);
      }


      checkBox.type = "checkbox";
      checkBox.value = "Sift";
      checkBox.setAttribute("name",behavioursSelected[log]);
      checkBox.setAttribute("id","Behaviours");

      checkBox.style.cssText = "width: 40px;height: 40px;;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
      label.style.cssText = "display: block;font-size:20px;padding-left: 15px;text-indent: 40px;";
      label.appendChild(document.createTextNode("Sift"));
      outputBS.appendChild(label);
      outputBS.appendChild(checkBox);

      var label2 = document.createElement("label");
      var checkBox2 = document.createElement("input");
      checkBox2.type = "checkbox";
      checkBox2.value = "Interview";
      checkBox2.setAttribute("name",behavioursSelected[log]);
      checkBox2.setAttribute("id","Behaviours");
      checkBox2.style.cssText = "width: 40px;height: 40px;;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
      label2.style.cssText = "display: block;font-size:20px;padding-left: 15px;text-indent: 40px;";
      label2.appendChild(document.createTextNode("Interview"));
      outputBS.appendChild(label2);
      outputBS.appendChild(checkBox2);
}



const strengthsSelected = JSON.parse(window.sessionStorage.getItem("StrengthsSelected"));

  var outputSS = document.getElementById("strDiv");
  var stsList = document.createElement("p");

  for (var lop=0; lop < strengthsSelected.length; lop++) {
    var outputSS = document.getElementById('strDiv');
    var contentSS = document.createElement("p");
    contentSS.style.cssText = "font-size:24px;font-weight:bold";
    contentSS.innerHTML = strengthsSelected[lop];
    outputSS.appendChild(contentSS)
    var labelS = document.createElement("label");
    var checkBoxS = document.createElement("input");
    checkBoxS.setAttribute("name",strengthsSelected[lop]);
    checkBoxS.setAttribute("id","Strengths");
    checkBoxS.type = "checkbox";
    checkBoxS.value = "Interview";
    checkBoxS.style.cssText = "width: 40px;height: 40px;;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
    labelS.style.cssText = "display: block;font-size:20px;padding-left: 15px;text-indent: 40px;";
    labelS.appendChild(document.createTextNode("Interview"));
    outputSS.appendChild(labelS);
    outputSS.appendChild(checkBoxS);
}


function checkCheckBoxes() {
  var stageChecksSift = [];
  var stageChecksInt = [];
  var arr1 = [];
  var arr2 = [];
    var arr3 = [];

    var arr4 = [];

    const siftStage = { };
    const intStage = { };

    var checks = document.getElementsByTagName('input');

    for (i = 0; i < checks.length; i++) {
      if (checks[i].type == 'checkbox' && checks[i].checked ) {

        if (checks[i].value == "Sift") {
          arr1.push(checks[i].name);
          arr2.push(checks[i].id);

        // } else if (checks[i].value == "Interview") {
        //   stageChecksInt.push(checks[i].value, checks[i].name, checks[i].id);
        //
        // }

        // window.sessionStorage.setItem("stageChecksInt", JSON.stringify(stageChecksInt));
      }

      if (checks[i].value == "Interview") {
        arr3.push(checks[i].name);
        arr4.push(checks[i].id);

      // } else if (checks[i].value == "Interview") {
      //   stageChecksInt.push(checks[i].value, checks[i].name, checks[i].id);
      //
      // }

      // window.sessionStorage.setItem("stageChecksInt", JSON.stringify(stageChecksInt));
    }

    }
    }


    for (var i = 0; i < arr1.length; i++) {
      siftStage[arr1[i]] = arr2[i];
    }
     window.sessionStorage.setItem("siftStage", JSON.stringify(siftStage));


     for (var j = 0; j < arr3.length; j++) {
       intStage[arr3[j]] = arr4[j];
     }
      window.sessionStorage.setItem("intStage", JSON.stringify(intStage));



}
//   var checks = document.getElementsByTagName('input');
//
//   for (i = 0; i < checks.length; i++) {
//     if (checks[i].type == 'checkbox' && checks[i].checked ) {
//
//       if (checks[i].value == "Sift") {
//         stageChecksSift.push(checks[i].value, checks[i].name, checks[i].id);
//
//       } else if (checks[i].value == "Interview") {
//         stageChecksInt.push(checks[i].value, checks[i].name, checks[i].id);
//
//       }
//
//       window.sessionStorage.setItem("stageChecksSift", JSON.stringify(stageChecksSift));
//       window.sessionStorage.setItem("stageChecksInt", JSON.stringify(stageChecksInt));
//     }
//   }
// }






//       var label2 = document.createElement("label");
//       var checkBox2 = document.createElement("input");
//
//       checkBox2.type = "checkbox";
//
//       checkBox2.value = "Interview";
//       label2.innerText = "Interview";
//       label2.appendChild(document.createTextNode("Interview"));
//       outputBS.appendChild(label2);
//       outputBS.appendChild(checkBox2);
// }




      // for (var i = 0; i < behavioursSelected.length; i++) {
      //   bsList.innerText = behavioursSelected[i];
      //   console.log(bsList.innerText)
      //   outputBS.appendChild(bsList);
      //   var label = document.createElement("label");
      //   var checkBox = document.createElement("input");
      //   var label2 = document.createElement("label");
      //   var checkBox2 = document.createElement("input");
      //   checkBox.type = "checkbox";
      //   checkBox2.type = "checkbox";
      //   checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
      //   label.style.cssText = "display: block;font-size:18px;padding-left: 15px;text-indent: 40px;";
      //   checkBox.innerText = "Sift";
      //   checkBox.value = "Sift";
      //   checkBox.setAttribute("id","behaviours-stage"+bsList+i);
      //   checkBox.setAttribute("name","behaviours");
      //   checkBox2.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
      //   label.style.cssText = "display: block;font-size:18px;padding-left: 15px;text-indent: 40px;";
      //   checkBox2.innerText = "Interview";
      //   checkBox2.value = "Interview";
      //   checkBox2.setAttribute("id","behaviours-stage"+bsList+i);
      //   checkBox2.setAttribute("name","behaviours");
      //
      //   label.appendChild(document.createTextNode(bsList[i]));
      //   outputBS.appendChild(label);
      //   outputBS.appendChild(checkBox);
      //     outputBS.appendChild(checkBox2);
        // hint.appendChild(document.createTextNode(hinter[i]));
        // outputB.appendChild(hint);






</script>
  {% endblock %}
