{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}


  {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}
  {% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-2">Vacancy <strong>102201</strong></p>

      <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-2">Grade <strong>G7</strong></p>

      <h1 style="border-bottom:1px solid #1d70b8;;padding-bottom:10px;" class="govuk-heading-xl">Product manager</h1>

      <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-7">You have completed 7 of 12 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>About the vacancy
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="eligibility-status">
                  Basic details
                </a>
              </span>



              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>


            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Job details
                </a>
              </span>



              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>


            </ul>
          </li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Advert set up
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  About the role
                </a>
              </span>

              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

            </li>





            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Advert information
                </a>
              </span>


              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>

            </li>
          </ul>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Selection criteria and assessment methods
          </h2>
          <ul class="app-task-list__items">


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="pick-criteria-intro" aria-describedby="eligibility-status">
                  Pick selection criteria
                </a>
              </span>
              {% if data['done'] == "dusted" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {%endif%}

            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="online-tests" aria-describedby="eligibility-status">
                  Add online tests
                </a>
              </span>
              {% if data['tests'] == "completed" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Assign selection criteria to sift, interview or both stages
                </a>
              </span>

              {% if data['done'] == "dusted" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {%endif%}

            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Select assessment methods for sift
                </a>
              </span>

              {% if data['done'] == "dusted" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {%endif%}

            </li>




            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Select assessment methods for interview
                </a>
              </span>

              {% if data['done'] == "dusted" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {%endif%}




            </li>

            <li class="app-task-list__item">



              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                  Review your criteria and methods
                </a>
              </span>
              {% if data['done'] == "dusted" %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
              {% else %}

              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
              {%endif%}
            </li>


          </ul>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Recruitment channels
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="company-information-status">
                  Approach
                </a>
              </span>

              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="contact-details-status">
                  Approval
                </a>
              </span>

              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>
            </li>


          </ul>

          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span>Finalise and submit
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link govuk-link--no-visited-state" href="#" aria-hidden="list-convictions-status">
                  Campaign dates
                </span>


                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not started</strong>

              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a class="govuk-link govuk-link--no-visited-state" href="#" aria-hidden="list-convictions-status">
                    Submit
                  </span>


                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                </li>
              </ul>

            </ol>
          </div>

        </div>







        {% endblock %}
