{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">About the vacancy</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="/csu71/task-list-new-campaign"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

<style>

  .govuk-tag--bright-green{
    background-color:#189d51;
    color:#fffff;
  }

  .app-step-nav__step:last-child:before {
  content: "";
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  margin-left: 7.5px;
  width: 15px;
  height: 0;
  border-bottom: none;
}

.app-step-nav__step:last-child:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: solid 0px #b1b4b6;
  background: #ffffff;
  left: 0;
  margin-left: 0.90625em;
  top: 0.9375em;
}

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Basic details</h1>
    <form action="" method="post" novalidate>

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Are all the posts in this job advert the same?
        </h1>
      </legend>
      <div id="contact-hint" class="govuk-hint">
        If the jobs are identical, or the only difference between them is location, select yes.<br><br>If the jobs have differences in grade, contract type or contract length, select no.
      </div><br>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="yes~/csu71/blank-campaign-set-up/basic-details-shorter" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">

        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="no~/csu71/blank-campaign-set-up/basic-details-variant" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            No
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <br>

            <div data-module="appstepnav"id="step-by-step-navigation" >
      <h2 class="govuk-heading-s">How to complete your job advert</h2>
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step app-step-nav__step" aria-current="step" id="check-you-re-allowed-to-drive">
          <div class="app-step-nav__header js-toggle-panel" data-position="1" style="border-top:none">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title" style="font-weight:normal">
                Provide the details for the first job type, for example AO grade or 12 months contract
              </span>
              <br>
              <br><br>

            </h3>
          </div>
        </li>
        <li class="app-step-nav__step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="1" style="border-top:none;">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title" style="font-weight:normal">
                Continue to the next job type, for example, EO grade or 18 months contract<br><br>The details will be pre-populated from the first job you added, so you only need to edit the differences
              </span><br>

              <br>
              <br>
            </h3>
          </div>
        </li>
        <li class="app-step-nav__step" id="get-a-provisional-licence">
          <div class="app-step-nav__header js-toggle-panel" data-position="1" style="border-top:none;">
            <h3 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title" style="font-weight:normal">
                Once you’ve added all the different jobs, you can complete the rest of the advert
              </span><br><br>

            </h3>
          </div>
        </li>

      </ol>
    </div>





          </div>
        </div>


      </div>
    </fieldset>
  </div>


    <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>





{% endblock %}
