{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Recruitment channels</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="/csu71/task-list-exp-copy-ad"><strong>Return to task list</strong></a></span>

    <!-- {% if data['org'] == "ddat" %}
    <div id ="ddattag"  style="position:absolute;right:10px;top:60px;;">
      <a href="/csu71/template-csofficial"><img src="/public/images/ddat1.png" alt="Template by Digital, Data and Technology Profession" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>

    </div>
    {% elif data['org'] == "co" %}
    <div id ="cotag"  style="position:absolute;right:10px;top:60px;;">
      <a  href="/csu71/template-csofficial"> <img src="/public/images/co-logo.png" alt="Template by Cabinet Office" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>
    </div>
    {% elif data['org'] == "ho" %}
    <div id ="hotag"  style="position:absolute;right:10px;top:60px;;">
      <a href="/csu71/template-csofficial"><img src="/public/images/ho-logo.png" alt="Template by Home Office" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>
    </div>
    {% endif %} -->
  </div>


  </div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}


  {% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/csu71/approach-handlerAdcopy" method="post">

      {{ govukRadios({
        idPrefix: "who-can-apply",
        name: "who-can-apply",
        fieldset: {
          legend: {
            text: "Who can apply?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "External",
          text: "External",
          checked: true,
          checked: checked("who-can-apply","External"),
          hint: {
            text: "Everyone will be able to see and apply for this vacancy."
          }
        },
        {
          value: "Across Government",
          text: "Across Government",
          checked: checked("who-can-apply","Across Government"),
          hint: {
            text: "Only civil servants will be able to see and apply for this vacancy."
          }
        },
        {
          value: "Internal, to your department",
          text: "Internal, to your department",
          checked: checked("who-can-apply","Internal, to your department"),
          hint: {
            text: "Only employees in your departmental group can see and apply for this vacancy."
          }
        },
        {
          value: "Managed moves",
          text: "Managed moves",
          checked: checked("who-can-apply","Managed moves"),
          hint: {
            text: "This is for managed moves, such as redeployment."
          }
        }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
      {{ govukButton({
        text: "Preview advert",
        classes: "govuk-button--secondary",
        href: "preview-advert"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
