{% extends "layouts/main.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}


  <form class="form" action="pick-criteria-type" method="post">


    <div class="govuk-grid-row">





      <div class="govuk-grid-column-full govuk-!-margin-bottom-6" style="border-bottom:1px solid #1d70b8;max-width:90%;padding-left:30px; padding-right:30px">
        <h1 class="govuk-heading-xl">
          Before you start
        </h1>

        <p class="govuk-body-m">You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Create your job vacancy</li>
          <li>Get recommendations for your job vacancy</li>
          <p class="govuk-body-m">Or</p>
          <li>Find a previous job advert that matches your job</li>
        </ul>
<h2 class="govuk-heading-l">Create your job vacancy</h2>
<p class="govuk-body-m">Use the job role description to create a 'success profile'. The Success Profile framework breaks down characteristics into 5 elements to help you find the right candidate for your job role.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Behaviours</li>
  <li>Experience</li>
  <li>Technical skills</li>
    <li>Strengths</li>
      <li>Abilities</li>
</ul>

<h2 class="govuk-heading-l">Get recommendations for your job vacancy</h2>
<p class="govuk-body-m">When selecting your assessment methods you will be given recommendations for what to include depending on the:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>requirements related to the role</li>
  <li>How many candidates could potentially apply for this role</li>
</ul>

<p class="govuk-body-m">These recommendations are a result of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>consulting with Occupational Psychologists</li>
  <li>analytics of previous job vacancies</li>
</ul>

<h2 class="govuk-heading-l">Find a previous job advert that matches your job</h2>
<p class="govuk-body-m">Give details about your vacancy and we will find a successful previous job advert that matches your job details.</p>



        <!-- <p class="govuk-body-l">Select what elements you want to assess candidates on at sift and interview.</p>
        <p class="govuk-body-m">Success profiles are characteristics broken down into 5 elements to help you find the right candidate for your job role.</p>

        <p class="govuk-body-m">You will create a 'success profile' for your job role using the 5 elements to assess the job role's requirements.</p>
        <p class="govuk-body-m">Each element can be assessed in a number of ways to suit the nature of the vacancy and used at any stage of the assessment process. Not all of the elements are relevant to every role, and will vary depending on the profession, level and type of role. Vacancy holders can decide what elements are most important to assess based on the job role requirements.</p>

        <p class="govuk-body-m">If you would like to learn more about how to assess candidates, you can sign up for <a href="#">Success Profile training</a>.</p> -->


      </div>


    </div>

    {{ govukButton({
      classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-6",
      text: "Continue"
    }) }}


  </form>
  {% endblock %}
