{% extends "layouts/main.html" %}

{% block header %}
{% include 'includes/header.html' %}
  {% endblock %}


  {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


    <h2 id="v04" style="" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">Coming soon!</h2>





    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3"  style="background:#f3f2f1;border:1px solid #1d70b8;padding:10px">

    <ul class="govuk-list" style="font-size:18px;display: inline;">
    <li style="text-align: left;display: inline;padding-right:30px">Jump to:</li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v04"><strong>v.04</a></li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v03"><strong>v.03</strong></a></li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v02"><strong>v.02—Cristina's concept</strong></a></li>
    <li style="text-align: left;display: inline;padding-right:30px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#v01"><strong>v.01—Mark's model</strong></a></li>
    </ul>
    </div>

    <div class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">
      <h2 id="v04" style="" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v04/start">v.04</a></h2>
      <span  class="govuk-caption-m govuk-!-margin-bottom-6">May 2023</span>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
          <h3 class="govuk-heading-m">Hypotheses</h3>
          <p class="govuk-body-m"></p>
          <h3 class="govuk-heading-m">Method</h3>
          <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
          <h3 class="govuk-heading-m">Results</h3>
          <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
          <h3 class="govuk-heading-m">Decisions</h3>
          <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
        </div>
      </div>
    </div>

    <div id="v03" class="govuk-!-margin-bottom-6" style="border:1px solid #1d70b8;padding:30px">
      <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v03/pick-criteria-type">v.03</a></h2>
      <span  class="govuk-caption-m govuk-!-margin-bottom-6">April-May 2023</span>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
          <h3 class="govuk-heading-m">Hypotheses</h3>
          <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
            Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>
            <h3 class="govuk-heading-m">Method</h3>
            <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
            <h3 class="govuk-heading-m">Results</h3>
            <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            <h3 class="govuk-heading-m">Decisions</h3>
            <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
      </div>
    </div>
    </div>

    <div id="v02" style="border:1px solid #1d70b8;padding:30px">
      <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v02/what-essential-criteria-do-you-want">v.02—Cristina's concept</a></h2>
      <span  class="govuk-caption-m govuk-!-margin-bottom-6">April 2023</span>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
          <h3 class="govuk-heading-m">Hypotheses</h3>
          <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
            Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>
            <h3 class="govuk-heading-m">Method</h3>
            <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
            <h3 class="govuk-heading-m">Results</h3>
            <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            <h3 class="govuk-heading-m">Decisions</h3>
            <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
        </div>
      </div>
    </div>

     <div id="v01" class="govuk-!-margin-top-6" style="border:1px solid #1d70b8;padding:30px">
      <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/v01/start">v.01—Mark's model</a></h2>
      <span  class="govuk-caption-m govuk-!-margin-bottom-6">March 2023</span>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters" style="border-right:1px solid #1d70b8">
          <h3 class="govuk-heading-m">Hypotheses</h3>
          <p class="govuk-body-m">Quisque placerat facilisis egestas cillum dolore. Cras mattis iudicium purus sit amet fermentum. Praeterea iter est quasdam res quas ex communi.
            Pellentesque habitant morbi tristique senectus et netus. Idque Caesaris facere voluntate liceret: sese habere. Tu quoque, Brute, fili mi, nihil timor populi, nihil! At nos hinc posthac, sitientis piros Afros. Hi omnes lingua, institutis, legibus inter se differunt.</p>
            <h3 class="govuk-heading-m">Method</h3>
            <p class="govuk-body-m">The concept Quisque placerat facilisis egestas cillum dolore. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
            <h3 class="govuk-heading-m">Results</h3>
            <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
            <h3 class="govuk-heading-m">Decisions</h3>
            <p class="govuk-body-m">Quam temere in vitiis, legem sancimus haerentia. Qui ipsorum lingua Celtae, nostra Galli appellantur. Ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
          </div>
          <div class="govuk-grid-column-one-quarter">
        </div>
      </div>
    </div>

</div>
</div>
{% endblock %}
