{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l"></span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="task-list"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="manage-minimum-scores" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" style="width:80%">
<span class="govuk-caption-l">Policy Adviser (1001334)</span>
<h1 class="govuk-heading-xl">Change minimum score</h1>
<p class="govuk-body-l">For criteria:<BR>{{data['criteria']}}</p>
<!-- <p class="govuk-body-m"><strong>As panel lead, you need to decide if you are happy to proceed with the panel consensus. Select and confirm to enact these decisions.</strong></p> -->

<!-- <h2 style="font-size:32px;" class="govuk-heading-l">Sift Stage 1</h2>
<h3 style="font-size:22px;" class="govuk-heading-l">Lead criteria: Seeing the Big Picture</h3> -->
<!-- <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Minimum pass score
  </label>
  <select style="width:40%" class="govuk-select" id="minscore" name="minscore">
    <option value="1">1 Not Demonstrated - No positive evidence provided</option>
    <option value="2">2 Minimal Demonstration - Limited positive evidence provided</option>
    <option value="3">3 Moderate Demonstration - Moderate positive evidence provided</option>
    <option value="4">4 Acceptable Demonstration - Adequate positive evidence provided</option>
    <option value="5">5 Good Demonstration - Substantial positive evidence provided</option>
    <option value="6">6 Strong Demonstration - Substantial, positive evidence provided</option>
    <option value="7">7 Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level</option>
  </select>
</div> -->


{% set scArr = [1,2,3,4,5,6,7,8,9,10] %}


{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "score",
  name: "score",
  label: {
    text: "Minimum passing score"
  },
  items: [
    {
      value: "1",
      text: "1",
      selected: checked("score","1")
    },
    {
      value: "2",
      text: "2",
      selected: checked("score","2")

    },
    {
      value: "3",
      text: "3",
      selected: checked("score","3")
    },
    {
      value: "4",
      text: "4",
      selected: checked("score","4")
    },
    {
      value: "5",
      text: "5",
      selected: checked("score","5")
    },
    {
      value: "6",
      text: "6",
      selected: checked("score","6")
    },
    {
      value: "7",
      text: "7",
      selected: checked("score","7")
    }
  ]
}) }}


<dl class="govuk-summary-list" style="margin-top:-20px">
  <div class="govuk-summary-list__row">
    <dt style="width:50%;font-weight:normal" class="govuk-summary-list__key">

    </dt>
    <dd class="govuk-summary-list__value">





    </dd>

  </div>
</dl>



  {{ govukButton({
    text: "Change the score"
    }) }}
</form>
              </div>
              </div>

<script>



  const confirm = document.getElementById("confirmall");
  confirm.addEventListener('change', (event) => {



    for (var p=0; p < proceed.length;p++){
        const proceed = document.getElementsByTagName("input");

        if (confirm.checked){
            proceed[p].checked = "true"
        }

        if (confirm.unchecked){
            proceed[p].checked = "false"
    }
}


    // if (confirm.checked) {
    //
    //   proceed.checked = true;
    // } else {
    //   proceed.checked = false;
    // }




  });

</script>
  {% endblock %}
