{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Advert setup</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="task-list-ad-only"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="about-the-role" method="post">

<div class="govuk-grid-row  govuk-!-margin-top-3">
  <div class="govuk-grid-column-three-quarters">

<!-- <p class="govuk-body-m">For those responsible, this will mean receiving and responding to candidate queries lorem ipsum dolor sit amet blah blah.</p> -->


    {{ govukRadios({
      idPrefix: "spoc",
      name: "spoc",
      fieldset: {
        legend: {
          text: "Who is the main point of contact for this campaign?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For those responsible, this will mean receiving and responding to queries from candidates and others involved in the campaign."
      },
      items: [
        {
          id: "mono",
          value: "Me",
          text: "Me",
          checked: checked("spoc", "Me")
        },
        {
          id: "poly",
          value: "Someone else",
          text: "Someone else",
          checked: checked("spoc", "Someone else")
        },
        {
          id: "mono2",
          value: "me-and-another",
          text: "Me and another person share this responsibility",
          checked: checked("spoc", "me-and-another")
        },

        {
          id: "poly2",
          value: "Team-mailbox",
          text: "We use a team mailbox",
          checked: checked("spoc", "Team-mailbox")
        }
      ]
    }) }}


    <div id="another" style="display:none">

      {{ govukInput({
        label: {
          text: "What is the other person's name?",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "another-name",
        name: "another-name",
        value: data['another-name']
      }) }}

      {{ govukInput({
        label: {
          text: "What is the other person's email address?",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "another-email",
        name: "another-email",
        value: data['another-email']
      }) }}
</div>

<div id="team-mailbox" style="display:none">



  {{ govukInput({
    label: {
      text: "What is the team mailbox's email address?",
      classes: "govuk-label--s",
      isPageHeading: false
    },
    classes: "govuk-input--width-20",
    id: "team-email",
    name: "team-email",
    value: data['team-email']
  }) }}
</div>





<div id="question2" style="display:none">

        {{ govukInput({
          label: {
            text: "What's the name of the Single Point of Contact?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "else-name",
          name: "else-name",
          value: data['else-name']
        }) }}

        {{ govukInput({
          label: {
            text: "What's the email address of the Single Point of Contact?",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          classes: "govuk-input--width-20",
          id: "else-email",
          name: "else-email",
          value: data['else-email']
        }) }}
</div>


<div  style="float:right;display:none">
  {{ govukSelect({
    attributes: {
      "tabindex": "4"
    },
    id: "person2-involvement",
    name: "person2-involvement",
    label: {
      text: "How are they involved?",
      classes: "govuk-label--s"
    },
    items: [
    {
      value: "none",
      text: "Select involvement"
    },
    {
      value: "Point of contact",
      selected: checked("person2-involvement","Point of contact"),
      text: "Point of contact"

    },
    {
      value: "Content contributor",
      selected: checked("person2-involvement","Content contributor"),
      text: "Content contributor"
    },
    {
      value: "Reviewer",
      selected: checked("person2-involvement","Reviewer"),
      text: "Reviewer"
    },
    {
      value: "Approver",
      selected: checked("person2-involvement","Approver"),
      text: "Approver"
    },
    {
      value: "Panelist",
      selected: checked("person2-involvement","Panelist"),
      text: "Panelist"
    }
    ]
  }) }}

</div>

<button class="govuk-button govuk-!-margin-top-9" data-module="govuk-button">Continue</button>

</div>
      </form>


<script>



const mono = document.getElementById('mono');
const mono2 = document.getElementById('mono2');
const poly = document.getElementById('poly');
const poly2 = document.getElementById('poly2');

var shared = document.getElementById('another').style.display;
if (mono2.checked && mono2.value =="me-and-another") {
  showDiv("another");
}
if (poly2.checked && poly2.value =="team-mailbox") {
  showDiv("team-mailbox");
}


// const off = document.getElementById('off');
// const hyb = document.getElementById('hyb');
// const rem = document.getElementById('rem');

// if (ukbased.checked && ukbased.value == "Yes") {
//   showDiv("mroe");
// }


mono2.addEventListener('change', (event) => {
  if (mono2.checked) {
    showDiv("another");
    hideDiv("question2")
  }

});


poly.addEventListener('change', (event) => {
  if (poly.checked) {
    hideDiv("another");
  }

});

mono.addEventListener('change', (event) => {
  if (mono.checked) {
    hideDiv("question2");
    hideDiv("another");
  }

});

poly2.addEventListener('change', (event) => {
  if (poly2.checked) {
    showDiv("team-mailbox");
    hideDiv("question2")
  }

});








function hideDiv(div1) {
  document.getElementById(div1).style.display = 'none';

}

function showDiv(div1) {
  document.getElementById(div1).style.display = 'block';

}
</script>






{% endblock %}
