{% extends "layouts/main.html" %}
{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}


{% block pageTitle %}
Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .app-header--full-width-border {
    border-bottom: 10px solid #1f70b8;
  }
  .govuk-main-wrapper {
    padding-top:0px
  }

  .notification-wrapper-good {
    padding:0px
  }

  .notification-wrapper-warning {
    padding:45px 0px 30px 0px
  }

  .notification-good {
    margin:20px;
    color:#0b0c0c;
    padding:15px;
    background-color:#e8e6e5;
    border-left:10px solid #0ba25c;
    position:relative;
  }

  .notification-warning {
    margin:20px;
    color:#0b0c0c;
    padding:15px;
    background-color:#e8e6e5;
    border-left:10px solid #e52d10;
    position:relative;
  }

  .moj-notification-badge {
    padding:1px 3px;
    margin-left:8px
  }
</style>

<nav class="x-govuk-primary-navigation" aria-labelledby="primary-navigation-heading">
  <div class="govuk-width-container">
    <h2 class="govuk-visually-hidden" id="primary-navigation-heading">Navigation</h2>
    <ul class="x-govuk-primary-navigation__list">
      <li class="x-govuk-primary-navigation__item x-govuk-primary-navigation__item--current">
        <a class="x-govuk-primary-navigation__link" aria-current=page href="campaigns">Campaigns</a>
      </li>
      <li class="x-govuk-primary-navigation__item">
        <a class="x-govuk-primary-navigation__link" aria-current=page href="messages">Messages (2)</a>

      </li>
      <li class="x-govuk-primary-navigation__item ">
        <a class="x-govuk-primary-navigation__link" href="user-management">User management</a>
      </li>

      <li class="x-govuk-primary-navigation__item ">
        <a class="x-govuk-primary-navigation__link" href="guidance">Guidance</a>
      </li>
    </ul>
  </div>
</nav><br><br>

<form class="form" action="ad-only-details-c" method="post">

<button type="submit" class="govuk-button" data-module="govuk-button" style="margin=bottom:0px">
  Create a new vacancy
</button>

</form>

<div class="govuk-tabs" data-module="govuk-tabs" style="padding-top:10px">
<h2 class="govuk-tabs__title">
  Contents
</h2>
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab" href="#current">
      Current campaigns
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#completed">
      Completed campaigns
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#campaigns-helping-with">
      Campaigns you're helping with
    </a>
  </li>

</ul>

<div class="govuk-tabs__panel" id="current">
  <table class="govuk-table" data-module="moj-sortable-table" style="border-collapse:separate;border-spacing:0px 30px">



    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Ref no.</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Job title</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Grade</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Closing date</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Applications</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="338507"><a class="govuk-link--no-visited-state" href="#">338507</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Policy Advisor<span id="notifications" class="moj-notification-badge" style="background-color:#336c9e"><img src="/public/images/email-icon.png" style="padding:5px 3px 0px 3px;color:#ffffff"></span></a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">SEO</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">15 June 2024</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="48">48</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Live">Live</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="339001"><a class="govuk-link--no-visited-state" href="#">339001</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Policy Supervisor</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">HEO</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">30 June 2024</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="48">---</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Live">Live</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7;" id="337933">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="337933"><a class="govuk-link--no-visited-state" href="strategy-admin-tasklist">337933</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none"><a class="govuk-link--no-visited-state" href="strategy-admin-tasklist">Strategy Administrator<span id="notifications" class="moj-notification-badge" style="background-color:#336c9e"><img src="/public/images/email-icon.png" style="padding:5px 3px 0px 3px;color:#ffffff"></span></a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">SEO</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240405">5 April 2024</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="48">641</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Live">Live</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#eceff1;" id="337933">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="341988"><a class="govuk-link--no-visited-state" href="#">341988</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Governance and Compliance Officer</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">---</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240405">---</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="0">---</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Draft">Draft</td>
      </tr>
  </tbody>
  </table>
</div>
<div class="govuk-tabs__panel" id="completed">

  <table class="govuk-table" data-module="moj-sortable-table" style="border-collapse:separate;border-spacing:0px 30px">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="none">Ref no.</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Job title</th>

        <th scope="col" class="govuk-table__header" aria-sort="descending">Closing date</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Applications</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">


      <tr class="govuk-table__row" style="background-color:#545556;color:#ffffff" id="337933">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="337933"><a class="govuk-link--no-visited-state" href="#" style="color:#ffffff">337933</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none"><a class="govuk-link--no-visited-state" href="#" style="color:#ffffff">Strategy Administrator</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20230405">5 April 2023</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="48">641</td>
        <td class="govuk-table__cell" style="border-bottom:none; font-weight:bold" data-sort-value="LIVE">Completed</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#545556; color:#ffffff" id="337933">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="341988"><a class="govuk-link--no-visited-state" href="#" style="color:#ffffff">341988</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none"><a class="govuk-link--no-visited-state" href="#" style="color:#ffffff">Governance and Compliance Officer</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20231118">18 November 2023</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="0">98</td>
        <td class="govuk-table__cell" style="border-bottom:none; font-weight:bold" data-sort-value="LIVE">Completed</td>
      </tr>
  </tbody>
  </table>
</div>

<div class="govuk-tabs__panel" id="campaigns-helping-with">
  <table class="govuk-table" data-module="moj-sortable-table" style="border-collapse:separate;border-spacing:0px 30px">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Ref no.</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Job title</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Closing date</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Your role(s)</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" style="background-color:#eaf7da">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px" data-sort-value="338507"><a class="govuk-link--no-visited-state" href="#">338507</a></td>
        <td class="govuk-table__cell" style="font-weight:bold;border-bottom:none">Direction Policy Executive</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="20240615">15 June 2024</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="48">Sift panel member,<br>Interview panel member</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="sift">Ready to sift</td>
      </tr>


  </tbody>
  </table>
</div>


</div>







{% endblock %}
