{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    {% endblock %}


{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<style>

  select {
width:400px;



  }
</style>

<form class="form" action="summary-section-1" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Is this an advert-only campaign?
        </h1>
      </legend>
      <div id="changedName-hint" class="govuk-hint">
        With advert only campaigns, candidates can find your advert on Civil Service Jobs, but they apply for the job <span style="padding-bottom:10px">either:</span>
        <ul class="govuk-list govuk-list--bullet" style="color:#505a5f">
          <li>on another website or applicant tracking system</li>
          <li>by submitting a clerical application - for example, by emailing their CV</li>
        </ul>
        Your advert will tell candidates how to apply for the job.
      </div><br>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="ad-only" name="ad-only" type="radio" value="yes~/csu71/ad-only/ad-only-details">
          <label class="govuk-label govuk-radios__label" for="changedName">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="ad-only-2" name="ad-only" type="radio" value="no~/csu71/ad-only/summary-section-1">
          <label class="govuk-label govuk-radios__label" for="changedName-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>



  <button class="govuk-button" data-module="govuk-button">Continue</button>
  </div>


  </form>





</div>







    {% endblock %}
