{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
    </div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Advert setup</span>

    <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


      <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="task-list-ad-only"><strong>Return to task list</strong></a></span>

    </div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Summary</span>
    <h1 class="govuk-heading-xl">Advert setup</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Preferred launch date</dt>
        <dd class="govuk-summary-list__value">{{ data['day']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="about-the-role?edit9=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Person specification</dt>
        <dd class="govuk-summary-list__value">{{ data['person-spec'] | truncate(150)}}</dd>
        <dd class="govuk-summary-list__actions"><a href="about-the-role?edit9=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Responsibilities</dt>
        <dd class="govuk-summary-list__value">{{ data['respon']  | truncate(150)}}</dd>
        <dd class="govuk-summary-list__actions"><a href="about-the-role?edit9=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
    </dl>





<form action="task-list-ad-only" method="post" novalidate>
  <input type="hidden" name="advert-setup-complete" value="true">

  <button type="submit" class="govuk-button" data-module="govuk-button">Save and return to tasklist</button>
  {{ govukButton({
    text: "Continue to next task (Sifting and selection methods)",
    classes: "govuk-button--secondary",
    href: "provide-assessment-methods?advert-setup-complete=true"
  }) }}
</form>

</div>

{% endblock %}
