<strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
Create a job – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}

{% set comp = "Vacancy incomplete" %}{% set num = 0 %}
{% if data['num-posts']|length >= 1 %}{% set num = 1 %}{% endif %}
{% if data['num-posts']|length >= 1 %}{% set num = 1 %}{% endif %}
{% if data['team-detail']|length >= 1 %}{% set num = 2 %}{% endif %}
{% if data['uk'] == "Remote" %}{% set num = 3 %}{% endif %}
{% if data['loc2-viewed']|length >= 1 %}{% set num = 3 %}{% endif %}
{% if data['working-pattern']|length >= 1 %}{% set num = 4 %}{% endif %}
{% if data['benefits-viewed']|length >= 1 %}{% set num = 5 %}{% endif %}
{% if data['contact']|length >= 1 %}{% set num = 6 %}{% endif %}
{% if data['updates']|length >= 1 %}{% set num = 6 %}{% endif %}
{% if data['bpss-correct']|length >= 1 %}{% set num = 7 %}{% endif %}
{% if data['respon']|length >= 1 %}{% set num = 8 %}{% endif %}
{% if data['experience2']|length >= 1 %}{% set num = 9 %}{% endif %}
{% if data['technical1']|length >= 1 %}{% set num = 10 %}{% endif %}
{% if data['pre-sift-viewed']|length >= 1 %}{% set num = 11 %}{% endif %}
{% if data['ass-methods']|length >= 1 %}{% set num = 12 %}{% endif %}
{% if data['howsift']|length >= 1 %}{% set num = 13 %}{% endif %}
{% if data['interview-assessments']|length >= 1 %}{% set num = 14 %}{% endif %}
{% if data['what-assessments']|length >= 1 %}{% set num = 14 %}{% endif %}
{% if data['tests']|length >= 1 %}{% set num = 15 %}{% endif %}
{% if data['selsiftexp']|length >= 1 %}{% set num = 16 %}{% endif %}
{% if data['selinterviewexp']|length >= 1 %}{% set num = 16 %}{% endif %}
{% if data['interviewbehaviours']|length >= 1 %}{% set num = 17 %}{% endif %}
{% if data['siftbehaviours']|length >= 1 %}{% set num = 17 %}{% endif %}
{% if data['selsiftskills']|length >= 1 %}{% set num = 18 %}{% endif %}
{% if data['selinterviewskills']|length >= 1 %}{% set num = 18 %}{% endif %}
{% if data['who-can-apply']|length >= 1 %}{% set num = 19 %}{% endif %}
{% if data['additional-assessments']|length >= 1 %}{% set num = 20 %}{% endif %}
{% if data['approval-status'] == "Yes - approved" %}{% set num = 21 %}{% endif %}
{% if data['reserve-list-required']|length >= 1 %}{% set num = 22 %}{% endif %}
{% if data['attraction']|length >= 1 %}{% set num = 23 %}{% endif %}
{% if data['panelist3']|length >= 1 %}{% set num = 24 %}{% endif %}
{% if data['advert-time']|length >= 1 %}{% set num = 25 %}{% endif %}
{% if data['reviewer']|length >= 1 %}{% set num = 26 %}{% endif %}
{% if data['submitted'] == "true" %}{% set num = 27 %}{% set comp = "Vacancy complete" %}{% endif %}




<form class="form" action="task-list-exp-copy-ad?banner=show" method="post">

  {% if data['show-banner'] =='true' %}

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
Your vacancy has been created.
    </h3>
    <p class="govuk-body">You should now continue setting up your advert and complete any tasks you’ve not yet started.<br><br></p>
  </div>
</div>

{% endif %}

<div class="govuk-grid-row" style="margin-bottom:20px">
   <div class="govuk-grid-column-full" style="position:relative">





     <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-1">DWP vacancy <strong>4001891</strong></p>

     <p style="font-size:24px;margin-bottom:20px" class="govuk-body-l govuk-!-margin-bottom-1">Grade <strong>Executive Officer (EO)</strong></p>



</div></div>


          <h1 style="border-bottom:1px solid #1d70b8;padding-bottom:10px;margin-bottom:30px" class="govuk-heading-xl">Administrative Officer</h1>
          <div class="govuk-grid-row">
             <div class="govuk-grid-column-three-quarters">

<p class="govuk-body-m govuk-!-margin-bottom-9">Last modified on <strong  id="lastEdit">30 May 2024</strong></p>

{% if data['recruitment-channels-complete'] == 'true' %}
    <p class="govuk-body govuk-!-margin-top-3" style="margin-bottom:30px"><strong>Vacancy incomplete </strong>-  you have completed 18 of 19 sections<br><progress id="file" value="95" max="100""> 59% </progress></p>
{% elif data['selection-methods-complete'] == 'true' %}
    <p class="govuk-body govuk-!-margin-top-3" style="margin-bottom:30px"><strong>Vacancy incomplete </strong>-  you have completed 16 of 19 sections<br><progress id="file" value="84" max="100""> 59% </progress></p>
{% elif data['advert-setup-complete'] == 'true' %}
    <p class="govuk-body govuk-!-margin-top-3" style="margin-bottom:30px"><strong>Vacancy incomplete </strong>-  you have completed 10 of 19 sections<br><progress id="file" value="53" max="100""> 37% </progress></p>
{% elif data['contract-info-complete'] == 'true' %}
    <p class="govuk-body govuk-!-margin-top-3" style="margin-bottom:30px"><strong>Vacancy incomplete </strong>-  you have completed 5 of 19 sections<br><progress id="file" value="26" max="100""> 19% </progress></p>
{% else %}
  <p class="govuk-body govuk-!-margin-top-3" style="margin-top:30px"><strong>Vacancy incomplete </strong>-  you have completed 1 of 19 sections<br><progress id="file" value="5" max="100"> 3% </progress></p>
{% endif %}










    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>About the vacancy
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="how-many-posts" aria-describedby="eligibility-status">
                Basic details
              </a>
            </span>
            <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
          </li>
        </ul>
      </li>



      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Contract information
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="locations" aria-describedby="list-convictions-status">
                Location</a>
              </span>

              {% if data['contract-info-complete'] == 'true' %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
              {% else %}
              <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="contract-details" aria-describedby="list-convictions-status">
                  Contract details</a>
                </span>

                {% if data['contract-info-complete'] == 'true' %}
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>

                {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                {% endif %}


              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="salary-and-benefits" aria-describedby="list-convictions-status">
                    Salary and benefits</a>
                  </span>

                  {% if data['contract-info-complete'] == 'true' %}
                  <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                  {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                  {% endif %}



                </li>

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="pecvet" aria-describedby="list-convictions-status">
                        Pre-employment checks and vetting</a>
                      </span>


                      {% if data['contract-info-complete'] == 'true' %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                      {% endif %}


                    </li>
                  </ul>

                </li>
                <h2 class="app-task-list__section">
                  <span class="app-task-list__section-number">3. </span>Advert set up
                </h2>
                <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="campaign-dates" aria-hidden="list-convictions-status">
                        Campaign dates
                      </span>
                      {% if data['advert-setup-complete'] == 'true' %}
                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                      {% else %}
                      <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                      {% endif %}
                    </li>
                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="contact-details" aria-describedby="list-convictions-status">
                          Contacts</a>
                        </span>
                        {% if data['advert-setup-complete'] == 'true' %}
                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                        {% else %}
                        <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                        {% endif %}
                      </li>
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="approach" aria-describedby="list-convictions-status">
                            Who can apply</a>
                          </span>
                          {% if data['advert-setup-complete'] == 'true' %}
                          <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                          {% else %}
                          <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                          {% endif %}
                        </li>
                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="about-the-role" aria-describedby="read-declaration-status">
                        About the role
                      </a>
                    </span>

                    {% if data['advert-setup-complete'] == 'true' %}
                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>

                    {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                    {% endif %}


                  </li>

                  <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                      <a href="about-the-team" aria-describedby="read-declaration-status">
                        About the team
                      </a>
                    </span>

                    {% if data['advert-setup-complete'] == 'true' %}
                  <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>

                    {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                    {% endif %}


                  </li>





                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="supporting-links" aria-describedby="read-declaration-status">
                          Add any supporting links
                        </a>
                      </span>

                    {% if data['advert-setup-complete'] == 'true' %}
                    <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                  {% else %}
                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Optional</strong>
                    {% endif %}
                    </li>
                  </ul>






                                    <h2 class="app-task-list__section">
                                      <span class="app-task-list__section-number">4. </span>Selection criteria and assessment methods
                                    </h2>
                                    <ul class="app-task-list__items">


                                      <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="provide-assessment-methods" aria-describedby="eligibility-status">
                                            Provide assessment methods
                                          </a>
                                        </span>


                                        {% if data['selection-methods-complete'] == "true" %}
                                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}

                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                                        {%endif%}

                                      </li>

{% if data['typed-assessment'] != "true" %}
                                      <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="pick-criteria-type" aria-describedby="eligibility-status">
                                            Pick selection criteria
                                          </a>
                                        </span>


                                        {% if data['selection-methods-complete'] == "true" %}
                                      <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}

                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                                        {%endif%}

                                      </li>


                                      <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                                            Assign selection criteria to sift, interview or both stages
                                          </a>
                                        </span>

                                      {% if data['selection-methods-complete'] == "true" %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}
                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                                        {%endif%}

                                      </li>

                                      <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                                            Select assessment methods for sift
                                          </a>
                                        </span>

                                        {% if data['selection-methods-complete'] == "true" %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}
                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                                        {%endif%}

                                      </li>




                                      <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                                            Select assessment methods for interview
                                          </a>
                                        </span>

                                        {% if data['selection-methods-complete'] == "true" %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}
                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                                        {%endif%}




                                      </li>
                                      {% endif %}

                                      <li class="app-task-list__item">



                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                                            Review your criteria and methods
                                          </a>
                                        </span>
                                        {% if data['selection-methods-complete'] == "true" %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}

                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                                        {%endif%}
                                      </li>
                                      <!-- <li class="app-task-list__item">



                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                                            Essential criteria
                                          </a>
                                        </span>
                                        {% if data['done'] == "dusted" %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status">Completed</strong>
                                        {% else %}

                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Not yet started</strong>
                                        {%endif%}
                                      </li> -->
                                      <li class="app-task-list__item">



                                        <span class="app-task-list__task-name">
                                          <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="read-declaration-status">
                                            Pre-sift eligibility questions
                                          </a>
                                        </span>
                                        {% if data['selection-methods-complete'] == "true" %}
                                        <strong class="govuk-tag govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#ffffff">Completed</strong>
                                        {% else %}

                                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">optional</strong>
                                        {%endif%}
                                      </li>

                                    </ul>





                  <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">5. </span>Check and submit
                  </h2>
                  <ul class="app-task-list__items">

                    <li class="app-task-list__item">
                      <span class="app-task-list__task-name">
                        <a href="preview-job-ad" aria-hidden="list-convictions-status" target="_blank">
                          Check job advert (opens in new window)
                        </span>

                        <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>

                      </li>

                          <li class="app-task-list__item">
                            <span class="app-task-list__task-name">
                              <a href="submit" aria-hidden="list-convictions-status">
                                Submit
                              </span>
                              {% if data['ready-to-submit'] == "true" %}
                              <strong class="govuk-tag app-task-list__tag" id="financial-evidence-status" style="background-color:#bbd4ea">Not yet started</strong>
                              {% else %}
                              <strong class="govuk-tag app-task-list__tag" id="submit-pay-status" style="background-color:#ffffff;color:#505a5f">Cannot start yet</strong>
                              {% endif %}
                            </li>
                          </ul>

                        </ol>
                      </div>
                    </div>


                    <script>
                      const newbeh = ["Seeing the big picture","Changing and improving","Communicating and Influencing","Delivering at Pace"];
                      const newexp = ['Experience of building relationships with busy stakeholders to achieve change','Experience of operating in a fast-paced and ever-changing environment to provide policy advice and briefing to seniors and stakeholders'];
                      const newstr = ['Challenger','Mission','Courageous','Change Agent','Authentic','Explainer','Disciplined'];
                      const newski = ['Evidence of understanding the current national policy challenges for the population impacted by this area','Knowledge of how to deliver oral and written information effectively'];


                      document.getElementById("beh1").value = newbeh;


                      window.sessionStorage.setItem("behavioursSession", JSON.stringify(newbeh));
                      window.sessionStorage.setItem("experienceSession", JSON.stringify(newexp));
                      window.sessionStorage.setItem("strengthsSession", JSON.stringify(newstr));
                      window.sessionStorage.setItem("skillsSession", JSON.stringify(newski));



                      const sift1 = ["CV","Personal statement (1250 words)"];
                      const sift2 = ["Experience","Skills"];
                      const sift3 = ["Experience of building relationships with busy stakeholders to achieve change","Experience of operating in a fast-paced and ever-changing environment to provide policy advice and briefing to seniors and stakeholders","Evidence of understanding the current national policy challenges for the population impacted by this area","Knowledge of how to deliver oral and written information effectively"];






                      const int1 = ["Interview question(s)"];
                      const int2 = ["Behaviours","Strengths"];
                      const int3 = ["Seeing the big picture","Changing and improving","Communicating and Influencing","Delivering at Pace","Challenger,Mission,Courageous,Change Agent,Authentic,Explainer,Disciplined"];




                      window.sessionStorage.setItem("Sift-New1", JSON.stringify(sift1));
                      window.sessionStorage.setItem("Sift-New2", JSON.stringify(sift2));
                      window.sessionStorage.setItem("Sift-New3", JSON.stringify(sift3));
                      window.sessionStorage.setItem("Int-New1", JSON.stringify(int1));
                      window.sessionStorage.setItem("Int-New2", JSON.stringify(int2));
                      window.sessionStorage.setItem("Int-New3", JSON.stringify(int3));



                      const dateField = document.getElementById('lastEdit');
                      var stamp = new Date();
                      var time = stamp.toLocaleTimeString('en-us', { hours:"numeric", minutes:"short", seconds:"numeric" })
                      var localStamp = stamp.toLocaleDateString('en-us', { day:"numeric", month:"short", year:"numeric" }) ;
                      dateField.innerHTML = time+", "+localStamp;
                    </script>


                    {% endblock %}
