{% extends "layouts/main.html" %}
{% block header %}
{% include '/reserve-list-01/header.html' %}
{% endblock %}
{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Contract information</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/reserve-list-01/task-list"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



{% if data['ussk'] === "Yes" %}
{% set see = "block" %}
{% set nosee = "none" %}
{% else %}
{% set see = "none" %}
{% endif %}

{% if data['uk'] === "Onsite at a government-managed location" %}
<!-- {% set see = "block" %} -->
{% set nosee = "block" %}
{% else %}
<!-- {% set see = "none" %} -->
{% set nosee = "none" %}
{% endif %}


<form class="form" action="summary-section-2" method="post">

<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Pre-employment checks and vetting</h1>





              {% from "govuk/components/panel/macro.njk" import govukPanel %}
              {{ govukPanel({
                titleText: "Baseline Personnel Security Standard",
                classes: "govuk-panel security-panel",
                html: "Departmental default"
              }) }}

            {{ govukRadios({
              idPrefix: "bpss-correct",
              name: "bpss-correct",
              fieldset: {
                legend: {
                  text: "Is the recommended security clearance correct?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "A higher security clearance will take longer to hire"
              },
              items: [
                {
                  value: "BPSS",
                  checked: checked("bpss-correct","BPSS"),
                  text: "Yes",
                  checked: "true"
                },
                {
                  value: "Security Check (SC)",
                  text: "No",
                  checked: checked("bpss-correct","Security Check (SC)")
                }
              ]
            }) }}




      <!-- {% macro taskListItem(title="'title'", link='#', completed='', cantStart='' ) %}
      <li class="app-task-list__item"><span class="app-task-list__task-name">
      {% if not (cantStart or completed)  %}
      <a href="{{link}}" aria-describedby="eligibility-completed"> {% endif %}      {{title}}
      {% if not (cantStart or completed)  %}
    </a>{% endif %}  </span>{% if completed %}<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
    {% else %}
    {% endif %}
  </li>
  {% endmacro %}

  <ol class="app-task-list"><li>
  <h2 class="app-task-list__section">Check and approve</h2>
  <ul class="app-task-list__items" style="padding-left: 0">
  {{taskListItem(title="Find applicant on Searchlight", link="1-check/1", completed=(data['searchlight'] == "yes" or data['ni-number'] ), cantStart="")}}
  {{taskListItem(title="Add National Insurance number", link="1-check/1-ni-number", completed=(data['ni-number'] ), cantStart=(not (data['searchlight'] == "yes") ))}}
  {{taskListItem(title="Check for appointee", link="1-check/2", completed=(data['appointee'] ), cantStart=(not data['ni-number'] ) )}}
  {{taskListItem(title="Check application", link="1-check/3", completed=((data['interview'] == 'yes' and data['company'] == 'yes' and data['personal'] == 'yes' ) ), cantStart=(not data['appointee'] ) )}}
</ul></li></ol> -->












<div class="govuk-!-margin-bottom-9">


</div>








  </div>
</div>





{{ govukButton({
  text: "Continue",
  classes: "govuk-button govuk-!-margin-top-9"
}) }}

{{ govukButton({
  text: "Preview advert",
  classes: "govuk-button--secondary govuk-!-margin-top-9",
  href: "preview-advert"
}) }}
</form>


<script>










</script>
{% endblock %}
