{% extends "layouts/main.html" %}
{% block header %}
{% include '/reserve-list-01/header.html' %}
{% endblock %}

{% block pageTitle %}
Basic details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row  govuk-!-margin-top-0">
<div class="govuk-grid-column-three-quarters">



<form class="form" action="/reserve-list-01/reserve-list-04" method="post">



  {% set inviteContent = "Dear {firstName},

  Policy adviser (1001334), Senior Executive Officer

  Congratulations, you've been invited to attend an interview.

  Interviews will take place between {firstSlotDay} and {lastSlotDay}.

  Access your account on CS Jobs to {book your interview time}.
  To get your preferred time we recommend that you book as early as possible.

  Your {application scores and feedback} are also available for your review in your account on CS Jobs.

  **Enter department specific ID requirements here**

  If you're no longer interested in this position, please withdraw your application.

  Kind regards

  {Vacancy holder}
  Cabinet Office" %}



        <div class="govuk-grid-row">

          <div style="" class="govuk-!-margin-top-0 govuk-grid-column-full">
            <H1 style=";; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Contact reserve candidate</H1>


            <div style=";;border-top:0px solid #1d70b8">
              <p class="govuk-body-m"><strong>An email will be sent to the candidate with the following yh bh   message.</strong></p>

                  {{ govukTextarea({
                  name: "genericInviteContent",
                  id: "genericInviteContent",
                  rows: 12,
                  label: {
                  text: "",
                  classes: "govuk-label--s",
                  isPageHeading: false
                  },
                  value: inviteContent or data['genericInviteContent']
                  }) }}

            </div>







    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "changed-name",
      fieldset: {
        legend: {
          text: "Send?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}



       <button class="govuk-button" data-module="govuk-button">Continue</button>

       {{ govukButton({
         text: "Preview advert",
         classes: "govuk-button--secondary govuk-!-margin-top-0",
         href: "preview-advert"
       }) }}

     </FORM>
</div>
</div>


<script>

const keyDetails = {};
const title = document.getElementById("title").value;
const grade = document.getElementById("newgrade").value
const profession = document.getElementById("grabProf").value;
const department = document.getElementById("dept").value;

console.log(title, grade, profession, department)

keyDetails.jobTitle = title;
keyDetails.grade = grade;
keyDetails.profession = profession;
keyDetails.department = department;

window.sessionStorage.setItem("keyDetails", JSON.stringify(keyDetails));


console.log(keyDetails);


</script>
{% endblock %}
