{% extends "layouts/main.html" %}
{% block header %}
{% include '/reserve-list-01/header.html' %}
{% endblock %}

{% block pageTitle %}
Basic details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row  govuk-!-margin-top-9">
<div class="govuk-grid-column-three-quarters">
<h1 class="govuk-heading-xl">We've found a match for Policy Adviser SEO</h1>

<!-- <h2 class="govuk-heading-m">Determine appetite / interest - proceed or revert to vacancy set-up</h2> -->


<form class="form" action="/reserve-list-01/reserve-list-match" method="post">



  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "changed-name",
    fieldset: {
      legend: {
        text: "Look at the reserve list?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}



        <input id="grabProf" type="hidden" name="profession" value="{{ data['proff']}}">

       <button class="govuk-button" data-module="govuk-button">Continue</button>
     </FORM>
</div>
</div>


<script>

const keyDetails = {};
const title = document.getElementById("title").value;
const grade = document.getElementById("newgrade").value
const profession = document.getElementById("grabProf").value;
const department = document.getElementById("dept").value;

console.log(title, grade, profession, department)

keyDetails.jobTitle = title;
keyDetails.grade = grade;
keyDetails.profession = profession;
keyDetails.department = department;

window.sessionStorage.setItem("keyDetails", JSON.stringify(keyDetails));


console.log(keyDetails);


</script>
{% endblock %}
