{% extends "layouts/main.html" %}
{% block header %}
{% include '/reserve-list-01/header.html' %}
{% endblock %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
    </div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">About the vacancy</span>

    <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


      <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/reserve-list-01/task-list"><strong>Return to task list</strong></a></span>

    </div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-xl">Reserved status</h1>
<form class="form" action="approval" method="post">


  <p class="govuk-body-m">In addition to the rules that all candidates must satisfy to be eligible to join the Civil Service, there are some roles that can only be filled by UK nationals.</p>

  <p class="govuk-body-m">These roles are <strong>reserved</strong> because of the sensitive nature of the work carried out. For example, all individuals working in any of the security and intelligence services will be employed into a post with a reserved status.</p>


  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "reserved-status",
    fieldset: {
      legend: {
        text: "To the best of your knowlege, has this role been reserved for UK nationals only?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "Yes - this vacancy is reserved",
        checked: checked("reserved-status","Yes - this vacancy is reserved"),
        text: "Yes - this vacancy is reserved"
      },
      {
        value: "No - this vacancy is not reserved",
        checked: checked("reserved-status","No, - this vacancy is not reserved"),
        text: "No, - this vacancy is not reserved"
      },
      {
        value: "I'm not sure",
        checked: checked("reserved-status","I'm not sure"),
        text: "I'm not sure"
      }
    ]
  }) }}


            <button class="govuk-button" data-module="govuk-button">Continue</button>

          </form>


</div>
</div>
{% endblock %}
