{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/reserve-list-01/header.html' %}
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library">Create a new vacancy</a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Selection criteria and assessment methods</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">



  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/reserve-list-01/task-list"><strong>Return to task list</strong></a></span>

  <!-- {% if data['org'] == "ddat" %}
  <div id ="ddattag"  style="position:absolute;right:10px;top:60px;;">
    <a href="/csu71/template-csofficial?return=select-skills"><img src="/public/images/ddat1.png" alt="Template by Digital, Data and Technology Profession" style="background:#F4FAFF;border:2px solid #1d70b8;padding:10px;border-radius:5px;width:80px"></a>

  </div>
  {% elif data['org'] == "co" %}
  <div id ="cotag"  style="position:absolute;right:10px;top:60px;;">
    <a  href="/csu71/template-csofficial?return=select-skills"> <img src="/public/images/co-logo.png" alt="Template by Cabinet Office" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>
  </div>
  {% elif data['org'] == "ho" %}
  <div id ="hotag"  style="position:absolute;right:10px;top:60px;;">
    <a href="/csu71/template-csofficial?return=select-skills"><img src="/public/images/ho-logo.png" alt="Template by Home Office" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>
  </div>
  {% endif %} -->
</div>


</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}


{% block content %}
<style>

  .experiment {
    background:#F4FAFF;
    border-bottom:2px solid #1d70b8;
    margin-top:25px;
    margin-bottom:-40px;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:35px;
    font-weight:bold;

  }



  p, div {
    font-size: 18px;
    font-family: "GDS Transport", arial, sans-serif;
    line-height: 1;
    margin: 0.8
  }
  p, li {
    vertical-align: text-top;

  }


  h2 {
    font-size: 30px;
    vertical-align: text-top;

  }

  h3 {
    font-size: 28px;

  }

  label {
    font-size: 22px;
    line-height: 1.6;;
    vertical-align: text-top;
    font-weight:bold;
  }

  hint {
    font-size: 18px;
    margin-top:-40px;
    line-height: 1.3;
  }


  input[type="checkbox"]:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    color: black;
  }

  input[type="checkbox"]:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: 5px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }

</style>

<form class="form" action="select-criteria-stage" method="post">

<input id="templateName" type="hidden" name="templateName" value="{{ data['org']}}">

  <!-- <H2 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-3">What will you assess within each element at sift and interview?</h2> -->
  <!-- <p class="govuk-body-l govuk-!-margin-bottom-6 govuk-!-margin-top-3">You have selected which elements are important to assess for this job role. You should now select what you will assess within each element at sift and interview.</p> -->

  <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-1 govuk-!-margin-bottom-6">Technical skills</H1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="width:20%">

      {% for items in data['selected'] %}
      <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet- ">
        {% if items == "skills" %}
        <li><p style ="border-left:5px solid #1d70b8;padding-left:30px;font-weight:bold" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items | lower}}">{{ items | capitalize }}</a></p></li>
        {% else %}
        <li><p style ="border-left:2px solid white;padding-left:20px;font-weight:bold" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items | lower}}">{{ items | capitalize }}</a></p></li>
      </ul>
      {% endif %}
      {% endfor %}


    </div>
    <div class="govuk-grid-column-three-quarters" style="width:80%;">

      <div id="ddatSkills"></div>


      <div id="skillsFrame" style="padding:10px;">
        <p class="govuk-body-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">You can choose how many skills you want to assess at sift and interview. You can assess a wide range of relevant specialist skills like coaching, negotiation and computer coding. <br><br>Include as many skills as you want to assess at sift and interview.</p>
        <div id="skills" style="border-bottom:1px solid #1d70b8">

          <div style="float:right;padding-top:10px">
            {{ govukSelect({
              id: "slevel1",
              name: "slevel1",
              label: {
                text: "Competence level",
                classes: "govuk-label--s"
              },
              items: [
              {
                value: "none",
                text: "Select level"
              },

              {
                value: "Awareness",
                text: "Awareness"
              },
              {
                value: "Working",
                text: "Working"
              },
              {
                value: "Practitioner",
                text: "Practitioner",
                selected: "true"
              },
              {
                value: "Expert",
                text: "Expert"
              }
              ]
            }) }}

          </div>

          <div class="govuk-form-group" style="width:70%">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="skills1">
                Technical skills 1
              </label>
            </h2>

            <textarea class="govuk-textarea" id="skills1" name="skills1" value="{{ data['skills1']}}" rows="2" aria-describedby="respon-hint">Evidence of understanding the current national policy challenges for the population impacted by this area.</textarea>
          </div>



          <div style="float:right;padding-top:10px">
            {{ govukSelect({
              id: "slevel2",
              name: "slevel2",
              label: {
                text: "Competence level",
                classes: "govuk-label--s"
              },
              items: [
              {
                value: "none",
                text: "Select level"
              },

              {
                value: "Awareness",
                text: "Awareness"
              },
              {
                value: "Working",
                text: "Working"
              },
              {
                value: "Practitioner",
                text: "Practitioner",
                selected: "true"
              },
              {
                value: "Expert",
                text: "Expert"
              }
              ]
            }) }}

          </div>


          <div class="govuk-form-group" style="width:70%">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="skills2">
                Technical skills 2
              </label>
            </h2>

            <textarea class="govuk-textarea" id="skills2" name="skills2" value="{{ data['skills2']}}" rows="2" aria-describedby="respon-hint">Knowledge of how to deliver oral and written information effectively.</textarea>
          </div>

          <div style="float:right;padding-top:10px">
            {{ govukSelect({
              id: "slevel3",
              name: "slevel3",
              label: {
                text: "Competence level",
                classes: "govuk-label--s"
              },
              items: [
              {
                value: "none",
                text: "Select level"
              },

              {
                value: "Awareness",
                text: "Awareness"
              },
              {
                value: "Working",
                text: "Working"
              },
              {
                value: "Practitioner",
                text: "Practitioner"},
              {
                value: "Expert",
                text: "Expert"
              }
              ]
            }) }}

          </div>
          <div class="govuk-form-group" style="width:70%">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="skills3">
                Technical skills 3
              </label>
            </h2>

            <textarea class="govuk-textarea" id="skills3" name="skills3" value="{{ data['skills3']}}" rows="2" aria-describedby="respon-hint"></textarea>
          </div>

          </div>



        </div>


        <button class="govuk-button govuk-!-margin-top-9" onclick="getSkillsValues()" data-module="govuk-button">Continue</button>


      </div>


    </div>




    <input type="hidden" name="source" value="skills">
  </FORM>
  <script>



    var contentsk1 = document.createElement("p");
    var contentsk2 = document.createElement("p");




    const myObjectName = document.querySelector('#templateName');

  if (myObjectName.value == "ddat"){
  // console.log(template.value)
    // console.log(object)
  document.getElementById("skillsFrame").style.display = 'none';
  renderDDaTSkills();
  }

// console.log(businessAnalystDDaT)


  function renderDDaTSkills(){
    console.log("render")
        var hea1 = document.getElementById("ddatSkills");


        const object = JSON.parse(window.sessionStorage.getItem("ddatskills"));
        var obj0 = Object.values(object);
        var level = obj0;

        for (var t=0;t<level.length;t++) {

          var label = document.createElement("label");
          var checkBox = document.createElement("input");
          var hint = document.createElement("hint");
          var lev = document.createElement("p");
          checkBox.type = "checkbox";
          checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -85px;";
          label.style.cssText = "display: block;padding-left: 15px;padding-top:25px;text-indent: 40px;";
          lev.style.cssText = "display: block;padding-left: 15px;padding-top:10px;text-indent: 40px;";
          hint.style.cssText = ";padding-top:10px;display: block;padding-left: 55px;";
          label.value = level[t].title;
          checkBox.value = level[t].title;
          lev.value = level[t].level;
          hint.value = level[t].description;

          checkBox.setAttribute("id","behaviours-"+t);
          checkBox.setAttribute("name","behaviours");

          label.appendChild(document.createTextNode(level[t].title));

          hea1.appendChild(label);

          lev.appendChild(document.createTextNode("Skill level: "+level[t].level));
          hea1.appendChild(lev);

          hea1.appendChild(checkBox);
          hint.appendChild(document.createTextNode(level[t].description));
          hea1.appendChild(hint);



            if (level[t].title == "Agile working" || level[t].title == "Business analysis" || level[t].title == "Stakeholder relationship management (business analysis)" || level[t].title == "Business process improvement" || level[t].title == "Systems analysis"){
              label.setAttribute("class","experiment");

              checkBox.checked = "true";
            }

        }


  }



    function showHideDiv(div1,div2) {
      document.getElementById(div1).style.display = 'block';
      document.getElementById(div2).style.display = 'none';

    }


    function deleteDiv(data1, data2){
      document.getElementById(data1).style.display = "none";
      document.getElementById(data2).style.display = "block";
    }

    function getSkillsValues() {

      var textA1 = document.getElementById('skills1').value;
      var levelA1 = document.getElementById('slevel1');

      var skillsRaymond = [];
      skillsRaymond.push(textA1);

      var textA2 = document.getElementById('skills2').value;
      var levelA2 = document.getElementById('slevel2');

      skillsRaymond.push(textA2);
      //
      // skillsRaymond.push(textA2.innerText);
      //
      var textA3 = document.getElementById('skills3').value;
      var levelA3 = document.getElementById('slevel3');
      // skillsRaymond.push(textA3.value);
      skillsRaymond.push(textA3);

console.log(skillsRaymond)

      function skill(title, level) {
        this.title = title;
        this.level = level;
      }

      const skill1 = new skill(textA1.value);
      const skill2 = new skill(textA2.value);
      const skill3 = new skill(textA3.value);

      // const skill1 = new skill(textA1.value, levelA1.value);
      // const skill2 = new skill(textA2.value, levelA2.value);
      // const skill3 = new skill(textA3.value, levelA3.value);



      const skills = {

        skill1, skill2, skill3
      }

      window.sessionStorage.setItem("skillsSelected", JSON.stringify(skillsRaymond));
}


    const businessAnalystDDaT = {
        "1": {
          "title": "Agile working",
          "description": "You can identify and compare the best processes or delivery methods to use, including measuring and evaluating outcomes. You can help the team to decide the best approach. You can help teams to manage and visualise outcomes, prioritise work and adhere to agreed minimum viable product (MVP), priorities and scope.",
          "level": "practitioner"
        },
        "2": {
          "title": "Business analysis",
          "description": "You can advise on the approach to identify, investigate, analyse and communicate complex business problems and opportunities within a project or programme of work. You can inform tactical decision making and help to define longer-term strategic plans. You can recommend the approach to options analysis, feasibility assessment and operations, and can quantify potential business benefits. You can ensure the proposed solution aligns with business goals and objectives, and business and user needs, and achieves the required outcomes and expected benefits.",
          "level": "practitioner"
        },
        "3": {
          "title": "Business modelling",
          "description": "You can lead on the modelling of processes, systems and data at varying levels of detail or complexity across a project or programme. You can manage the effects of proposed changes.",
          "level": "practitioner"
        },
        "4": {
          "title": "Business process improvement",
          "description": "You can identify opportunities to improve business performance, within a project or programme. You can lead the analysis, identification, design, prioritisation and implementation of process and business changes to improve business operations and services. You can assess the feasibility of changes and recommend new approaches. You can support the implementation of proposed business improvements.",
          "level": "practitioner"
        },
        "5": {
          "title": "Business process testing",
          "description": "You can lead on the application of business analysis and evaluation skills to support the design, execution and assessment of business process tests and usability evaluations within a project or programme of work.",
          "level": "practitioner"
        },
        "6": {
          "title": "Methods and tools",
          "description": "You can build capability in methods and tools, ensuring they are adopted consistently and used effectively.",
          "level": "practitioner"
        },
        "7": {
          "title": "Requirements definition and management",
          "description": "You can advise on the approach to requirements management within a project or programme. You can define the most appropriate requirements management life cycle methods and ensure the requirement can be traced in the design, build, test, tender and evaluation phases. You can co-ordinate and review the prioritisation of requirements and engage in the negotiation of solutions to help meet programme objectives.",
          "level": "practitioner"
        },
        "8": {
          "title": "Stakeholder relationship management (business analysis)",
          "description": "You can lead on communicating with stakeholders, clarifying needs and commitments through consultation and consideration of consequences while focusing on user and business needs. You can develop or apply communication strategies to build relationships, using informal and formal channels to engage with stakeholders at all levels and resolving conflict where required.",
          "level": "practitioner"
        },
        "9": {
          "title": "Systems analysis",
          "description": "You can lead the identification and analysis of IT system capabilities, developing models and system requirements. You can use systems analysis to support a deeper understanding of how processes and systems work, and to identify gaps. You can work with other digital professionals to design and develop system and user interfaces, identify gaps in functionality and assess the effect of proposed software changes on users or the organisation.",
          "level": "practitioner"
        },
        "10": {
          "title": "Testing (business analysis)",
          "description": "You can advise on the approach to identify, investigate, analyse and communicate complex business problems and opportunities within a project or programme of work. You can inform tactical decision making and help to define longer-term strategic plans. You can recommend the approach to options analysis, feasibility assessment and operations, and can quantify potential business benefits. You can ensure the proposed solution aligns with business goals and objectives, and business and user needs, and achieves the required outcomes and expected benefits.",
          "level": "practitioner"
        },
        "11": {
          "title": "User experience analysis",
          "description": "You can recommend the value of testing and apply the relevant tools and techniques to ensure test validity. You can advise on business scenarios and develop acceptance criteria to ensure requirements can be traced to develop functionality. You can review prototypes, test plans and test outcome reporting.",
          "level": "practitioner"
        },
    }


// window.sessionStorage.setItem("ddatskills", JSON.stringify(businessAnalystDDaT));



  </script>
  {% endblock %}









  A senior business analyst has a good understanding of strategic arenas and leads large or complex projects.

  At this role level, you will:

  have functional or people management responsibilities, or a combination of both
  mentor others
  develop best practice
  own stakeholder relationships
  manage community of practice activities within a business area

  Skills needed for this role level
