{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


    <form action="{{ formAction }}" method="post" novalidate>



{{ govukCheckboxes({
  name: "selected",
  fieldset: {
    legend: {
      text: "Choose the elements you want to assess",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      checked: checked('selected','behaviours'),
      value: "behaviours",
      text: "Behaviours"
    },
    {
      checked: checked('selected','experience'),
      value: "experience",
      text: "Experience"
    },
    {
      checked: checked('selected','strengths'),
      value: "strengths",
      text: "Strengths"
    },
    {
      checked: checked('selected','technical-skills'),
      value: "skills",
      text: "Technical skills"
    }
  ]
}) }}


{% if data['selected'].length == 0 %}
{% elif data['selected'].length > 0 %}

{{ data['selected']}}



{% endif %}


{{ govukButton({
  classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-6",
  text: "Continue"
}) }}

</form>
    </div>
</div>

  {% endblock %}
