{% extends "layouts/main.html" %}
{% block header %}
{% include '/csu71/includes/vm-header.html' %}
{% endblock %}


{% block pageTitle %}
Home – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
  .app-header--full-width-border {
    border-bottom: 10px solid #1f70b8;
  }
  .govuk-main-wrapper {
    padding-top:0px
  }

  .notification-wrapper-good {
    padding:0px
  }

  .notification-wrapper-warning {
    padding:45px 0px 30px 0px
  }

  .notification-good {
    margin:20px;
    color:#0b0c0c;
    padding:15px;
    background-color:#e8e6e5;
    border-left:10px solid #0ba25c;
    position:relative;
  }

  .notification-warning {
    margin:20px;
    color:#0b0c0c;
    padding:15px;
    background-color:#e8e6e5;
    border-left:10px solid #e52d10;
    position:relative;
  }

  .moj-notification-badge {
    padding:1px 3px;
    margin-left:8px
  }
</style>

<nav class="x-govuk-primary-navigation" aria-labelledby="primary-navigation-heading">
  <div class="govuk-width-container">
    <h2 class="govuk-visually-hidden" id="primary-navigation-heading">Navigation</h2>
    <ul class="x-govuk-primary-navigation__list">
      <li class="x-govuk-primary-navigation__item">
        <a class="x-govuk-primary-navigation__link" aria-current=page href="campaigns-sift-panels-exist">Campaigns</a>
      </li>
      <li class="x-govuk-primary-navigation__item">
        <a class="x-govuk-primary-navigation__link" aria-current=page href="messages">Messages (1)</a>

      </li>
      <li class="x-govuk-primary-navigation__item x-govuk-primary-navigation__item--current">
        <a class="x-govuk-primary-navigation__link" href="user-management-sift">User management</a>
      </li>

      <li class="x-govuk-primary-navigation__item ">
        <a class="x-govuk-primary-navigation__link" href="guidance">Guidance</a>
      </li>
    </ul>
  </div>
</nav>



<div class="govuk-tabs" data-module="govuk-tabs" style="padding-top:70px">
<h2 class="govuk-tabs__title">
  Contents
</h2>
<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab" href="#current">
      Panel members
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#completed">
      Supporting staff
    </a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#campaigns-helping-with">
      Others
    </a>
  </li>

</ul>

<div class="govuk-tabs__panel" id="current">
  <table class="govuk-table" data-module="moj-sortable-table" style="border-collapse:separate;border-spacing:0px 30px">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <div class="moj-search">

  <form action="#" method="post">

    <div class="govuk-form-group">
      <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
        Find a person
      </label>

      <div id="search-hint" class="govuk-hint moj-search__hint ">
        You can search by name, department, campaign number or role they've been allocated to.
      </div>

      <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint" style="width:60%">
      <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
        Search
      </button>

    </div>



  </form>
</div>


        <th scope="col" class="govuk-table__header" aria-sort="ascending">Last name</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">First name</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Department</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Allocated</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Johnson"><a class="govuk-link--no-visited-state" href="#">Johnson</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Jane</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="337933">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Sift panel 1</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Johnson"><a class="govuk-link--no-visited-state" href="#">Burtin</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">James</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="337933">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Sift panel 1</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Johnson"><a class="govuk-link--no-visited-state" href="#">Moody</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Joanne</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="337933">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Sift panel 1<br>Sift panel 2<br>Sift panel 2 - chair</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Johnson"><a class="govuk-link--no-visited-state" href="#">Pansal</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Johinder</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="337933">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Sift panel 2</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Johnson"><a class="govuk-link--no-visited-state" href="#">Veramov</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Alexandra</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="337933">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Sift panel 2</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Allan"><a class="govuk-link--no-visited-state" href="#">Allan</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">David</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Sift panel 1</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

        <tr class="govuk-table__row" style="background-color:#eceff1">
          <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Khan"><a class="govuk-link--no-visited-state" href="#">Khan</a></td>
          <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Faieem</a></td>
          <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">Cabinet Office</td>
          <td class="govuk-table__cell" style="border-bottom:none" data-sort-value=""></td>
          <td class="govuk-table__cell" style="border-bottom:none" data-sort-value=""></td>
          <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Unavailable">Unavailable</td>
        </tr>
  </tbody>
  </table>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add someone else
  </button>
</div>
<div class="govuk-tabs__panel" id="completed">
  <table class="govuk-table" data-module="moj-sortable-table" style="border-collapse:separate;border-spacing:0px 30px">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <p class="govuk-body">Supporting staff are not panel chairs or members, but may be helping with the campaign. For example, by answering enquiries from candidates.</p>

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Last name</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">First name</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Department</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Allocated</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Role</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Johnson"><a class="govuk-link--no-visited-state" href="#">Vargo</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Mandy</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="337933">337933</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="sift1">Candidate contact</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>

      <tr class="govuk-table__row" style="background-color:#daeaf7">
        <td class="govuk-table__cell" style="border-bottom:none;padding-left:20px; font-weight:bold" data-sort-value="Allan"><a class="govuk-link--no-visited-state" href="#">Walankov</a></td>
        <td class="govuk-table__cell" style="border-bottom:none"><a class="govuk-link--no-visited-state" href="#">Sergei</a></td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="DWP">DWP</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="">---</td>
        <td class="govuk-table__cell" style="border-bottom:none" data-sort-value="">---</td>
        <td class="govuk-table__cell" style="border-bottom:none;" data-sort-value="Available">Available</td>
      </tr>
  </tbody>
  </table>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add someone else
  </button>
</div>

<div class="govuk-tabs__panel" id="campaigns-helping-with">
  <table class="govuk-table" data-module="moj-sortable-table" style="border-collapse:separate;border-spacing:0px 30px">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Ref no.</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Job title</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Closing date</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Your role(s)</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

      </tr>
    </thead>
  </table>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Add someone
  </button>
</div>


</div>







{% endblock %}
