{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
    </div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Advert set up</span>

    <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


      <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>
<!--
      {% if data['org'] == "ddat" %}
      <div id ="ddattag"  style="position:absolute;right:10px;top:60px;;">
        <a href="/csu71/template-csofficial?return=select-behaviours"><img src="/public/images/ddat1.png" alt="Template by Digital, Data and Technology Profession" style="background:#F4FAFF;border:2px solid #1d70b8;padding:10px;border-radius:5px;width:80px"></a>

      </div>
      {% elif data['org'] == "co" %}
      <div id ="cotag"  style="position:absolute;right:10px;top:60px;;">
        <a  href="/csu71/template-csofficial?return=select-behaviours"> <img src="/public/images/co-logo.png" alt="Template by Cabinet Office" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>
      </div>
      {% elif data['org'] == "ho" %}
      <div id ="hotag"  style="position:absolute;right:10px;top:60px;;">
        <a href="/csu71/template-csofficial?return=select-behaviours"><img src="/public/images/ho-logo.png" alt="Template by Home Office" style="border:1px solid black;padding:10px;border-radius:5px;width:80px"></a>
      </div>
      {% endif %} -->


    </div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<form class="form" action="/csu71/new-campaign-set-up/about-the-team" method="post">

<div class="govuk-grid-row  govuk-!-margin-top-3">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">About the role</h1>
          <form class="form" action="/csu71/about-the-role-handler" method="post">
            <p class='govuk-body-m'>This information will be shown on the advert.</p>

<div class="govuk-!-margin-bottom-9" style="background:#F4FAFF;padding:20px;border-bottom:2px solid #1d70b8;">


    {{ govukCharacterCount({
  name: "person-spec",
  id: "person-spec",
  maxwords: 150,
  label: {
    text: "What are you looking for in a candidate?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  value: data['person-spec']
}) }}


</div>
  <!-- <p class="govuk-body-m">A senior business analyst has a good understanding of strategic arenas and leads large or complex projects.</p>

  <p class="govuk-body-m">At this role level, you will:</p>
  <ul class="govuk-!-margin-top-3 govuk-list govuk-list--number">
  <li>have functional or people management responsibilities, or a combination of both</li>
  <li>mentor others</li>
  <li>develop best practice</li>
  <li>own stakeholder relationships</li>
  <li>manage community of practice activities within a business area</li>
</ul> -->






<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="team-detail">
      Make a list of the day-to-day responsibilities of the role
    </label>
  </h2>
  <div id="more-detail-hint" class="govuk-hint">
    Include common tasks to be carried out by the successful candidate, for example:<br><strong>investigating operational and business needs and issues and recommending improvements to the service</strong>.
  </div>
  <textarea onkeyup="handleInput(event)" class="govuk-textarea" id="respon" name="respon" value="{{ data['respon']}}" rows="5" aria-describedby="respon-hint"></textarea>
</div>






        <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>

        {{ govukButton({
          text: "Preview advert",
          classes: "govuk-button--secondary govuk-!-margin-top-6",
          href: "preview-advert"
        }) }}



</form>
</div>
</div>

{% include '/csu71/includes/footerarea.html' %}

<script>







var fill = document.getElementById("person-spec");
const candidate = "A senior business analyst has a good understanding of strategic arenas and leads large or complex projects. At this role level, you will:\n\n– have functional or people management responsibilities, or a combination of both\n– mentor others\n– develop best practice\n– own stakeholder relationships\n– manage community of practice activities within a business area"

const candidate2 = "<p class='govuk-body-m'>A senior business analyst has a good understanding of strategic arenas and leads large or complex projects.</p><p class='govuk-body-m'>At this role level, you will:</p><ul class='govuk-!-margin-top-3 govuk-list govuk-list--number'><li>have functional or people management responsibilities, or a combination of both</li><li>mentor others</li><li>develop best practice</li><li>own stakeholder relationships</li><li>manage community of practice activities within a business area</li></ul>"


fill.innerHTML = candidate;
console.log(candidate)


const bullet = "–";
const bulletWithSpace = `${bullet} `;
const enter = 13;


const handleInput = (event) => {
  const { keyCode, target } = event;
  const { selectionStart, value } = target;

  if (keyCode === enter) {
    console.log('a');
    target.value = [...value]
      .map((c, i) => i === selectionStart - 1
        ? `\n${bulletWithSpace}`
        : c
      )
      .join('');
      console.log(target.value);

    target.selectionStart = selectionStart+bulletWithSpace.length;
    target.selectionEnd = selectionStart+bulletWithSpace.length;
  }

  if (value[0] !== bullet) {
    target.value = `${bulletWithSpace}${value}`;
  }
}
</script>



{% endblock %}
