{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Job campaign submitted for approval</h1>
        <div style="font-size:34px"class="govuk-panel__body"><strong style="font-size:38px">{{ data['temp-copy-input-autocomplete']|default("Policy Adviser") }} </strong>(1001334)<BR>{{ data['grade']|default("Senior Executive Officer")}}

          <!-- {{data['temp-copy-input-autocomplete']|default("Policy Adviser")}} (1001334)<BR>{{ data['grade']}} <br><strong> </strong> -->
        </div>
      </div>



      <h2 class="govuk-heading-l govuk-!-margin-top-6">What happens next</h2>
      <p class="govuk-body-m">Your job campaign has been sent to Government Recruitment Service (GRS). GRS will perform an audit to make sure the campaign is compliant with the Civil Service Commission's principles.</p>
        <p class="govuk-body-m">GRS will contact you if they need more information or to confirm the audit is complete.
         </p>
        <p class="govuk-body-m"><strong>You will be able to launch your job campaign once GRS have completed the audit.</strong></p>
    </div>
  </div>

{% endblock %}
