{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Finalise and submit</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



    <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Add people to the campaign</H1>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter" style="">


        <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet-">
            <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="contact-details"><strong>Main point of<BR>contact</a></p></strong></li>

          <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="include-people"><strong>Panel members</a></p></strong></li>

          <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="include-people-others"><strong>Other people</a></p></strong></li>
          <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="include-people-review"><strong>Review people</a></p></strong></li>
        </ul>
      </div>
      <div class="govuk-!-margin-top-6 govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l">Review and actions</h2>






<h3 class="govuk-heading-m">Contact</h3>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Main point of contact"
              },
              value: {
                html: "jane.smith@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Main point of contact"
              },
              value: {
                html: "s.cheeseman@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
          ]
        }) }}


        <h3 class="govuk-heading-m">Panel</h3>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Joint panel chair"
              },
              value: {
                  html: "jane.smith@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Joint panel chair"
              },
              value: {
                  html: "s.cheeseman@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Panel member"
              },
              value: {
                  html: "shuab.ali@dhsc.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Panel member"
              },
              value: {
                html: "s.cohen@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 3"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
          ]
        }) }}
        <h3 class="govuk-heading-m">Other people</h3>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Content contributor"
              },
              value: {
                text: "terry.stamp@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 1"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Content contributor"
              },
              value: {
                text: "deanna.lancelot@defra.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Reviewer"
              },
              value: {
                text: "georgina.washandgo@ons.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Reviewer"
              },
              value: {
                text: "peter.pandora@cabinetoffice.gov.uk"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Question 2"
                  },
                  {
                    href: "#",
                    text: "Delete",
                    visuallyHiddenText: "Question 3"
                  }
                ]
              }
            }
            ,
            {
              key: {
                text: "Approver"
              },
              value: {
                text: "manjit.sharma@cabinetoffice.gov.uk"
              },
              actions: {
                items: [

                ]
              }
            }
            ,
            {
              key: {
                text: "Approver"
              },
              value: {
                text: "tina.griffin@cabinetoffice.gov.uk"
              },
              actions: {
                items: [

                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          href:"/csu71/task-list-exp-co",
          text: "Continue"
        }) }}

</div>
</div>










<script>





</script>
{% endblock %}
