{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Contract information</span>
<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
<span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>
</div>
</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form class="form" action="/csu71/location-handler" method="post">

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Location</h1>





    <div id="mroe" style="">
      {{ govukRadios({
        id: "uk",
        name: "uk",
        classes: "",
        fieldset: {
          legend: {
            text: "Where will the role be located?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          id: "rem",
          value: "Remote",
          text: "Remote"
        },
        {
          id: "off",
          value: "Onsite at a government-managed location",
          text: "Onsite at a government-managed location"
        },
        {
          id: "hyb",
          value: "A hybrid of both remote and onsite",
          text: "A hybrid of both remote and onsite",
          checked: "true"
        }


        ]
      }) }}
    </div>





      </div>
    </div>





    {{ govukButton({
      text: "Continue",
      classes: "govuk-button govuk-!-margin-top-9"
    }) }}

    {{ govukButton({
      text: "Preview advert",
      classes: "govuk-button--secondary govuk-!-margin-top-9",
      href: "preview-advert"
    }) }}
    </form>
    {% endblock %}
