{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% set sectionref = "About the vacancy" %}
{% include '/csu71/includes/blue-subhead.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

<h1 class="govuk-heading-xl">Reserved status</h1>
<form class="form" action="approval" method="post">


  <p class="govuk-body-m">In addition to the rules that all candidates must satisfy to be eligible to join the Civil Service, there are some roles that can only be filled by UK nationals.</p>

  <p class="govuk-body-m">These roles are <strong>reserved</strong> because of the sensitive nature of the work carried out. For example, all individuals working in any of the security and intelligence services will be employed into a post with a reserved status.</p>


  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "reserved-status",
    fieldset: {
      legend: {
        text: "To the best of your knowlege, has this role been reserved for UK nationals only?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "Yes - this vacancy is reserved",
        checked: checked("reserved-status","Yes - this vacancy is reserved"),
        text: "Yes - this vacancy is reserved"
      },
      {
        value: "No - this vacancy is not reserved",
        checked: checked("reserved-status","No, - this vacancy is not reserved"),
        text: "No, - this vacancy is not reserved"
      },
      {
        value: "I'm not sure",
        checked: checked("reserved-status","I'm not sure"),
        text: "I'm not sure"
      }
    ]
  }) }}


            <button class="govuk-button" data-module="govuk-button">Continue</button>

          </form>


</div>
</div>
{% include '/csu71/includes/footerarea.html' %}

{% endblock %}
