{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Selection criteria and assessment methods</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}










<!-- {% for items in data['behaviours'] %}



{% for items in data['skills'] %}



{{ govukSummaryList({
  classes: '￼',
  name: 'test',
  id: 'test01',
  rows: [
  { key: { html: 'Experience' }, value: { html: items } },￼
  ]
}) }}￼

{% endfor %}




{{ govukSummaryList({
  classes: '￼',
  name: 'test',
  id: 'test01',
  rows: [
  { key: { html: 'Behaviour' }, value: { html: items } },￼
  ]
}) }}￼

{% endfor %}



{% for items in data['strengths'] %}



{{ govukSummaryList({
  classes: '￼',
  name: 'test',
  id: 'test01',
  rows: [
  { key: { html: 'Strength' }, value: { html: items } },￼
  ]
}) }}￼

{% endfor %} -->



<form class="form" action="#" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl" >
        Review your assessment methods
      </h1>
      <p class="govuk-body-l govuk-!-margin-bottom-3">Review how you will assess candidates at sift and interview.</p>




      <div class="govuk-summary-card govuk-summary-list--no-border" style="margin-left:-20px;border:0px;">
        <div style="height:30px; background: white" class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Stage 1: sift</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row" style="background:#f3f2f1;border-bottom:1px solid #1d70b8;padding-bottom:10px">





              <dd style="width:30%" class="govuk-summary-list__value">
                <strong>Assessment method</strong>
              </dd>
              <dd style="width:15%" class="govuk-summary-list__value">
                  <strong>Element</strong>
              </dd>
              <dd style="width:45%" class="govuk-summary-list__value">
                <strong>Selection criteria</strong>
              </dd>
            </div>






            <div id="siftRow1" class="govuk-summary-list__row">
            </div>
            <div id="siftRow2" class="govuk-summary-list__row">
            </div>
            <div id="siftRow3" class="govuk-summary-list__row">
            </div>
          </dl>
        </div>
      </div>

    <div class="govuk-summary-card govuk-summary-list--no-border" style="margin-left:-20px;border:0px">
      <div style="height:30px; background: white" class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Stage 2: interview</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row" style="background:#f3f2f1;border-bottom:1px solid #1d70b8;padding-bottom:10px">
            <dd style="width:30%" class="govuk-summary-list__value">
              <strong>Assessment method</strong>
            </dd>
            <dd style="width:15%" class="govuk-summary-list__value">
                <strong>Element</strong>
            </dd>
            <dd style="width:45%" class="govuk-summary-list__value">
              <strong>Selection criteria</strong>
            </dd>
          </div>
          <div id="intRow1" class="govuk-summary-list__row">
          </div>
          <div id="intRow2" class="govuk-summary-list__row">
          </div>
          <div id="intRow3" class="govuk-summary-list__row">
          </div>
        </dl>

    <div class="govuk-!-margin-bottom-4 govuk-!-margin-top-4" style="">


    <!-- <p class="govuk-body-m" style="font-size:20px;line-height:1.6"><strong>77% of online jobsite users typically have a 'first look' at a job ad using their phone, and on average, spend just 11 seconds on the page.</strong></p>
    <p class="govuk-body-s ">Source: Civil Service Jobs (2023), Cabinet Office.</p> -->

    {{ govukButton({
      text: "Continue"
    }) }}



  </div>
  </div>

<script>


  const sift1 = document.getElementById("siftRow1");
  const sift2 = document.getElementById("siftRow2");
  const sift3 = document.getElementById("siftRow3");

  const int1 = document.getElementById("intRow1");
  const int2 = document.getElementById("intRow2");
  const int3 = document.getElementById("intRow3");







  const reviewSiftStage = {
      "CV, Personal statement": {
        "Experience": ["Experience of building relationships with busy stakeholders to achieve change.","Experience of operating in a fast-paced and ever-changing environment to provide policy advice and briefing to seniors and stakeholders."],
        "Skills": ["Evidence of understanding the current national policy challenges for the population impacted by this area.","Knowledge of how to deliver oral and written information effectively."]
      }
    }

console.log(reviewSiftStage['CV, Personal statement'].Experience)

    window.sessionStorage.setItem("reviewSiftStage", JSON.stringify(reviewSiftStage));



  const reviewCriteria = {
    "Behaviours": ["Seeing the big picture", "Changing and improving", "Communicating and Influencing", "Delivering at Pace"],
    "Experience": ["Experience of building relationships with busy stakeholders to achieve change.","Experience of operating in a fast-paced and ever-changing environment to provide policy advice and briefing to seniors and stakeholders."],
    "Strengths": ["Challenger", "Mission", "Adaptable", "Courageous", "Authentic", "Emotionally Intelligent", "Disciplined", "Focussed"],
    "Skills": {
      "1": {
        "Title": "Evidence of understanding the current national policy challenges for the population impacted by this area.",
        "Level": "Practitioner"
      },
      "2": {
        "Title": "Evidence of understanding the current national policy challenges for the population impacted by this area.",
        "Level": "Practitioner"
      }
    }
  }

window.sessionStorage.setItem("reviewCriteria", JSON.stringify(reviewCriteria));


    const reviewInterviewStage = {
      "Interview questions": {
        "Behaviours": ["Seeing the big picture", "Changing and improving", "Communicating and Influencing", "Delivering at Pace"],
        "Strengths": ["Challenger", "Mission", "Adaptable", "Courageous", "Authentic", "Emotionally Intelligent", "Disciplined", "Focussed"]
      }
    }
    window.sessionStorage.setItem("reviewInterviewStage", JSON.stringify(reviewInterviewStage));



    const siftContent = document.createElement("div");
    siftContent.innerHTML = "<dd style='width:30%' class='govuk-summary-list__value'>"+reviewSiftStage['CV, Personal statement'].Experience+"</dd><dd style='width:15%' class='govuk-summary-list__value'>"+reviewSiftStage['CV, Personal statement'].Experience+"</dd><dd style='width:45%' class='govuk-summary-list__value'>"+reviewSiftStage['CV, Personal statement'].Experience+"</dd>";
    siftRow1.appendChild(siftContent);


</script>

{% endblock %}
