{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}




{% block content %}
<style>
  /* Example page specific styling. */
  p, div {
    font-family: "GDS Transport", arial, sans-serif;
    line-height: 1.2;
    margin: 0.8
  }
  p, li {
    font-size: 22px; line-height: 1.2;
    vertical-align: text-top;

  }


  h2 {
    font-size: 30px; line-height: 0.5;
    vertical-align: text-top;

  }

  h3 {
    font-size: 24px;
    line-height: 1.5;

  }

  label {
    font-size: 22px;
    font-weight:normal;
    line-height: 1;
    vertical-align: text-top;
    padding-top:40px;
  }

  hint {
    font-size: 18px;
    font-weight:normal;
    line-height: 1.2;
    vertical-align: text-top;
  }


  input[type="checkbox"]:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    color: black;
  }

  input[type="checkbox"]:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: 5px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }



</style>
{% set behavioursDefinitions = [
  ['Seeing the big picture','Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest.'],
  ['Changing and Improving','Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback.'],
  ['Making Effective Decisions','Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions.'],
  ['Leadership','Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all.'],
  ['Communicating and Influencing','Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.'],
  ['Working together','Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support.'],
  ['Developing Self and Others','Focus on continuous learning and development for self, others and the organisation as a whole.'],
  ['Managing a quality service','Deliver service objectives with professional excellence, expertise and efficiency, taking account of diverse customer needs.'],
  ['Delivering at pace','Take responsibility for delivering timely and quality results with focus and drive.'] ] %}


<form class="form" action="/check-next-stepV5" method="post">

  <H2 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-3">What will you assess within each element at sift and interview?</h2>
  <p class="govuk-body-l govuk-!-margin-bottom-6 govuk-!-margin-top-3">You have selected which elements are important to assess for this job role. You should now select what you will assess within each element at sift and interview.</p>

  <H1 style="padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-6">Behaviours</H1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="width:20%">

      {% for items in data['selected'] %}
      <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet-">

        {% if items == "behaviours" %}
        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items }}"><strong>{{ items | capitalize }}</a></p></strong></li>

        {% else %}
        <li><strong><p style ="border-left:2px solid white;padding-left:20px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items }}"><strong>{{ items | capitalize }}</a></p></strong></li>


      </ul>
      {% endif %}
      {% endfor %}

    </div>
    <div class="govuk-grid-column-three-quarters">


<div style="background:#F4FAFF">
<img class="govuk-!-margin-top-0" src="/public/images/qyrd.png" style="float:left;height:25px;;padding:20px;;">
<p class="govuk-body-m govuk-!-margin-top-6 govuk-!-margin-bottom-1" style="padding:20px"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-behaviours-pers?grade={{ data['grade-select']}}"><strong>I'm not sure - help me choose</strong></a></p>
</div>



<div class="govuk-!-margin-top-1" style="display:block">



  <div style="position:relative;width:45%;" class="govuk-!-margin-top-1 govuk-!-margin-left-3">
    {% from "govuk/components/select/macro.njk" import govukSelect %}
    {{ govukSelect({
      id: "grade-select",
      name: "grade-select",
      label: {
        text: "Select grade"
      },
      items: [
      {
        value: "level0",
        text: "None",
        selected: checked("grade-select","None")
      },

      {
        value: "level1",
        text: "Administrative Assistant",
        selected: checked("gselect","Administrative Assistant")
      },
      {
        value: "level1",
        text: "Administrative Officer",
        selected: checked("gselect","Administrative Officer")
      },
      {
        value: "level2",
        text: "Executive Officer",
        selected: checked("gselect","Executive Officer")
      },
      {
        value: "level3",
        text: "Higher Executive Officer",
        selected: checked("gselect","Higher Executive Officer")
      },
      {
        value: "level3",
        text: "Senior Executive Officer",
        selected: checked("gselect","Senior Executive Officer")
      },
      {
        value: "level4",
        text: "Grade 7",
        selected: checked("gselect","Grade 7")
      },
      {
        value: "level4",
        text: "Grade 6",
        selected: checked("gselect","Grade 6")
      }
      ]
    }) }}

<a class="govuk-button govuk-button--secondary govuk-!-margin-top-0" onclick="graSelecta('grade-select')" type="button" style="float:right;position:absolute;right:-10px;top:68px">Show</a>
  </div>



<!--
      {% from "govuk/components/select/macro.njk" import govukSelect %}
      {{ govukSelect({
        id: "grade-select",
        name: "grade-select",
        label: {
          text: "Select grade"
        },
        items: [
        {
          value: "level0",
          text: "None",
          selected: checked("grade-select","None")
        },

        {
          value: "level1",
          text: "Administrative Assistant",
          selected: checked("gselect","Administrative Assistant")
        },
        {
          value: "level1",
          text: "Administrative Officer",
          selected: checked("gselect","Administrative Officer")
        },
        {
          value: "level2",
          text: "Executive Officer",
          selected: checked("gselect","Executive Officer")
        },
        {
          value: "level3",
          text: "Higher Executive Officer",
          selected: checked("gselect","Higher Executive Officer")
        },
        {
          value: "level3",
          text: "Senior Executive Officer",
          selected: checked("gselect","Senior Executive Officer")
        },
        {
          value: "level4",
          text: "Grade 7",
          selected: checked("gselect","Grade 7")
        },
        {
          value: "level4",
          text: "Grade 6",
          selected: checked("gselect","Grade 6")
        }
        ]
      }) }} -->







<!-- <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1 govuk-!-margin-top-1" onclick="graSelecta('grade-select')" type="button" style=";">Show</a> -->
</div>

<!-- <a style="float:right;position:absolute;left:550px;margin-top:-70px" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" href="#" onclick="graSelecta('grade-select')" type="button">Show</a> -->



      <div id="header1"></div>



      <div class="govuk-!-margin-bottom-4 govuk-!-margin-top-6" style="float:right;width:90%;background:#F4FAFF;border-left:5px solid #1d70b8;padding:10px">
      <p id="caution" style="display:none"  class="govuk-body-m" style="font-size:20px;line-height:1.6"><strong>Last year, the average number of behaviours assessed by vacancy holders at {{ data['temp-copy-input-autocomplete'] | last}} was 3. Campaigns that featured 5 or more were 50% more likely to end without attracting any applicants.</strong></p>
            <p id="cautionref" style="display:none" class="govuk-body-xs ">Source: Civil Service Data Science Report (2022), Cabinet Office.</p>
            <button onclick="checkCheckBoxes()" class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">Continue</button>

      </div>



    </div>


    </div>



<input type="hidden" name="source" value="behaviours">
</FORM>

    <script>
    var hea1 = document.getElementById("header1");


    const object = JSON.parse(window.sessionStorage.getItem("behaviours"));
    var obj0 = Object.values(object.level0);
    var level = obj0;

    for (var t=0;t<level.length;t++) {
      // console.log(level1[t].title)
      // console.log(level1[t].description)

      var hintText = level[t].description;


      var label = document.createElement("label");
      var checkBox = document.createElement("input");
      var hint = document.createElement("hint");
      checkBox.type = "checkbox";
      checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
      label.style.cssText = "display: block;padding-left: 15px;padding-top:30px;text-indent: 40px;";
      hint.style.cssText = "display: block;padding-left: 55px;";
      checkBox.value = level[t].title;
      hint.value = level[t].description;
      checkBox.setAttribute("id","behaviours-"+t);
      checkBox.setAttribute("name","behaviours");

      label.appendChild(document.createTextNode(level[t].title));

      hea1.appendChild(label);


      hea1.appendChild(checkBox);
      hint.appendChild(document.createTextNode(level[t].description));
      hea1.appendChild(hint);
    }

      graSelecta('grade-select')

    function graSelecta(grade){
      var grade = document.getElementById(grade).value;

      var hea1 = document.getElementById("header1");
      hea1.innerText = "";
      const object = JSON.parse(window.sessionStorage.getItem("behaviours"));


      var level;
      var obj0 = Object.values(object.level0);
      var obj1 = Object.values(object.level1);
      var obj2 = Object.values(object.level2);
      var obj3 = Object.values(object.level3);
      var obj4 = Object.values(object.level4);


      if (grade == "level0") {
        level = obj0;
      }


      if (grade == "level1") {
        level = obj1;

      } else if (grade == "level2") {
        level = obj2;

      } else if (grade == "level3") {
        level = obj3;
      }   else if (grade == "level4") {
        level = obj4;
      }




      for (var t=0;t<level.length;t++) {
        var hintText = level[t].description;

        var label = document.createElement("label");
        var checkBox = document.createElement("input");
        var hint = document.createElement("hint");
        checkBox.type = "checkbox";
        checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
        label.style.cssText = "display: block;padding-left: 15px;padding-top:30px;text-indent: 40px;";
        hint.style.cssText = "display: block;padding-left: 55px;";
        checkBox.value = level[t].title;
        hint.value = level[t].description;
        checkBox.setAttribute("id","behaviours-"+t);
        checkBox.setAttribute("name","behaviours");
        hint.setAttribute("id",level[t].title);
        hint.setAttribute("name",grade);
        label.appendChild(document.createTextNode(level[t].title));

        hea1.appendChild(label);


        hea1.appendChild(checkBox);
        hint.appendChild(document.createTextNode(level[t].description));
        hea1.appendChild(hint);
      }

    }


    function checkCheckBoxes() {
      var behaviourCheck = [];

      var checkboxB = document.getElementsByTagName('input');

      for (i = 0; i < checkboxB.length; i++) {
        var checkCt = checkboxB[i].checked.length;
        if (checkboxB[i].type == 'checkbox' && checkboxB[i].checked ) {
          behaviourCheck.push(checkboxB[i].value);
          window.sessionStorage.setItem("BehavioursSelected", JSON.stringify(behaviourCheck));
        }
      }


    }

    const dwqq = JSON.parse(window.sessionStorage.getItem("BehavioursSelected"));
    console.log(object)


    </script>


    {% endblock %}
