{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Selection criteria and assessment methods</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

  {% block content %}

  <style>
    .experiment {
      background:#F4FAFF;
      border-bottom:1px solid #1d70b8;
      margin-top:5px;
      margin-bottom:-20px;
      padding-top:20px;
      padding-left:20px;
      padding-bottom:15px;
      font-weight:bold;
    }

    p, div {
      font-family: "GDS Transport", arial, sans-serif;
      line-height: 1.2;
      margin: 0.8
    }
    p, li {
      font-size: 22px; line-height: 1.2;
      vertical-align: text-top;
    }


    h2 {
      font-size: 30px; line-height: 0.5;
      vertical-align: text-top;
    }

    h3 {
      font-size: 24px;
      line-height: 1.5;
    }

    label {
      font-size: 22px;
      font-weight:normal;
      line-height: 1;
      vertical-align: text-top;
      padding-top:10px;
    }

    hint {
      font-size: 18px;
      font-weight:normal;
      line-height: 1.2;
      vertical-align: text-top;
    }


    input[type="checkbox"]:checked  {
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      background: white;
      height: 40px;
      width: 40px;
      border: 2px solid black;
      color: black;
    }

    input[type="checkbox"]:after {
      content:"";
      position: absolute;
      left: 40%;
      top: 20%;
      width: 15%;
      height: 40%;
      border: 5px solid #000000;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      display: none;
    }

    input[type="checkbox"]:checked:after {
      display: block;
    }
  </style>

  <form class="form" action="/csu71/check-next-stepV5" method="post">
    <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8;" class="govuk-heading-xl govuk-!-margin-top-1 govuk-!-margin-bottom-6">Strengths</H1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">

        {% for items in data['selected'] %}
        <ul class="govuk-!-margin-top-4 govuk-list govuk-list--bullet-">
          {% if items == "strengths" %}
          <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items }}"><strong>{{ items | capitalize }}</a></p></strong></li>
          {% else %}
          <li><strong><p style ="border-left:2px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="select-{{items }}"><strong>{{ items | capitalize }}</a></p></strong></li>
        </ul>
        {% endif %}
        {% endfor %}

      </div>
      <div class="govuk-grid-column-three-quarters">



          <div class="govuk-!-margin-left-3 govuk-!-margin-top-9" id="recom" style="display:none;background:#F4FAFF;border-left:5px solid #1d70b8;padding:10px">
            <p class="govuk-body-m "><strong>Would you like to the most relevant strengths mapped to your selected behaviours? </strong></p>

            <div >
              {{ govukRadios({
                classes: "govuk-radios--inline govuk-radios--small",
                idPrefix: "strenRec",
                name: "strenRec",
                fieldset: {
                  legend: {
                    text: "Would you like us to suggest strengths to match the behaviours you have selected?",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                {
                  id: "reveal",
                  value: "Yes",
                  text: "Yes",
                  checked: checked("strenRec","Yes")
                },
                {
                  id: "hiderec",
                  value: "No",
                  text: "No",
                  checked: checked("strenRec","No")
                }
                ]
              }) }}
            </div>



          </div>


          <!-- <div id="recom2" style=";background:#F4FAFF;;border-left:5px solid #1d70b8;padding:10px">
            <p class="govuk-body-m" style="font-size:20px;line-height:1.6"><strong>We recommend selecting 4-6 strengths in total.</strong><BR>They can be assessed at sift with the Work Strengths online test,<BR>and at interview with quick-response interview questions.</p>
          </div> -->

          <div id="conditional" style=";padding-top:10px;padding-bottom:10px" class="govuk-!-margin-top-3">

            <div style="border-bottom:1px solid #1d70b8" class="govuk-!-margin-bottom-3 govuk-!-margin-top-1" id="behave"></div>






          <div style="position:relative;;" class="govuk-form-group govuk-input--width-30 govuk-!-margin-top-3 govuk-!-margin-left-3">
            <label for="autocomplete-default" class="govuk-label--s">Search the strengths dictionary</label>
            <div id="strengthsList" class="autocomplete-wrapper"></div>



            <a style="float:right;position:absolute;right:-120px;top:25px" class="govuk-button govuk-button--secondary govuk-!-margin-top-0"  href="#">Add to list</a>

          </div>

          <div id="bar" class="govuk-!-margin-top-6"  style="border-top:1px solid #1d70b8"></div>

          <p class="govuk-!-margin-left-3 govuk-!-margin-top-3" id="item"></p>
          <a style="float:right;font-size:18px" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state govuk-!-margin-top-0" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/717274/CS_Strengths_2018.pdf"><strong>Strengths Dictionary PDF</strong></a>
  </div>
          <script src="/public/javascripts/temp-copy.js"></script>
          <script src="/public/javascripts/temp.js"></script>



          <input type="hidden" name="source" value="strengths">






          <button class="govuk-button govuk-!-margin-top-6" onclick="checkCheckBoxes()" data-module="govuk-button">Continue</button>

        </form>

        <script>

          if (document.getElementById('reveal').checked) {
            hideDiv('recom');
            showDiv("conditional");
            showDiv('recom2');
          }


          var matchStrengths = [];
          const streBo = JSON.parse(window.sessionStorage.getItem("behaviourStrengths"));






          const strengthsArray = [];
          const object = JSON.parse(window.sessionStorage.getItem("strengths"));
          const entry = document.getElementById("autocomplete-default");
          var item = document.getElementById('item');
          entry.addEventListener('change', (event) => {

            var strength = event.target.value;
            var description;
            var content = document.createElement("p");


            for (items in object){
              if (strength == object[items].title){
                content.innerHTML = "<strong style='font-size:20px'>"+strength+"</strong>"+"<BR>"+object[items].description+"<br><a id='del"+items+"' onclick='' href='#'>delete</a>";
                  item.appendChild(content);
                }
              }
              strengthsArray.push(strength);
              const del = document.getElementsByTagName('a');

            });

            const extra = document.getElementById('reveal');
            const nothanks = document.getElementById('hiderec');
            var divv = document.getElementById('conditional').style.display;
            extra.addEventListener('change', (event) => {
              if (extra.checked) {
                hideDiv('recom');
                showDiv("conditional");
                showDiv('recom2');
              }

            });

            nothanks.addEventListener('change', (event) => {
              if (nothanks.checked) {
                hideDiv("conditional");
                hideDiv("recom");
                hideDiv("bar");
              }

            });

            function showDiv(div1) {
              document.getElementById(div1).style.display = 'block';

            }

            function hideDiv(div1) {
              document.getElementById(div1).style.display = 'none';

            }

            const beStrengths = JSON.parse(window.sessionStorage.getItem("behaviourStrengths"));
            const behaviours = JSON.parse(window.sessionStorage.getItem("BehavioursSelected"));
            const strengths = JSON.parse(window.sessionStorage.getItem("strengths"));


            var beLong = behaviours.length;


            var strewn = [];
            var hinter = [];


            for (var log=0; log < beLong; log++) {
              var outputB = document.getElementById('behave');
              var contentB = document.createElement("p");
              contentB.style.cssText = "font-size:24px;border-bottom:1px solid #1d70b8;padding-bottom:10px;padding-top:20px";
              contentB.innerHTML = "For the behaviour <strong>"+behaviours[log]+"</strong>";
              outputB.appendChild(contentB)


              for (things in beStrengths){
                if (behaviours[log] == beStrengths[things].title) {
                  var contentS = document.createElement("p");


                  // contentS.innerHTML = beStrengths[things].strengths;
                  // outputB.appendChild(contentS)


                  strewn = beStrengths[things].strengths;







                  for (var tings=0;tings<strewn.length;tings++){


                    for (stick in strengths) {
                      if (strewn[tings] == strengths[stick].title) {


                        hinter[tings] = strengths[stick].description;
                        console.log(strewn[tings])

                      }

                    }
                  }


                  var outputB = document.getElementById('behave');
                  for (var i = 0; i < strewn.length; i++) {
                    var label = document.createElement("label");
                    var checkBox = document.createElement("input");
                    var hint = document.createElement("hint");
                    checkBox.type = "checkbox";
                    checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
                    label.style.cssText = "display: block;font-size:20px;padding-left: 15px;text-indent: 40px;";
                    checkBox.value = strewn[i];

                    if (strewn[i] == "Strategic" || strewn[i] == "Disciplined" || strewn[i] == "Explainer" || strewn[i] == "Improver" || strewn[i] == "Focussed"){
                      label.setAttribute("class","experiment");

                      checkBox.checked = "true";
                    }


                    hint.style.cssText = "font-size:20px;display: block;padding-bottom: 20px;";
                    hint.value = hinter[i];
                    checkBox.setAttribute("id","strengths"+behaviours[log]+i);
                    checkBox.setAttribute("name","strengths");

                    label.appendChild(document.createTextNode(strewn[i]));
                    outputB.appendChild(label);
                    outputB.appendChild(checkBox);
                    hint.appendChild(document.createTextNode(hinter[i]));
                    outputB.appendChild(hint);






                  }


























                  // checkBoxxed(strewn, hinter)








                  // for (var sss = 0; sss < strewn.length;sss++) {
                  //   contentS.innerHTML = strewn[sss]
                  //   outputB.appendChild(contentS)

                  // }




                }
              }
            }



            function checkBoxxed(array, hintArray){
              console.log(hintArray)
              var outputB = document.getElementById('behave');
              for (var i = 0; i < array.length; i++) {
                var label = document.createElement("label");
                var checkBox = document.createElement("input");
                var hint = document.createElement("hint");
                checkBox.type = "checkbox";
                checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
                label.style.cssText = "display: block;font-size:20px;padding-left: 15px;text-indent: 40px;";
                checkBox.value = array[i];
                hint.value = hintArray[i];
                checkBox.setAttribute("id",beStrengths[things].title+array[i]+i)
                checkBox.setAttribute("name",i)
                label.appendChild(document.createTextNode(array[i]));
                outputB.appendChild(label);
                outputB.appendChild(hint);
                outputB.appendChild(checkBox);
              }
            }



            // for (var i = 0; i < strengthsChkList.length; i++) {
            //   var label = document.createElement("label");
            //   var checkBox = document.createElement("input");
            //   checkBox.type = "checkbox";
            //   checkBox.style.cssText = "width: 30px;height: 30px;padding: 0;margin: 0;vertical-align: bottom;position: relative;top: -30px;";
            //   label.style.cssText = "display: block;font-size:22px;padding-left: 15px;text-indent: 40px;";
            //   checkBox.value = strengthsChkList[i];
            //   checkBox.setAttribute("id","interview-"+i+st)
            //   checkBox.setAttribute("name",headArr[3]+"-"+interviewTstVars2[st])
            //   label.appendChild(document.createTextNode(strengthsChkList[i]));
            //   interviewhea1.appendChild(label);
            //   interviewhea1.appendChild(checkBox);
            // }

            function checkCheckBoxes() {
              var strengthCheck = [];

              var checkboxS = document.getElementsByTagName('input');

              for (i = 0; i < checkboxS.length; i++) {
                if (checkboxS[i].type == 'checkbox' && checkboxS[i].checked ) {
                  strengthCheck.push(checkboxS[i].value);
                  window.sessionStorage.setItem("StrengthsSelected", JSON.stringify(strengthCheck));
                }
              }
            }



          </script>
          {% endblock %}
