{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block beforeContent %}
{% set sectionref = "Summary" %}
{% include '/csu71/includes/blue-subhead.html' %}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">About the vacancy</h1>
      <h2 class="govuk-heading-m">Basic information</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Job title</dt>
          <dd class="govuk-summary-list__value">{{ data['temp-copy-input-autocomplete']|default("Policy Adviser") }}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true&grade=Senior Executive Officer">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Grade</dt>
          <dd class="govuk-summary-list__value">{{ data['grade']|default("Senior Executive Officer")}}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> grade</span></a></dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Cabinet Office role?</dt>
          <dd class="govuk-summary-list__value">{{ data['cabinet-office-role']}}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details">Change<span class="govuk-visually-hidden"> cabinet office role?</span></a></dd>
        </div> -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Department</dt>
          <dd class="govuk-summary-list__value">{{ data['dept']|default("Cabinet Office")}} </dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> department</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Number of posts availables</dt>
          <dd class="govuk-summary-list__value">{{ data['num-posts']|default("1") }}</dd>
          <dd class="govuk-summary-list__actions"><a href="basic-details?edit1=true">Change<span class="govuk-visually-hidden"> number of posts availables</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Reserved status and Approval</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Reserved status</dt>
          <dd class="govuk-summary-list__value">{{ data['reserved-status']|default("No")}}</dd>
          <dd class="govuk-summary-list__actions"><a href="reserved-status-role?edit1=true">Change<span class="govuk-visually-hidden"> Business area</span></a></dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Approval</dt>
          <dd class="govuk-summary-list__value">{{ data['approval-status']|default("Approved")}} <br>  {{ data['file-upload-1']|default("BCP-2231-23.pdf")}}</dd>
          <dd class="govuk-summary-list__actions"><a href="Approval">Change<span class="govuk-visually-hidden"> Business area</span></a></dd>
        </div>

      </dl>



      <!-- {{ data['team-detail'] | escape | nl2br }} -->





      <form action="locations" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <span class="govuk-caption-l">Next section</span>
      <h2 class="govuk-heading-l">Contract information</h2>
      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    {% include '/csu71/includes/footerarea.html' %}

    {% endblock %}
