{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Summary</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-xl">Summary</span>
    <h1 class="govuk-heading-xl">Finalise and submit</h1>

    <h2 class="govuk-heading-m">Panel</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Panel selected for sift and interview?</dt>
        <dd class="govuk-summary-list__value">{{ data['panel-selected']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="interviews?edit25=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Same panel for sift and interview?</dt>
        <dd class="govuk-summary-list__value">{{ data['panel-sift-int']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="interviews?edit25=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email addresses of panelists</dt>
        <dd class="govuk-summary-list__value">{{ data['panelist1']}}<br>{{ data['panelist2']}}<br>{{ data['panelist3']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="interviews?edit25=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Campaign dates</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Preferred launch (TBC)</dt>
        <dd class="govuk-summary-list__value">{{ data['day']}}/{{ data['month']}}/{{ data['year']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="campaign-dates?edit26=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Duration</dt>
        <dd class="govuk-summary-list__value">{{ data['advert-time']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="campaign-dates?edit26=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Share with internal reviewers</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-30">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Share with reviewer</dt>
        <dd class="govuk-summary-list__value">{{ data['reviewer']}}</dd>
        <dd class="govuk-summary-list__actions"><a href="pre-submit-reviewer?edit27=true">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
    </dl>

    <span class="govuk-caption-l">Are you ready to submit?</span>
    <h2 class="govuk-heading-l">What happens next</h2>
    <p>Non equidem invideo, miror magis posuere velit aliquet. Fictum, deserunt mollit anim laborum astutumque! Ab illo tempore, ab est sed immemorabili. Sed haec quis possit intrepidus aestimare tellus.
    </p>
    <form action="confirmation" method="post" novalidate>
      <input type="hidden" name="summary6" value="true">
      <input type="hidden" name="submitted" value="true">
      <button type="submit" class="govuk-button" data-module="govuk-button">Submit for approval</button>
    </form>

  </div>
</div>
{% include '/csu71/includes/footerarea.html' %}

{% endblock %}
