{% extends "layouts/main.html" %} {% block header %} {% include
'/includes/header.html' %} {% endblock %} {% block pageTitle %} Home – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}

<div
  id="bluePanel"
  style="
    width: 100%;
    background: #1d70b8;
    height: 45px;
    border-bottom: 0.5px solid #1d70b8;
    float: left;
  "
>
  <a href="#"
    ><img
      src="/public/images/search.png"
      style="float: right; margin-right: 30px; padding: 10px; width: 20px"
  /></a>

  <div
    style="
      position: relative;
      float: right;
      width: 40%;
      margin-right: 30px;
      margin-top: -3px;
    "
  ></div>

  <div
    style="position: relative; left: right; margin-right: 20px; margin-top: 4px"
  >
    <span
      class="govuk-body-m"
      style="
        margin-left: 30px;
        background: white;
        border: 1px solid #1d70b8;
        border-radius: 5px;
        padding: 6px;
      "
      ><a
        class="govuk-link govuk-link--no-underline govuk-link--no-visited-state"
        style="color: #1d70b8"
        href="#"
        ><strong>Create a vacancy</strong></a
      ></span
    >
  </div>
</div>

{% endblock %} {% block content %}

<div
  style="
    background: white;
    height: 950px;
    border: 1px solid #1d70b8;
    padding: 30px;
  "
>
  <div class="govuk-tabs govuk-!-padding-top-6" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item"  style="border-top:4px solid red;">
        <div style="float:left;height:15px;width:15px;background:red;border-radius:20px;margin-right:10px;color:whte"></div>

        <a class="govuk-tabs__tab" href="#past-month"><strong>Action required</strong></a>
      </li>



      <li class="govuk-tabs__list-item">
        <a
          class="govuk-tabs__tab govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state"
          href="#past-week"
          ><strong>Current vacancies</strong>
        </a>
      </li>
      <li
        class="govuk-tabs__list-item govuk-tabs__list-item--selected"
        style="background:#1d70b8"
      >
        <a
          style="color:white" class="govuk-tabs__tab govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state"
          href="#past-day"
        >
          <strong>Campaign dashboard</strong>
        </a>
      </li>
    </ul>
    <div
      class="govuk-tabs__panel"
      id="past-day"
      style="height: 800px; background:#1d70b8"
    >
      <!-- <div style="text-align: right">
          <strong style="font-size: 22px" class="govuk-tag"
            >applications open</strong
          >
        </div> -->
      <div style="padding: 10px; border-radius: 10px;">


        <div style="display: none">
          <svg
            style="float: right"
            width="53px"
            height="27px"
            viewBox="0 0 354 187"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Group 5</title>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Artboard"
                transform="translate(-1896.000000, -1827.000000)"
              >
                <g id="Group-5" transform="translate(1896.000000, 1827.000000)">
                  <path
                    d="M177,0 C274.754401,0 354,79.2455993 354,177 L290.498,177 L290.484828,175.377204 C289.484741,113.694747 239.170785,64 177.25,64 C114.787236,64 64.1353755,114.568488 64.0002709,176.999611 L0,177 L0,177 C0,79.2455993 79.2455993,0 177,0 Z"
                    id="Combined-Shape"
                    fill="#1A2792"
                  ></path>
                  <line
                    x1="294.25"
                    y1="176.75"
                    x2="177.25"
                    y2="59.25"
                    id="Line-8"
                    stroke="#5C5C5C"
                    stroke-width="20.5"
                    stroke-linecap="round"
                    transform="translate(235.750000, 118.000000) scale(-1, 1) translate(-235.750000, -118.000000) "
                  ></line>
                </g>
              </g>
            </g>
          </svg>

          <svg
            style="float: right"
            width="53px"
            height="27px"
            viewBox="0 0 354 187"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Group 6</title>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Artboard"
                transform="translate(-2794.000000, -1827.000000)"
              >
                <g id="Group-6" transform="translate(2794.000000, 1827.000000)">
                  <path
                    d="M177,0 C274.754401,0 354,79.2455993 354,177 L290.498,177 L290.484828,175.377204 C289.484741,113.694747 239.170785,64 177.25,64 C114.787236,64 64.1353755,114.568488 64.0002709,176.999611 L0,177 L0,177 C0,79.2455993 79.2455993,0 177,0 Z"
                    id="Combined-Shape"
                    fill="#ECAC00"
                  ></path>
                  <line
                    x1="294.25"
                    y1="176.75"
                    x2="177.25"
                    y2="59.25"
                    id="Line-8"
                    stroke="#5C5C5C"
                    stroke-width="20.5"
                    stroke-linecap="round"
                    transform="translate(235.750000, 118.000000) scale(-1, 1) translate(-235.750000, -118.000000) "
                  ></line>
                </g>
              </g>
            </g>
          </svg>
          <svg
            style="float: right"
            width="53px"
            height="27px"
            viewBox="0 0 354 187"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Group 7</title>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Artboard"
                transform="translate(-3692.000000, -1827.000000)"
              >
                <g id="Group-7" transform="translate(3692.000000, 1827.000000)">
                  <path
                    d="M177,0 C274.754401,0 354,79.2455993 354,177 L290.498,177 L290.484828,175.377204 C289.484741,113.694747 239.170785,64 177.25,64 C114.787236,64 64.1353755,114.568488 64.0002709,176.999611 L0,177 L0,177 C0,79.2455993 79.2455993,0 177,0 Z"
                    id="Combined-Shape"
                    fill="#005ABB"
                  ></path>
                  <line
                    x1="294.25"
                    y1="176.75"
                    x2="177.25"
                    y2="59.25"
                    id="Line-8"
                    stroke="#5C5C5C"
                    stroke-width="20.5"
                    stroke-linecap="round"
                    transform="translate(235.750000, 118.000000) scale(-1, 1) translate(-235.750000, -118.000000) "
                  ></line>
                </g>
              </g>
            </g>
          </svg>
        </div>


        <div
          style="
            padding: 20px;
            background:#1d70b8;
            border-radius: 7px;
            height: 515px;
            border: 1px solid #1d70b8;
          "
        >

        <div style="float:left;margin-right:20px">
          <span style=";text-align:center;;width:38%;border-bottom:1px solid white;;color:white" class="govuk-caption-l">Day 4</span>
          <h1 style="text-align:left;;color:white;;padding-top:10px" class="govuk-heading-xl">Policy Adviser</h1>
</div>

          <svg width="786px" height="411px" viewBox="0 0 605 316" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Group 14</title>
              <defs>
                  <filter x="-8.5%" y="-12.8%" width="117.0%" height="125.6%" filterUnits="objectBoundingBox" id="filter-1">
                      <feGaussianBlur stdDeviation="0.681355932" in="SourceGraphic"></feGaussianBlur>
                  </filter>
                  <filter x="-8.5%" y="-12.8%" width="117.0%" height="125.6%" filterUnits="objectBoundingBox" id="filter-2">
                      <feGaussianBlur stdDeviation="0.681355932" in="SourceGraphic"></feGaussianBlur>
                  </filter>
                  <filter x="-8.5%" y="-12.8%" width="117.0%" height="125.6%" filterUnits="objectBoundingBox" id="filter-3">
                      <feGaussianBlur stdDeviation="0.681355932" in="SourceGraphic"></feGaussianBlur>
                  </filter>
                  <filter x="-8.5%" y="-12.8%" width="117.0%" height="125.6%" filterUnits="objectBoundingBox" id="filter-4">
                      <feGaussianBlur stdDeviation="0.681355932" in="SourceGraphic"></feGaussianBlur>
                  </filter>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" transform="translate(-2882.000000, -1375.000000)">
                      <g id="Group-14" transform="translate(2882.000000, 1375.000000)">
                          <rect id="Rectangle" fill="#000000" x="134" y="0" width="471" height="153" rx="3"></rect>
                          <rect id="Rectangle" fill="#1A2792" x="0" y="163" width="605" height="153" rx="3"></rect>
                          <g id="Group-13" transform="translate(67.000000, 0.000000)">
                              <rect id="Rectangle" fill="#1A2792" x="0" y="0" width="57" height="57" rx="2.4"></rect>
                              <text id="Applications" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8" font-weight="bold" letter-spacing="0.0380952388" fill="#FFFFFF">
                                  <tspan x="5.4577514" y="48.7027311">Applications</tspan>
                              </text>
                              <line x1="3.58240223" y1="39.5168067" x2="52.9399441" y2="39.5168067" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <text id="32" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="26.4" font-weight="bold" letter-spacing="0.12571429" fill="#FFFFFF">
                                  <tspan x="11.8606844" y="32.3476891">32</tspan>
                              </text>
                          </g>
                          <g id="Group-12">
                              <rect id="Rectangle" fill="#1A2792" x="0" y="0" width="57" height="57" rx="2.4"></rect>
                              <line x1="3.58240223" y1="39.0378151" x2="52.9399441" y2="39.0378151" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <text id="Public-/-Private" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="7.2" font-weight="bold" letter-spacing="0.0342857152" fill="#FFFFFF">
                                  <tspan x="3.06215084" y="48.0231092">Public / Private</tspan>
                              </text>
                              <text id="3:1" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="26.4" font-weight="bold" letter-spacing="0.12571429" fill="#FFFFFF">
                                  <tspan x="11.0597067" y="31.8686975">3:1</tspan>
                              </text>
                          </g>
                          <g id="Group-12" transform="translate(0.000000, 67.000000)">
                              <rect id="Rectangle" fill="#1A2792" x="0" y="0" width="124" height="86" rx="2.4000001"></rect>
                              <!-- <line x1="8.79365079" y1="19" x2="107.206349" y2="19" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <line x1="8.79365079" y1="42" x2="107.206349" y2="42" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <line x1="8.79365079" y1="32" x2="107.206349" y2="32" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <line x1="8.79365079" y1="54" x2="107.206349" y2="54" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <line x1="8.79365079" y1="66" x2="107.206349" y2="66" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <line x1="8.79365079" y1="77" x2="107.206349" y2="77" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line>
                              <line x1="107.865079" y1="19" x2="107.5" y2="76.5" id="Line" stroke="#FFFFFF" stroke-width="0.8" stroke-linecap="square"></line> -->
                              <text id="Top-5-Referrals" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="11.2" font-weight="bold" letter-spacing="0.0533333348" fill="#FFFFFF">
                                  <tspan x="9" y="15">Top 5 Referrals</tspan>
                              </text>
                              <text id="LinkedIn" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="9" y="40">LinkedIn</tspan>
                              </text>
                              <text id="Google" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="9" y="29">Google</tspan>
                              </text>
                              <text id="53%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="81" y="29">53%</tspan>
                              </text>
                              <text id="12%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="81" y="40">12%</tspan>
                              </text>
                              <text id="9%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="81" y="51">9%</tspan>
                              </text>
                              <text id="6%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="81" y="63">6%</tspan>
                              </text>
                              <text id="2%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="81" y="74">2%</tspan>
                              </text>
                              <text id="Indeed" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="9" y="52">Indeed</tspan>
                              </text>
                              <text id="CS-Careers" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="9" y="63">CS Careers</tspan>
                              </text>
                              <text id="DWP-Get-a-Job" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="8.2" font-weight="bold" letter-spacing="0.0390476201" fill="#FFFFFF">
                                  <tspan x="9" y="75">DWP Get a Job</tspan>
                              </text>
                          </g>
                          <g id="Group-10" transform="translate(151.000000, 43.000000)">
                              <line x1="0.5" y1="2.5" x2="342.5" y2="2.5" id="Line-10" stroke="#FFFFFF" stroke-linecap="square"></line>
                              <line x1="0.5" y1="32.5" x2="342.5" y2="32.5" id="Line-10" stroke="#FFFFFF" stroke-linecap="square"></line>
                              <line x1="0.5" y1="62.5" x2="342.5" y2="62.5" id="Line-10" stroke="#FFFFFF" stroke-linecap="square"></line>
                              <line x1="0.5" y1="92.5" x2="342.5" y2="92.5" id="Line-10" stroke="#FFFFFF" stroke-linecap="square"></line>
                              <polyline id="Line-11" stroke="#ECAC00" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="12.5 26.5 29.5 42.5 57 40 68 79 79 69 89 32 109 40 134 46 145 79 157 69 168 40 178 40 189 17 203 35 212 40 222 63 233 66 244 26 269 35 277 40 288 40 301 69 310 66 322 52"></polyline>
                              <polyline id="Line-11" stroke="#005ABB" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" points="19.5 9.5 36.5 25.5 64 23 75 62 86 52 96 15 116 23 141 29 152 62 164 52 175 23 185 23 196 0 210 18 219 23 229 46 240 49 251 9 276 18 284 23 295 23 308 52 317 49 329 35"></polyline>
                          </g>

                          <g id="Group-6" transform="translate(519.180282, 15.000000)">
                              <path d="M31.9098592,0 C49.5331877,0 63.8197183,14.2968865 63.8197183,31.9329897 L52.371,31.932 L52.3689241,31.6297884 C52.1831307,20.5063381 43.114626,11.5463918 31.9549296,11.5463918 C20.6943082,11.5463918 11.5628739,20.669133 11.5380788,31.9321055 L0,31.9329897 L0,31.9329897 C0,14.2968865 14.2865306,0 31.9098592,0 Z" id="Combined-Shape" fill="#ECAC00"></path>
                              <g id="Group-8" transform="translate(9.273239, 8.463918)">
                                  <line x1="0.363380282" y1="23.4690722" x2="22.9535211" y2="0.0360824742" id="Line-8" stroke="#FFFFFF" stroke-width="3.24" stroke-linecap="square" transform="translate(11.500000, 12.000000) scale(-1, 1) translate(-11.500000, -12.000000) "></line>
                                  <ellipse id="Oval" fill="#FFFFFF" cx="22.3661972" cy="23.9201031" rx="2.61408451" ry="2.61597938"></ellipse>
                              </g>
                          </g>
                          <g id="Group-6" transform="translate(518.453521, 76.000000)">
                              <path d="M32.6366197,0 C50.2599483,0 64.5464789,14.2968865 64.5464789,31.9329897 L53.0977606,31.932 L53.0956847,31.6297884 C52.9098913,20.5063381 43.8413866,11.5463918 32.6816901,11.5463918 C21.4210688,11.5463918 12.2896344,20.669133 12.2648393,31.9321055 L0.726760563,31.9329897 L0.726760563,31.9329897 C0.726760563,14.2968865 15.0132911,0 32.6366197,0 Z" id="Combined-Shape" fill="#005ABB"></path>
                              <g id="Group-8" transform="translate(0.000000, 25.463918)">
                                  <line x1="0.363380282" y1="6.46907216" x2="32.9535211" y2="0.0360824742" id="Line-8" stroke="#FFFFFF" stroke-width="3.24" stroke-linecap="square" transform="translate(16.500000, 3.500000) scale(-1, 1) translate(-16.500000, -3.500000) "></line>
                                  <ellipse id="Oval" fill="#FFFFFF" cx="32.3661972" cy="6.92010309" rx="2.61408451" ry="2.61597938"></ellipse>
                              </g>
                          </g>
                          <g id="Group-11" transform="translate(149.000000, 7.000000)" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-weight="bold">
                              <text id="25%" filter="url(#filter-2)" font-size="11.4539232" letter-spacing="0.0545424923" fill="#1A2792">
                                  <tspan x="370" y="53">25%</tspan>
                              </text>
                              <text id="15%-Completion" font-size="10.881227" letter-spacing="0.0518153697" fill="#FFFFFF">
                                  <tspan x="364" y="53">15% Completion</tspan>
                              </text>
                              <text id="Campaign-Performance" font-size="19.881227" letter-spacing="0.0946725148" fill="#FFFFFF">
                                  <tspan x="0" y="19">Campaign Performance</tspan>
                              </text>
                          </g>
                          <g id="Group-11" transform="translate(513.000000, 111.000000)" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-weight="bold">
                              <text id="25%" filter="url(#filter-4)" font-size="11.4539232" letter-spacing="0.0545424923" fill="#1A2792">
                                  <tspan x="6" y="11">25%</tspan>
                              </text>
                              <text id="0.5%-Conversion" font-size="10.881227" letter-spacing="0.0518153697" fill="#FFFFFF">
                                  <tspan x="0" y="11">0.5% Conversion</tspan>
                              </text>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>


          <div
            style="
            position:absolute;left:235px;bottom:495px;
              width: 130px;
              height: 120px;
              background: #1A2792;
              border: 1px solid white;
              border-radius: 3px;
              margin-left: 20px;
              box-shadow: 4px 4px 4px #000000;
            "
          >
            <h3
              style="
                font-size: 40px;
                color: yellow;
                text-align:center;
                padding: 10px;;

              "
              class="govuk-heading-l"
            >
              25%</h3><p style="color:white;margin-top:-35px;text-align:center"><strong>Application completion</strong>
            </p>
          </div>










        </div>
        </div>
      </div>
    <div
      class="govuk-tabs__panel govuk-tabs__panel--hidden"
      id="past-week"
      style="height: 800px; background: white"
    >
    <h2 class="govuk-heading-l">Current vacancies</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr
            class="govuk-table__row"
            style="border-bottom: 0.5px solid #1d70b8; width: 19%"
          >
            <th
              scope="col"
              class="govuk-table__header"
              style="width: 15%; background: #f4faff; color: #1d70b8"
            >
              Last mod.
            </th>
            <th
              style="
                background: #f4faff;
                padding-left: 10px;
                color: #1d70b8;
                width: 30%;
              "
              scope="col"
              class="govuk-table__header"
            >
              Job⇕
            </th>
            <th
              scope="col"
              class="govuk-table__header"
              style="width: 15%; background: #f4faff; color: #1d70b8"
            >
              Grade⇕
            </th>
            <th
              scope="col"
              class="govuk-table__header"
              style="width: 40%; background: #f4faff; color: #1d70b8"
            >
              Status⇕
            </th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr
            id="inter"
            class="govuk-table__row"
            style="border-bottom: 0.5px solid #1d70b8"
          >
            <td class="govuk-table__cell" style="background: white">
              <strong id="date"></strong>
            </td>

            <td
              class="govuk-table__cell"
              style="padding-left: 10px; background: white"
            >
              <strong
                ><a
                  class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state"
                  href="#"
                  >Policy Adviser (1001334)</a
                ></strong
              >
            </td>
            <td class="govuk-table__cell" style="width: 30%; background: white">
              <strong>SEO</strong>
            </td>

            <td class="govuk-table__cell" style="background: white">
              <strong style="font-size: 16px" class="govuk-tag"
                >applications open</strong
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" style=";height:800px">

      <h2 class="govuk-heading-l">Reasonable adjustment need</h2>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The candidate cannot complete their application until you respond.
        </strong>
      </div>



        <div class="govuk-grid-column-one-third" style="border-right:1px solid #1d70b8;margin-top:10px;height:700px;background:#F3F2F1;;">


          <div class="govuk-form-group" style="margin-top:10px;">
            <label class="govuk-label" for="sort">
              List
            </label>
            <select style="width:100%;border:1px solid lightgrey" class="govuk-select" id="sort" name="sort">
              <option value="published">Recently published</option>
              <option value="All" selected>All</option>
              <option value="views">Most views</option>
              <option value="comments">Most comments</option>
            </select>
          </div>


<!-- <div style="box-shadow: 0px 0px 2px 1px #737373;;margin-bottom:10px;margin-top:5px;height:auto;background:white"> -->

<div style=";border:1px solid #1d70b8;margin-bottom:10px;margin-top:5px;height:auto;background:white">
  <div style="float:right;height:10px;width:10px;background:red;border-radius:20px;margin-top:15px;margin-right:8px;;color:whte"></div>

<a id="ra1" href="#" onclick="showHideDiv('rapanel','questionpanel')">
<p class="govuk-body-s"  style="" id="msgStamp"></p>
<p class="govuk-body-s" style="margin-top:-15px;padding-left:10px;padding-top:1px;padding-bottom:10px;;font-weight:bold">Reasonable adjustment request<br>Approve spend</p></a></div>


<a id="q1" href="#" onclick="showHideDiv('questionpanel','rapanel');">
<div style=";border:1px solid #1d70b8;margin-bottom:10px;margin-top:5px;height:auto;background:white">
<p class="govuk-body-s"  style="" id="oldd"></p>
<p class="govuk-body-s" style="margin-top:-15px;padding-left:10px;padding-top:1px;padding-bottom:10px;;font-weight:normal">Question about the role</p></a></div>



</div>
<div id="questionpanel" class="govuk-grid-column-two-thirds" style=";height:655px;margin-top:0px;">
<div style=";margin-bottom:10px;margin-top:10px;height:700px;background:#F4FAFF">
<!-- <div style="box-shadow: 0px 1px 2px 1px #737373;;margin-bottom:10px;margin-top:10px;height:650px;background:white"> -->


  <div class="govuk-grid-column-full govuk-!-padding-top-3" style=";margin-bottom:10px;height:90px;background:#F3F2F1;border-bottom:1px solid #1d70b8">


    <div class="govuk-grid-column-one-third">

  <p style=";line-height:1.6" class="govuk-body-s">Request date</p>
  <p style="margin-top:-20px;line-height:1.6" class="govuk-body-s">Request type</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-s" style="font-weight:bold;line-height:1.6" id="old2"></p>
          <p class="govuk-body-s" style="font-weight:bold;margin-top:-20px;line-height:1.6">Question about the role</p>
        </div>



<!-- <p style="" id="msgStamp2"></p> -->

  </div>

  <!-- <h4 style="margin-left:20px" class="govuk-heading-m govuk-!-padding-top-3">Budget approval required</h4> -->

  <p class="govuk-body-m" style="margin-left:20px;;font-weight:normal">A communi observantia non est recedendum. At nos hinc posthac, sitientis piros Afros. Fictum, deserunt mollit anim laborum astutumque!
    Quae vero auctorem tractata ab fiducia dicuntur. Nec dubitamus multa iter quae et nos invenerat. Ullamco laboris nisi ut aliquid ex ea commodi consequat. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Sed haec quis possit intrepidus aestimare tellus.
Paullum deliquit, ponderibus modulisque suis ratio utitur. Magna pars studiorum, prodita quaerimus. Phasellus laoreet lorem vel dolor tempus vehicula. Curabitur est gravida et libero vitae dictum.
Hi omnes lingua, institutis, legibus inter se differunt. Quam temere in vitiis, legem sancimus haerentia. Donec sed odio operae, eu vulputate felis rhoncus.

  </p>


  <!-- <details class="govuk-details" style="margin-left:20px" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Why am I receiving this?
      </span>
    </summary>
    <div class="govuk-details__text" style="background:white">
      A communi observantia non est recedendum. At nos hinc posthac, sitientis piros Afros. Fictum, deserunt mollit anim laborum astutumque!
    </div>
  </details> -->


  <!-- <h5 style="margin-left:20px" class="govuk-heading-s govuk-!-padding-top-3">Why am I receiving this?</h5> -->







    <button class="govuk-button govuk-!-margin-left-3" data-module="govuk-button">
      Reply to candidate
    </button>


<div class="govuk-!-margin-top-9" style="margin-left:20px;margin-top:30px;border-top:1px solid  #1d70b8;height:40px;;">

<p class="govuk-body-m" style="padding:20px">Did you know that ...?<BR> You can share this question and your answer on the job advert</p>

  </div>


</div>

</div>

<div id="rapanel" class="govuk-grid-column-two-thirds" style=";height:655px;margin-top:0px;display:none">
<div style=";margin-bottom:10px;margin-top:10px;height:700px;background:#F4FAFF">
<!-- <div style="box-shadow: 0px 1px 2px 1px #737373;;margin-bottom:10px;margin-top:10px;height:650px;background:white"> -->


  <div class="govuk-grid-column-full govuk-!-padding-top-3" style=";margin-bottom:10px;height:120px;background:#F3F2F1;border-bottom:1px solid #1d70b8">


    <div class="govuk-grid-column-one-third">

  <p style=";line-height:1.6" class="govuk-body-s">Request date</p>
  <p style="margin-top:-20px;line-height:1.6" class="govuk-body-s">Request type</p>
    <p style="margin-top:-20px;line-height:1.6" class="govuk-body-s">Purpose </p>
      </div>
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-s" style="font-weight:bold;line-height:1.6" id="msgStamp2"></p>
          <p class="govuk-body-s" style="font-weight:bold;margin-top:-20px;line-height:1.6">Reasonable adjustment</p>
          <p class="govuk-body-s" style="font-weight:bold;margin-top:-20px;line-height:1.6">Approve spend</p>
        </div>



<!-- <p style="" id="msgStamp2"></p> -->

  </div>

  <!-- <h4 style="margin-left:20px" class="govuk-heading-m govuk-!-padding-top-3">Budget approval required</h4> -->

  <p class="govuk-body-m" style="margin-left:20px;;font-weight:normal">A communi observantia non est recedendum. At nos hinc posthac, sitientis piros Afros. Fictum, deserunt mollit anim laborum astutumque!</p>


  <details class="govuk-details" style="margin-left:20px" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Why am I receiving this?
      </span>
    </summary>
    <div class="govuk-details__text" style="background:white">
      A communi observantia non est recedendum. At nos hinc posthac, sitientis piros Afros. Fictum, deserunt mollit anim laborum astutumque!
    </div>
  </details>


  <!-- <h5 style="margin-left:20px" class="govuk-heading-s govuk-!-padding-top-3">Why am I receiving this?</h5> -->


  <h2 class="govuk-heading-m" style="width:86%;border-bottom:1px solid  #1d70b8;margin-left:20px">Please act by {date}</h2>

  <p class="govuk-body-m" style="margin-left:20px;;font-weight:normal">A communi observantia non est recedendum. At nos hinc posthac, sitientis piros Afros. Fictum, deserunt mollit anim laborum astutumque!</p>

  <div class="govuk-form-group" style="padding:20px;">
    <label style="margin-right:10px" class="govuk-label--s" for="costCode">
      Select charge code
    </label>
    <select style="" class="govuk-select" id="costCode" name="costCode">
      <option value="CO-GRP145-13445" selected>CO-GRP145-13445</option>
      <option value="CO-GRP145-10981">CO-GRP145-10981</option>
      <option value="CO-GRP145-09924">CO-GRP145-09924</option>
    </select>
  </div>



  <div class="govuk-button-group" style="margin-left:20px">
    <button class="govuk-button" data-module="govuk-button">
      Approve spend request
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Forward request
    </button>

  </div>

<div class="govuk-!-padding-top-6" style="margin-left:20px;margin-top:30px;border-top:1px solid  #1d70b8;height:40px;;">

  <p class="govuk-body-m" style="padding:20px">Did you know that ...?<BR> You can share this question and your answer on the job advert</p>


  </div>


</div>

</div>

</div>

</div>
    </div>
  </div>
<script>

  function showHideDiv(div1,div2) {
    document.getElementById(div1).style.display = 'block';
    document.getElementById(div2).style.display = 'none';

  }



  const dateField = document.getElementById("date");
  const msgSt = document.getElementById("msgStamp");
  const msgSt2 = document.getElementById("msgStamp2");
  const olddd = document.getElementById("oldd");
  const old2 = document.getElementById("old2");

  const stamp = new Date();
  const localStamp = stamp.toLocaleDateString("en-uk", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });

  const timeStamp = stamp.toLocaleDateString("en-uk", {
    hour: "numeric",
    minute: "numeric",
    day: "numeric",
    month: "short",
    year: "numeric"
  });

  dateField.outerText = localStamp;
  msgSt.style = ";padding-left:10px;padding-top:20px;font-weight:bold";
  msgSt.innerHTML = timeStamp;
  // msgSt2.style = "font-size:18px;padding-left:10px;padding-top:20px;font-weight:normal";
  msgSt2.innerHTML = timeStamp;


  var monthNames = new Array("Jan", "Feb", "Mar",
      "Apr", "May", "June", "July", "August", "Sept",
      "Oct", "Nov", "Dec");

  const newStamp = new Date();
  var oldDate = newStamp.getMonth()-3;
  var curr_month = newStamp.getMonth();
  var curr_year = newStamp.getFullYear();
  var olderStamp = oldDate + " " + monthNames[curr_month] + " " + curr_year + ", 11:33";
  olddd.style = ";padding-left:10px;padding-top:20px;font-weight:normal";
  olddd.innerHTML = olderStamp;

  old2.innerHTML= olderStamp

  console.log(olderStamp)





</script>
{% endblock %}
