{% extends "layouts/main.html" %} {% block header %} {% include
'/includes/header.html' %} {% endblock %} {% block pageTitle %} Home – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}

<div
  id="bluePanel"
  style="
    width: 100%;
    background: #1d70b8;
    height: 45px;
    border-bottom: 0.5px solid #1d70b8;
    float: left;
  "
>
  <a href="#"
    ><img
      src="/public/images/search.png"
      style="float: right; margin-right: 30px; padding: 10px; width: 20px"
  /></a>

  <div
    style="
      position: relative;
      float: right;
      width: 40%;
      margin-right: 30px;
      margin-top: -3px;
    "
  ></div>

  <div
    style="position: relative; left: right; margin-right: 20px; margin-top: 4px"
  >
    <span
      class="govuk-body-m"
      style="
        margin-left: 30px;
        background: white;
        border: 1px solid #1d70b8;
        border-radius: 5px;
        padding: 6px;
      "
      ><a
        class="govuk-link govuk-link--no-underline govuk-link--no-visited-state"
        style="color: #1d70b8"
        href="#"
        ><strong>Create a vacancy</strong></a
      ></span
    >
  </div>
</div>

{% endblock %} {% block content %}


<div style="background: white;height:1400px;border:1px solid #1d70b8;padding:30px;">

<div class="govuk-tabs govuk-!-padding-top-6" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" style="border-top:2px solid red;">
      <a style="color:#1d70b8" class="govuk-tabs__tab govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#action">
        <div style="margin-top:5px;float:left;height:15px;width:15px;background:red;border-radius:20px;margin-right:10px;color:whte"></div>
        <strong>Action needed</strong>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a style="color:#1d70b8" class="govuk-tabs__tab govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#vacancies">
        <strong>Current vacancies</strong>
      </a>







    </li>
    <li class="govuk-tabs__list-item" style="background:#1d70b8">
      <a style="color:white" class="govuk-tabs__tab govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#dash">
        <strong>Policy Adviser campaign</strong>
      </a>







    </li>
  </ul>
  <div class="govuk-tabs__panel" id="action" style="height:1250px;background:white">


      <h2 class="govuk-heading-l govuk-!-padding-bottom-6 govuk-!-padding-top-6" style="margin-top:-23px">Reasonable adjustment needed</h2>

      <div style="height:240px">
        <div class="" style="background:#F3F2F1;padding:20px;;margin-top:-30px;">
          <div class="govuk-warning-text" style="background:white;border-bottom:1px solid lightgrey;">
            <span style="" class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text" style="font-size:20px">
              <span class="govuk-warning-text__assistive">Warning</span>
              The candidate cannot complete their application until you respond.
            </strong>
          </div>
          <dl class="govuk-summary-list govuk-summary-list--no-border" style="margin-top:-15px;margin-bottom:-5px;margin-left:35px;font-size:20px">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:35% !important;">
                Action needed by
              </dt>
              <dd class="govuk-summary-list__value" id="date2"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Request date
              </dt>
              <dd class="govuk-summary-list__value" id="date3">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Request type
              </dt>
              <dd class="govuk-summary-list__value">
                Reasonable adjustment
              </dd>
            </div>

          </dl>
          </div>

      </div>
  <div style="background:#f4faff;height:402px;;padding:10px;">
  <div class="govuk-!-margin-top-0" style=";;padding:10px;background: white;border-bottom:1px solid #1d70b8">
      <h2 class="govuk-heading-m" style="padding-left:10px" >Candidate's request</h2>


      <p class="govuk-body-m" style="line-height:1.4;padding:10px">I tried to do the Judgement Test practice test and found it difficult to understand the nuances in the question responses because I have Asperger’s.<BR><BR>In the past I've been offered the help of a support worker in a one-to-one supported session for the real test. Basically, they sat with me, read out the questions aloud and then asked me what I would do in each scenario scenario. This helped me interpret the context so I could understand the scenario properly, and choose the answer that was right for me.</p>
        <dl class="govuk-summary-list govuk-summary-list--no-border" style="margin-top:-5px;margin-bottom:10px;font-size:20px;width:100%;padding:10px;border-top:1px solid lightgrey">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="font-weight:normal;width:70%;padding:10px;">
              <strong>Candidate would like to be contacted</strong><BR>+44 07951 226223
            </dt>
            <dd style="width:60%;padding:10px;line-height:1.9;" class="govuk-summary-list__value"><strong>[ yes] SMS message</strong><BR>[ no ] Voice call
            </dd>
          </div>
        </dl>
  </div>


    </div>
    <h2 class="govuk-heading-l govuk-!-margin-top-6" style="">Next steps</h2>

    <div class="govuk-!-margin-top-0" style="height:200px;background:#F3F2F1;padding:20px;;margin-top:-0px;">


        <p class="govuk-body-m">Providing the cash? Sourcing the support?</p>
          <p class="govuk-body-m">You will be contacted by email for next steps.</p>


</div>
<div class="govuk-button-group govuk-!-margin-top-3">
<button class="govuk-button govuk-!-margin-top-0" data-module="govuk-button">
CTA???
</button>
<button class="govuk-button govuk-button--secondary govuk-!-margin-top-0 data-module="govuk-button">
CTA???
</button>
</div>




    </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="vacancies">
    <h2 style="margin-top:-23px" class="govuk-heading-l govuk-!-padding-top-6">Current vacancies</h2>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row" style="border-bottom: 0.5px solid #1d70b8; width: 19%">
          <th scope="col" class="govuk-table__header" style="width: 15%; background: #f4faff; color: #1d70b8">
            Last mod.
          </th>
          <th
            style="background: #f4faff;padding-left: 10px;color: #1d70b8;width: 30%;" scope="col" class="govuk-table__header">
            Job⇕
          </th>
          <th scope="col" class="govuk-table__header" style="width: 15%; background: #f4faff; color: #1d70b8">
            Grade⇕
          </th>
          <th scope="col" class="govuk-table__header" style="width: 40%; background: #f4faff; color: #1d70b8">
            Status⇕
          </th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <tr id="inter" class="govuk-table__row" style="border-bottom: 0.5px solid #1d70b8">
          <td class="govuk-table__cell" style="width:20% !important;background: white">
            <strong id="date"></strong>
          </td>

          <td class="govuk-table__cell" style="padding-left: 10px; background: white">
            <strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Policy Adviser (1001334)</a></strong>
          </td>
          <td class="govuk-table__cell" style="; background: white">
            <strong>SEO</strong>
          </td>

          <td class="govuk-table__cell" style="width:40% !important;background: white">
            <strong style="font-size: 16px" class="govuk-tag">applications open</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dash" style="position:relative;height:800px;background:#1d70b8">




  <span style=";font-size:24px;font-weight:normal;text-align:left;;;;;color:white;" class="govuk-caption-xl govuk-!-margin-top-6">Day 4 of 30<h1 style="text-align:left;margin-top:20px;padding-top:20px;color:white;border-top:1px solid white" class="govuk-heading-xl">Policy Adviser campaign</h1></span>

  <div style="position:absolute;top:240px;left:15px;width: 130px;height: 120px;background: #1A2792;border-radius: 3px;margin-left: 20px;box-shadow: 0px 1px 4px 0px black;">
    <h3 style="font-size: 42px; color: yellow; text-align:center;padding: 10px;;" class="govuk-heading-l">4</h3><p style="color:white;margin-top:-35px;text-align:center"><strong>completed applications</strong>
    </p>
  </div>
  <div style="position:absolute;top:240px;left:165px;width: 130px;height: 120px;background: black;border-radius: 3px;margin-left: 20px;box-shadow: 0px 1px 4px 0px black;">
    <h3 style="font-size: 42px; color: red; text-align:center;padding: 10px;;" class="govuk-heading-l">1</h3><p style="color:white;margin-top:-35px;text-align:center"><strong>candidate request</strong>
    </p>
  </div>
  <div style="position:absolute;top:240px;left:315px;width: 130px;height: 120px;background: background: #1A2792;border-radius: 3px;margin-left: 20px;box-shadow: 0px 1px 4px 0px black">
    <h3 style="font-size: 42px; color: yellow; text-align:center;padding: 10px;;" class="govuk-heading-l">19</h3><p style="color:white;margin-top:-35px;text-align:center"><strong>job advert views</strong>
    </p>
  </div>

</div>
<!-- <div style=""><p class="govuk-body-l">You have 4 completed applications so far</p> <a href="#">Start marking applications</a></div> -->

  </div>





  </div>
</div>




<script>

  function showHideDiv(div1,div2) {
    document.getElementById(div1).style.display = 'block';
    document.getElementById(div2).style.display = 'none';

  }

  var monthNames = new Array("Jan", "Feb", "Mar",
      "Apr", "May", "June", "July", "August", "Sept",
      "Oct", "Nov", "Dec");

  const dateField = document.getElementById("date");
  const dateField2 = document.getElementById("date2");
  const dateField3 = document.getElementById("date3");
  const msgSt = document.getElementById("msgStamp");
  const msgSt2 = document.getElementById("msgStamp2");
  const olddd = document.getElementById("fufutree");
  const old2 = document.getElementById("old2");
  const futurre = document.getElementById("fufutree");

  const stamp = new Date();
  var futdate = stamp.getMonth()-1;

  var curr_month = stamp.getMonth();
  var curr_year = stamp.getFullYear();
  var futureS = futdate + " " + monthNames[curr_month] + " " + curr_year;
dateField3.innerHTML = futureS;


  const localStamp = stamp.toLocaleDateString("en-uk", {
    day: "numeric",
    month: "short",
    year: "numeric",
  });

  const timeStamp = stamp.toLocaleDateString("en-uk", {
    hour: "numeric",
    minute: "numeric",
    day: "numeric",
    month: "short",
    year: "numeric"
  });

  dateField.outerText = localStamp;
  dateField2.outerText = localStamp;




  const newStamp = new Date();
  var oldDate = newStamp.getMonth()-3;
  var curr_month = newStamp.getMonth();
  var curr_year = newStamp.getFullYear();
  var olderStamp = oldDate + " " + monthNames[curr_month] + " " + curr_year + ", 11:33";

  var futureDate = newStamp.getMonth()+12;
  var futureStamp = futureDate + " " + monthNames[curr_month] + " " + curr_year + ", 11:33";





  console.log(olderStamp)





</script>
{% endblock %}
