{% extends "layouts/main.html" %}



{% block content %}


<style>

.govuk-footer__meta {
  margin-left:10px;
  margin-right:10px;
}
.govuk-width-container {
  margin-left:0px;
  margin-right:0px;
  max-width:100%;
}

.govuk-header__content {
    padding-left: 165px;
}

@media (min-width: 768px)
.beta-banner {
    padding-right: 40px;
    padding-left: 113px;
}

@media (min-width: 680px)
.beta-banner {
    padding-right: 40px;
    padding-left: 60px;
}
.beta-banner {
    background-color: #d6e8f2;
    padding: 5px 20px 5px 20px;
}

.govuk-template__body {
  background-color: #f3f3f3;
}

.govuk-main-wrapper {
  padding:0px;
}
@media (min-width: 40.0625em) {
.govuk-main-wrapper {
  padding-bottom:0px;
}
}
.introduction-page {
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 50px 36px;
}
.introduction-page {
    width: calc(100% - 144px);
}
.introduction-page {
    max-width: 780px;
    margin: 0 auto;
    background: #fff;
    margin-bottom:50px
}
.dash-element {
    padding: 20px 20px;
}

.dash-element-left {
  margin:50px 0px 0px 30px;
}

.govuk-header__logo {
  margin-left:25290px;
  width:30%;
}

.nav-right{
  float:right;
}

.govuk-tag--bright-green{
  background-color:#189d51;
  color:#fffff;
}

</style>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="height:1000px;background:#1d70b8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!-- <div class="introduction-page dash-element dash-element-left" style="max-width:100%;margin-top:0px">
          <div class="govuk-summary-card__title-wrapper" style="background-color:#1a81d966">
            <h2 class="govuk-summary-card__title" style="font-size:24px">Lisa Smith</h2> -->
          </div><br>

      </div>
      </div>
    </div>


      </div>



{% endblock %}
