{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l"></span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="task-list?leadcrit=done"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}




<style>

</style>

<!-- <form class="form" action="task-list-siftstage1-submit?ss1=complete" method="post"> -->

<!-- <form class="form" action="task-list-siftstage1" method="post"> -->

<span class="govuk-caption-m" style="margin-top:-20px">1001334</span>
<p class="govuk-body-l">Policy Adviser</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <H1 style=";padding-top:0px;padding-bottom:5px; " class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-0">Sift Behaviour: Managing a Quality Service</H1>
    <H2 style=";padding-top:0px;padding-bottom:5px;font-weight:normal;; " class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-0">Candidate 2 of 8</H2>

    <div class="govuk-!-margin-top-3" style="border-top:1px solid #1d70b8;background:#F3F2F1;padding:10px;border-bottom:1px solid #1d70b8">

<h3 class="govuk-heading-m" style="font-size:20px;font-weight:normal">Managing a Quality Service description for Senior Executive Officer (SEO) grade</h3>
<ul class="govuk-list govuk-list--bullet">




  <li>Develop, implement, maintain and review systems and services to ensure delivery of professional excellence</li>
  <li>Work with stakeholders to set priorities, objectives and timescales</li>
  <li>Successfully deliver high quality outcomes that meet the customers’ needs and gives value for money</li>
  <li>Identify risks and resolve issues efficiently</li>
  <li>Establish ways to find and respond to feedback from customers about the services provided</li>
    <li>Involve a diverse range of colleagues, stakeholders and delivery partners in developing suggestions for improvements</li>
</ul>
</div>

<div>
<p style="padding:10px;line-height:1.5">
  For those who seek the ultimate in refinement and sophistication, the map is but a starting point, a mere suggestion of the lavish and indulgent experiences that await. The true luxury lies not in the map, but in the journey itself, as we explore the uncharted territories of the opulent lifestyle.<BR><BR>

  I understand that it can be frustrating when things don't match up exactly as we expect them to. It's important to remember that the map is simply a representation of the territory, and not the territory itself. We all have our own unique experiences and perspectives that shape how we interpret and navigate the world around us. It's okay if our maps don't always align perfectly with reality. <BR><BR>

  The acquisition of the refined art of cultivating relationships with individuals of elevated status, who are encumbered by demanding schedules, has been a most valuable experience. This proficiency has been honed through the establishment of connections with stakeholders who possess limited availability due to their professional obligations. The ability to navigate these circumstances with finesse has resulted in successful outcomes, as objectives have been met through the establishment of productive partnerships. The cultivation of these relationships has been a crucial component in the achievement of desired results. The mastery of this skill has been a significant asset in the pursuit of progress and the attainment of goals, elevating one's status to the highest echelons of society.
</p>
</div>


<div style="background:#F2FAFF;height:auto;">

<div style="border-top:1px solid #1d70b8;padding:20px;">



  <div class="govuk-!-margin-top-6 govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h3 style="font-size:22px" class="govuk-fieldset__heading">
          Score
        </h3>
        <div id="subject-hint" class="govuk-hint" style="font-size:18px;font-weight:bold">This will be shared with the candidate.</div>

      </legend>
      <div class="govuk-radios" data-module="govuk-radios" style="border:1px solid #1d70b8;border-radius:5px;width:47%;padding:15px;background:white">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-1" name="scorePanel" type="radio" value="1">
          <label  class="govuk-label govuk-radios__label" for="scorePanel-1">
            <strong>1</strong> - not demonstrated
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-2" name="scorePanel" type="radio" value="2">
          <label class="govuk-label govuk-radios__label" for="scorePanel-2">
            <strong>2</strong> - minimal demonstration
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-3" name="scorePanel" type="radio" value="3">
          <label class="govuk-label govuk-radios__label" for="scorePanel-3">
            <strong>3</strong> - moderate demonstration
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-4" name="scorePanel" type="radio" value="4">
          <label class="govuk-label govuk-radios__label" for="scorePanel-4">
            <strong>4</strong> - acceptable demonstration
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-5" name="scorePanel" type="radio" value="5">
          <label class="govuk-label govuk-radios__label" for="scorePanel-5">
            <strong>5</strong> - good demonstration
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-6" name="scorePanel" type="radio" value="6">
          <label class="govuk-label govuk-radios__label" for="scorePanel-6">
            <strong>6</strong> - strong demonstration
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="scorePanel-7" name="scorePanel" type="radio" value="7">
          <label class="govuk-label govuk-radios__label" for="scorePanel-7">
            <strong>7</strong> - outstanding demonstration
          </label>
        </div>
        </div>
    </fieldset>
  </div>




  <div class="govuk-form-group" style="margin-top:5px">
    <label style="font-size:20px;margin-bottom:20px" class="govuk-label" for="reason">
      <strong>Optional feedback for candidates</strong>
    </label>
    <select style="width:50%;border:2px solid #1d70b8;" class="govuk-select" id="reason" name="reason">
      <option selected disabled value="--">Select from the list (optional)</option>
      <option id="newreason" value="Add a new reason to the list">Add a new reason to the list</option>
      <option disabled value="--">-</option>
      <option value="Not enough experience">Not enough experience</option>
      <option value="High level of experience">High level of experience</option>
      <option value="Strong example given">Strong example given</option>
      <option value="No or poor example given">No or poor example given</option>
      <option value="Very relevant to role">Very relevant to role</option>
      <option value="Not relevant to role">Not relevant to role</option>
    </select>
  </div>

<div id="addReasonPanel" style="display:none">
  <div  class="govuk-form-group">
    <label class="govuk-label" for="addReason">Your new reason</label>
    <input style="width:50%;background:white;border:1px solid #1d70b8;" class="govuk-input " id="addReason" name="addReason" type="text">

    <button onclick="addToReasonSelector(addReason.value)" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add to list</button>


  </div>

</div>


      <button id="saveB" class="govuk-button govuk-!-margin-top-5" style="width:25%" onclick="shDiv('succBanner');hideDiv('saveB');shDiv('butopt')" data-module="govuk-button">
        Save score
      </button>


    <div id="succBanner" style="display:none;width:49%;" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header" style="">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content"  style="height:15px">
        <div style="float:right;"><a href="#" onClick="hideDiv('succBanner')">Dismiss</a>
        </div>
        <h3 style="font-size:20px" class="govuk-notification-banner__heading">
          Saved.
        </h3>
      </div>
    </div>
    <div style="display:none" id="butopt">
      <form class="form" action="score-managing-quality-5" method="post">
      {{ govukButton({
      classes: "govuk-!-margin-right-1 govuk-!-margin-top-3",
      text: "Save and continue"
      }) }}

  {{ govukButton({
    classes: "govuk-button govuk-button--secondary govuk-!-margin-top-3",
  text: "Return to task list"
  }) }}
  </form>

</div>
</div>
</div>


<script>





let selector = document.getElementById("reason");

selector.addEventListener("keyup", () => {
  console.log("keypress")


  selector.addEventListener("change", () => {

    switch (selector.value) {
      case "Add a new reason to the list":
      showDiv('addReasonPanel');
        break;
      case "remove":
        break;
    }
    }, { once: true });
});

selector.addEventListener("click", () => {
  console.log("keypress")


  selector.addEventListener("change", () => {

    switch (selector.value) {
      case "Add a new reason to the list":
      showDiv('addReasonPanel');
        break;
      case "remove":
        break;
    }
    }, { once: true });
});

function addToReasonSelector(adder) {
  console.log(adder)
  var newOption = document.createElement("option")
  newOption.innerHTML = adder;
  selector.appendChild(newOption).selected = "true";
  selector.focus();
  hideDiv('addReasonPanel');
  document.getElementById('addReason').value = '';
}



function showDiv(div1) {
  document.getElementById(div1).style.display = 'block';
  if (div1 == "notesPanel"){
    const textA = document.getElementById("textA");
    textA.focus();
  } else if (div1 == "addReasonPanel") {
    document.getElementById(div1).style.display = 'block';
    const reaBox = document.getElementById("addReason");
    reaBox.focus();
  }
}

function hideDiv(div1) {
  document.getElementById(div1).style.display = 'none';
}


const newReason = document.getElementById("newreason");

newReason.addEventListener("focus", (event) => {
  console.log(newReason.value)
});


function shDiv(div1) {
  document.getElementById(div1).style.display = 'block';
}

selector.addEventListener("click", () => {
// if default value is changed
  selector.addEventListener("change", () => {
  // if value switched by client
    switch (selector.value) {
      case "add":
      //do somthing with  , "add" value
        result.innerHTML = selector.value;
        break;  // then take break
      case "remove":
      //do somthing with  , "remove" value
        result.innerHTML = selector.value;
        break; // then take break
    }
  });
});




</script>
{% endblock %}
