{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l"></span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="task-list"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}






  <span class="govuk-caption-m govuk-!-margin-top-6" style="">1001334</span>
  <p class="govuk-body-l">Policy Adviser</p>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Sift lead criteria: Seeing the Big Picture</H1>
    <p class="govuk-body-m">Only candidates who pass the lead criteria will have the rest of their application marked.</p>


    <dl class="govuk-summary-list" style="width:75%">

      <div class="govuk-summary-list__row">



        <dt class="govuk-summary-list__key">



Candidates to sift
        </dt>
        <dd class="govuk-summary-list__value">
      {% if data['ss1'] == "complete" %}
      14 out of 16
      {% elif data['scorePanel'].length > 0 %}
      15 out of 16
      {% else %}
      16
      {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lead criteria
        </dt>
        <dd class="govuk-summary-list__value">
          Seeing the Big Picture
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['scorePanel'].length > 0  %}

          <strong class="govuk-tag govuk-tag--blue"  id="contact-details-status">IN PROGRESS</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey"  id="contact-details-status">NOT STARTED</strong>
          {% endif %}
        </dd>
      </div>

    </dl>





{% if data['scorePanel'].length > 0 %}
{{ govukButton({
  text: "Continue from where you left off",
  href: "task-list-lead-scoring-2"
  }) }}
{% else %}
{{ govukButton({
      text: "Start now",
      href: "task-list-lead-scoring"
    }) }}


{% endif %}





  </div>




</div>

{% endblock %}
