{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="task-list?leadScoring=prog"><strong>Return to task list</strong></a></span>
</div>
<a style="color:white;margin-left:10px" href="#" class="govuk-back-link govuk-back-link--inverse">Back</a>
</div>


{% endblock %}


{% block content %}




  <span class="govuk-caption-m govuk-!-margin-top-6" style="">1001334</span>
  <p class="govuk-body-l">Policy Adviser</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Sift lead criteria: Seeing the Big Picture</H1>

    <div class="govuk-inset-text">
      Only candidates who pass the lead criteria will have the rest of their application marked.
    </div>
    <!-- <p class="govuk-body-m">Only candidates who pass the lead criteria will have the rest of their application marked.</p> -->


    <dl class="govuk-summary-list" style="width:75%">

      <div class="govuk-summary-list__row">



        <dt class="govuk-summary-list__key">



Candidates to sift
        </dt>
        <dd class="govuk-summary-list__value">
      {% if data['leadScoring'] == "complete" or data['leadScoring'] == "confirmed"  %}
      14 out of 16
      {% elif data['scorePanel'].length > 0 %}
      15 out of 16
      {% else %}
      16
      {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lead criteria
        </dt>
        <dd class="govuk-summary-list__value">
          Seeing the Big Picture
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Complete by date
        </dt>
        <dd class="govuk-summary-list__value">18 Sept 2023</dd>
      </div>

    </dl>





{% if data['leadScoring'] == "prog" %}
{{ govukButton({
  text: "Continue from where you left off",
  href: "task-list-lead-scoring-2"
  }) }}
{% else %}
{{ govukButton({
      text: "Start now",
      href: "task-list-lead-scoring"
    }) }}


{% endif %}





  </div>




</div>
<script>

                var monthNames = new Array("Jan", "Feb", "Mar",
                "Apr", "May", "June", "July", "August", "Sept",
                "Oct", "Nov", "Dec");

                const dateField = document.getElementById("drySpell");


                const stamp = new Date();
                var thing = stamp.getMonth()+5;

                const localStamp = stamp.toLocaleDateString("en-uk", {
                  day: "numeric",
                  month: "short",
                  year: "numeric",
                });


                dateField.outerText = localStamp;

                var curr_month = stamp.getMonth();
                var curr_year = stamp.getFullYear();
                 thing = stamp + " " + monthNames[curr_month] + " " + curr_year + ", 11:33";



                const newStamp = new Date();
                var oldDate = newStamp.getMonth()+5;
                  var curr_month = newStamp.getMonth();
                  var curr_year = newStamp.getFullYear();
                  var olderStamp = oldDate + " " + monthNames[curr_month] + " " + curr_year + ", 11:33";

                  var futureDate = newStamp.getMonth()+2;
                  var futureStamp = futureDate + " " + monthNames[curr_month] + " " + curr_year + ", 11:33";





                console.log(olderStamp)

</script>
{% endblock %}
