{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/pheader.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}


  {% block beforeContent %}


  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="#"><strong>Message panel chair</strong></a></span>
  </div>
  <a style="color:white;margin-left:10px" href="javascript:window.history.back()" class="govuk-back-link govuk-back-link--inverse">Back</a>
  </div>


  {% endblock %}

{% block content %}

{% if (data['c1score1'].length) and (data['c1score2'].length) and (data['c1score3'].length) and (data['c1score4'].length) %}
{% set cand1 = "true" %}
{% endif %}

{% if (data['c2score1'].length) and (data['c2score2'].length) and (data['c2score3'].length) and (data['c2score4'].length) %}
{% set cand2 = "true" %}
{% endif %}

{% if (data['c3score1'].length) and (data['c1score2'].length) and (data['c1score3'].length) and (data['c1score4'].length) %}
{% set cand3 = "true" %}
{% endif %}

{% if (data['c4score1'].length) and (data['c4score2'].length) and (data['c4score3'].length) and (data['c4score4'].length) %}
{% set cand4 = "true" %}
{% endif %}

{% if (data['c5score1'].length) and (data['c5score2'].length) and (data['c5score3'].length) and (data['c5score4'].length) %}
{% set cand5 = "true" %}
{% endif %}


<style>

</style>

<form class="form" action="task-list-panelist-lead-submit" method="post">

  <span class="govuk-caption-m" style="margin-top:-20px">1001334</span>
  <p class="govuk-body-l">Policy Adviser</p>


  <div id="succBanner" style="width:55%" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Success
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <div style="float:right"><a href="#" onClick="hideDiv('succBanner')">Dismiss message</a>
      </div>
      <h3 class="govuk-notification-banner__heading">
        Candidate {{ data['ca1']|default("1")}} : score saved.
      </h3>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <H1 style=";padding-top:0px;padding-bottom:5px; " class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-0">Sift lead criteria: Seeing the Big Picture</H1>
      <H2 style=";padding-top:0px;padding-bottom:5px;font-weight:normal;; " class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-0">Candidate 2 of 16</H2>

      <div class="govuk-!-margin-top-3" style="border-top:1px solid #1d70b8;background:#F3F2F1;padding:10px;border-bottom:1px solid #1d70b8">

  <h3 class="govuk-heading-m" style="font-size:20px;font-weight:normal">Seeing the Big Picture description for Senior Executive Officer (SEO) grade</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Understand the strategic drivers for your area of work</li>
  <li>Align activities to contribute to wider organisational priorities</li>
  <li>Remain alert to emerging issues and trends which might impact your work area</li>
  <li>Seek out and share experiences to develop knowledge of the team’s business area</li>
<li>Understand how the strategies and activities of the team create value and meet the diverse needs of all stakeholders</li>
</ul>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Panel chair's notes
    </span>
  </summary>
  <div class="govuk-details__text" style="background:white">
    What I'm looking for is x, y, z.
  </div>
</details>
</div>

    <div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds govuk-!-margin-top-4" style="width:60%">
<p style="padding:10px;line-height:1.5">From a young age, I've always been drawn to the grand scheme of things. The bigger picture has always been my comfort zone.<BR><BR>Whether it's analysing complex systems or simply daydreaming about the vastness of the universe, I find solace in the grandeur of it all. It's like a puzzle waiting to be solved, a mystery waiting to be unraveled. And as I grow older, my fascination with the big picture only intensifies. There's just something about the vastness of the world that makes me feel alive and inspired. It's a feeling that I'll never tire of.<BR><BR>
I also really enjoy playing strategy games because they challenge my mind and require me to think critically. They also allow me to explore different scenarios and come up with creative solutions to problems. Strategy games require patience and perseverance, as well as the ability to adapt to changing circumstances. I enjoy the feeling of accomplishment when I successfully complete a difficult level or defeat a challenging opponent. Strategy games also provide a sense of escapism, allowing me to immerse myself in a different world and forget about my daily stresses. Overall, strategy games are a fun and rewarding way to exercise my brain and unwind.<BR><BR>

But, more seriously thinking about the political arena, looking at the bigger picture is crucial. I take a macro point of view because it allows me to see beyond the superficial, often revealing patterns and trends. I make informed decisions based on evidence and science.</p>
</div>

<div class="govuk-grid-column-one-third" style="width:40%">
<div style=";height:820px;border-left:1px solid #1d70b8">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
<div style="">

  {{ govukRadios({
    classes:"govuk-radios--small govuk-!-margin-top-6 govuk-!-margin-left-4",
    name: "2scorePanel",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [
      {
        id:"2scorePanel1",
        value: "1",
        text: "1 - Not demonstrated",
        checked: checked("2scorePanel","1")
      },
      {
        id:"2scorePanel2",
        value: "2",
        text: "2 - Minimal demonstration",
        checked: checked("2scorePanel","2")
      },
      {
        id:"2scorePanel3",
        value: "3",
        text: "3 - Moderate demonstration",
        checked: checked("2scorePanel","3")
      },
      {
        id:"2scorePanel4",
        value: "4",
        text: "4 - Acceptable demonstration",
        checked: checked("2scorePanel","4")
      },
      {
        id:"2scorePanel5",
        value: "5",
        text: "5 - Good demonstration",
        checked: checked("2scorePanel","5")
      },
      {
        id:"2scorePanel6",
        value: "6",
        text: "6 - Strong demonstration",
        checked: checked("2scorePanel","6")
      },
      {
        id:"2scorePanel7",
        value: "7",
        text: "7 - Outstanding demonstration",
        checked: checked("2scorePanel","7")
      }
    ]
  }) }}
</div>

<div style="margin-left:20px;">
  {{ govukSelect({
    classes:"govuk-!-margin-top-1",
    name: "2reason",
    label: {
      text: "Reason"
    },
    items: [
    {
      value: "none",
      selected: "true",
      disabled: "true",
      text: "Select reason"
    },
    {
      value: "Not enough experience",
      text: "Not enough experience",
      selected: checked("2reason","Not enough experience")
    },
    {
      value: "High level of experience",
      text: "High level of experience",
      selected: checked("2reason","High level of experience")
    },
    {
      value: "Not relevant to role",
      text: "Not relevant to role",
      selected: checked("2reason","Not relevant to role")
    },
    {
      value: "Very relevant to role",
      text: "Very relevant to role",
      selected: checked("2reason","Very relevant to role")
    },
    {
      value: "No or poor example given",
      text: "No or poor example given",
      selected: checked("2reason","No or poor example given")
    },
    {
      value: "Strong example given",
      text: "Strong example given",
      selected: checked("2reason","Strong example given")
    }
    ]
  }) }}
</div>
<!-- <button style="margin-left:20px" class="govuk-button govuk-button--secondary" data-module="govuk-button">
Add notes (optional)
</button> -->
<div style="margin-left:20px;margin-top:30px">
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  classes:"govuk-!-margin-top-4",
text: "Save and continue"
}) }}
</div>
  </div>
</form>

<script>
  function hideDiv(div1) {
    document.getElementById(div1).style.display = 'none';
  }
</script>
{% endblock %}
