{% extends "layouts/main.html" %}



{% block header %}
{% include '/includes/pheader.html' %}
  {% endblock %}





{% block beforeContent %}


<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
<span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="#"><strong>Message panel chair</strong></a></span>
</div>
<a style="color:white;margin-left:10px" href="#" class="govuk-back-link govuk-back-link--inverse">Back</a>
</div>


{% endblock %}

{% block content %}



<span class="govuk-caption-m govuk-!-margin-top-6" style="">1001334</span>
<p class="govuk-body-l">Policy Adviser</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">



<div style="" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Your sift scores for lead criteria have been submitted.
    </h3>
    <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
  </div>
</div>
<H1 style="width:75%;padding-top:0px;;" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">What happens next?</H1>


    <p class="govuk-body-m">The panel scores for the lead criteria will be collected and averaged. The panel chair will review the scores and will arrange a meeting to review abnormal scores if necessary.</p>
    <p class="govuk-body-m">Successful candidates who pass the sift on lead criteria will have the rest of their application marked to find out who should be interviewed.</p>
      <p class="govuk-body-m">You will be contacted by email for next steps.</p>






  </div>
</div>
<script>

  var dat =  document.getElementsByTagName("tr")
  console.log(dat)

  for (var t=0;t<dat.length;t++){
    // if (dat.textContent[t]) {
      console.log(dat.length)

    // }


  }




</script>
{% endblock %}
