{% extends "layouts/main.html" %}



{% block header %}
{% include '/includes/pheader.html' %}
  {% endblock %}





  {% block beforeContent %}


  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="#"><strong>Message panel chair</strong></a></span>
  </div>
  <a style="color:white;margin-left:10px" href="#" class="govuk-back-link govuk-back-link--inverse">Back</a>
  </div>


  {% endblock %}
{% block content %}



<span class="govuk-caption-m govuk-!-margin-top-6" style="">1001334</span>
<p class="govuk-body-l">Policy Adviser</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <H1 style="width:70%;padding-top:0px;padding-bottom:5px;border-bottom:1px solid #1d70b8;" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">Sift lead criteria: Seeing the Big Picture</H1>
    <p class="govuk-body-m">Only candidates who pass the lead criteria will have the rest of their application marked.</p>

    <dl class="govuk-summary-list" style="width:75%">

      <div class="govuk-summary-list__row">



        <dt class="govuk-summary-list__key">



Candidates sifted
        </dt>
        <dd class="govuk-summary-list__value">
          16
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lead criteria
        </dt>
        <dd class="govuk-summary-list__value">
          Seeing the Big Picture
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag"  id="contact-details-status">COMPLETED</strong>
        </dd>
      </div>

    </dl>
    <h2 class="govuk-heading-l govuk-!-margin-top-6">Review and submit your scores</h2>

    <p class="govuk-body-m">Review and submit your scores for the lead criteria sift.</p>

    <table class="govuk-table govuk-!-margin-top-3" style="width:85%;border-top:1px solid lightgrey">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row"  style="background:#1d70b8">
          <th style="color:white;width:15%;border-right:1px solid lightgrey;;border-left:1px solid lightgrey;padding-left:10px" scope="col" class="govuk-table__header">Candidate</th>
          <th style=";border-right:1px solid lightgrey;;text-align:center;border-left:1px solid lightgrey;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=1&sc=2&reason=Not enough experience">1</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=2&sc=4&reason=Very relevant to role">2</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=3&sc=3&reason=No or poor example given">3</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=4&sc=5&reason=Strong example given">4</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=5&sc=2&reason=Not enough experience">5</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=6&sc=3&reason=No or poor example given">6</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=7&sc=5&reason=Strong example given">7</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=8&sc=3&reason=No or poor example given">8</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=9&sc=3&reason=No or poor example given">9</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=10&sc=4&reason=Very relevant to role">10</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=11&sc=1&reason=No or poor example given">11</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=12&sc=2&reason=Not enough experience">12</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=13&sc=3&reason=No or poor example given">13</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=14&sc=2&reason=Not enough experience">14</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style="border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=15&sc=3&reason=Not enough experience"">15</a></th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;border-right:1px solid lightgrey" scope="col" class="govuk-table__header govuk-table__header--numeric"><a class="al" style=";border:2px solid #1d70b8;padding:3px;background:#1d70b8;color:white" href="panelist-view-scored-lead?ca=16&sc=6&reason=Strong example given">16</a></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">




          <th scope="row" style="border-right:1px solid lightgrey;;border-left:1px solid lightgrey;padding-left:10px" class="govuk-table__header">Score</th>
          <td style="border-right:1px solid lightgrey;;text-align:center;;border-left:1px solid lightgrey;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">4</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">5</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">5</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">4</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;border-right:1px solid lightgrey" class="govuk-table__cell govuk-table__cell--numeric">6</td>
        </tr>


      </tbody>
    </table>


    {{ govukButton({
      classes:"govuk-!-margin-top-6",
          text: "Submit my scores to panel",
          href: "task-list-panelist-lead-submit-confirm"
        }) }}




  </div>
</div>
{% endblock %}
