{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l"></span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="task-list"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}






<span class="govuk-caption-l">1001334</span>
<h2 class="govuk-heading-l">Policy Adviser</h2>


<div style="width:75%" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Your Sift scores have been submitted successfully.
    </h3>
    <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <dl class="govuk-summary-list" style="width:75%">

      <div class="govuk-summary-list__row">



        <dt class="govuk-summary-list__key">



  Candidates sifted
        </dt>
        <dd class="govuk-summary-list__value">
          16
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lead criteria
        </dt>
        <dd class="govuk-summary-list__value">
          Seeing the Big Picture
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag"  id="contact-details-status">COMPLETED</strong>
        </dd>
      </div>

    </dl>

    <table class="govuk-table govuk-!-margin-top-3" style="width:75%;border-top:1px solid lightgrey">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row"  style="background:#F3F2F1">
          <th style="border-right:1px solid lightgrey;;border-left:1px solid lightgrey;padding-left:10px" scope="col" class="govuk-table__header">Candidate</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;border-left:1px solid lightgrey;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">1</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" scope="col" class="govuk-table__header govuk-table__header--numeric">2</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">3</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">4</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">5</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">6</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">7</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">8</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">9</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">10</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">11</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">12</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">13</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">14</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" scope="col" class="govuk-table__header govuk-table__header--numeric">15</th>
          <th style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;border-right:1px solid lightgrey" scope="col" class="govuk-table__header govuk-table__header--numeric">16</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">




          <th scope="row" style="border-right:1px solid lightgrey;;border-left:1px solid lightgrey;padding-left:10px" class="govuk-table__header">Score</th>
          <td style="border-right:1px solid lightgrey;;text-align::center;;border-left:1px solid lightgrey;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">4</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">5</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">5</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">4</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px" class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;" class="govuk-table__cell govuk-table__cell--numeric">3</td>
          <td style="border-right:1px solid lightgrey;;text-align:center;;padding:5px;border-right:1px solid lightgrey" class="govuk-table__cell govuk-table__cell--numeric">6</td>
        </tr>


      </tbody>
    </table>





    {{ govukButton({
      classes:"govuk-!-margin-top-6",
          text: "Return to the task-list",
          href: "task-list?lead=done"
        }) }}







  </div>
</div>
<script>

  var dat =  document.getElementsByTagName("tr")
  console.log(dat)

  for (var t=0;t<dat.length;t++){
    // if (dat.textContent[t]) {
      console.log(dat.length)

    // }


  }




</script>
{% endblock %}
