{% extends "layouts/main.html" %}

{% block header %}
{% include '/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}


<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="task-list"><strong>Return to task list</strong></a></span>
</div>
<a style="color:white;margin-left:10px" href="#" class="govuk-back-link govuk-back-link--inverse">Back</a>
</div>


{% endblock %}


{% block content %}




  <span class="govuk-caption-m govuk-!-margin-top-6" style="">1001334</span>
  <p class="govuk-body-l">Policy Adviser</p>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


        <H1 style=";padding-top:20px;padding-bottom:5px;; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Review and submit my sift scores</H1>



    {% set v16 = 4 %}
    {% set v7 = 4 %}

    {% set v1 = 5.33 %}
    {% set v2 = 3 %}
    {% set v3 = 7 %}
    {% set v4 = 4 %}
    {% set v5 = 6.33 %}
    {% set v6 = 3 %}
    {% set v8 = 4 %}
    {% set v9 = 5 %}
    {% set v10 = 3 %}
    {% set v11 = 6 %}
    {% set v12 = 4.66 %}
    {% set v13 = 4.66 %}
    {% set v14 = 4 %}
    {% set v15 = 6 %}





    <table class="govuk-table" style=""">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th style="font-size:18px;width:14% !important;" scope="col" class="govuk-table__header app-custom-class"></th>
          <th style="font-size:18px;width:20% !important;" scope="col" class="govuk-table__header app-custom-class">Changing and Improving</th>
          <th style="font-size:18px;width:20% !important;" scope="col" class="govuk-table__header app-custom-class">Managing a Quality Service</th>
          <th style="font-size:18px;width:16% !important;" scope="col" class="govuk-table__header app-custom-class">Personal statement</th>
          <th style="font-size:18px;width:10% !important;" scope="col" class="govuk-table__header app-custom-class">Total</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=3">Candidate 3</a></th>
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell">7</td>
          <td class="govuk-table__cell">21</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=5">Candidate 5</a></th>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">14</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=15">Candidate 15</a></th>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">17</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=11">Candidate 11</a></th>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">14</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=1">Candidate 1</a></th>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">14</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=9">Candidate 9</a></th>
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">15</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=7">Candidate 7</a></th>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">14</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" id="ca1"><a class="govuk-link--no-underline govuk-link--no-visited-state" href="candidate-full-submission?cand=16">Candidate 16</a></th>
          <td class="govuk-table__cell">4</td>
          <td class="govuk-table__cell">6</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">15</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{ govukButton({
    classes:"govuk-!-margin-top-6",
        text: "Submit my scores to panel",
        href: "task-list?s2confirm=true"
      }) }}

</div>
{% endblock %}
