{% extends "layouts/main.html" %}



{% block header %}
{% include '/includes/pheader.html' %}
  {% endblock %}





  {% block beforeContent %}


  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">
  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">
  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="#"><strong>Message panel chair</strong></a></span>
  </div>
  <a style="color:white;margin-left:10px" href="javascript:window.history.back()" class="govuk-back-link govuk-back-link--inverse">Back</a>
  </div>


  {% endblock %}
{% block content %}



<span class="govuk-caption-m govuk-!-margin-top-6" style="">1001334</span>
<p class="govuk-body-l">Policy Adviser</p>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <H1 style="font-weight:300" class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-6">Sift lead criteria <strong>Seeing the Big Picture</strong></H1>
    <!-- <div class="govuk-inset-text">
      Only candidates who pass the lead criteria will have the rest of their application marked.
    </div> -->
    <h2 class="govuk-heading-l govuk-!-padding-top-1" style="width:75%;border-bottom:1px solid #1d70b8;">Task list</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border" style="width:75%;;margin-top:-20px">

      <div class="govuk-summary-list__row" style="">



        <dt class="govuk-summary-list__key" style="line-height:1.7">



Candidates sifted
<BR>Lead criteria
<BR>Status
        </dt>
        <dd class="govuk-summary-list__value"  style="line-height:1.7">
          16
          <BR>Seeing the Big Picture
          <BR><strong class="govuk-tag"  id="contact-details-status">COMPLETED</strong>
        </dd>
      </div>

      <div class="govuk-summary-list__row" style="; border-bottom:1px solid #1d70b8">
        <dt class="govuk-summary-list__key">

        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
      </div>





      <div class="govuk-summary-list__row" style=";background:#F3F2F1;border-bottom:1px solid #1d70b8">



        <dt class="govuk-summary-list__key">



    Candidate ID
        </dt>

        <dd class="govuk-summary-list__value">
          <strong>Score</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">1.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=2446148&sc=2&reason=Not enough experience">2446148</a>
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">2.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=2113365&sc=4&reason=Very relevant to role">2113365</a>
        </dt>
        <dd class="govuk-summary-list__value">
          4
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">3.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1009977&sc=2&reason=Not enough experience">1009977</a>
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">4.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1122286&sc=5&reason=Not enough experience">1122286</a>
        </dt>
        <dd class="govuk-summary-list__value">
          5
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">5.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1246648&sc=2&reason=Not enough experience">1246648</a>
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">6.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=3746041&sc=3&reason=Not enough experience">3746041</a>
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">7.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1126345&sc=5&reason=Not enough experience">1126345</a>
        </dt>
        <dd class="govuk-summary-list__value">
          5
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">8.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1281491&sc=3&reason=Not enough experience">1281491</a>
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">9.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=2211248&sc=3&reason=Not enough experience">2211248</a>
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">10.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1216148&sc=4&reason=Not enough experience">1216148</a>
        </dt>
        <dd class="govuk-summary-list__value">
          4
        </dd>
      </div>

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">11.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=2146124&sc=1&reason=Not enough experience">2146124</a>
        </dt>
        <dd class="govuk-summary-list__value">
          1
        </dd>
      </div> -->

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">12.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1246145&sc=2&reason=Not enough experience">1246145</a>
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div> -->

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">13.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=2412148&sc32&reason=Not enough experience">2412148</a>
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div> -->

      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">14.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=2446148&sc=2&reason=Not enough experience">2446148</a>
        </dt>
        <dd class="govuk-summary-list__value">
          2
        </dd>
      </div> -->
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">15.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1243142&sc=6&reason=Not enough experience">1243142</a>
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
      </div> -->
      <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">16.
          <a class="al govuk-link--no-underline govuk-link--no-visited-state" style=";padding:3px;" href="panelist-view-scored-lead-alt?ca=1254467&sc=6&reason=Not enough experience">1254467</a>
        </dt>
        <dd class="govuk-summary-list__value">6

        </dd>
      </div> -->

    </dl>




    <nav class="govuk-pagination govuk-pagination--block" style=";width:75%;border-top:1px solid #1d70b8" role="navigation" aria-label="results">

      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="task-list-panelist-lead-submit-alt-2" rel="next"> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg> <span class="govuk-pagination__link-title">Next</span><span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Candidates 11 - 16</span></a>
      </div>
    </nav>



<div  style="background:#F4FAFF;width:71%;padding:20px;border-top:1px solid #1d70b8;">
  <H2 class="govuk-heading-l">Submit scores to panel</h2>

    <div class="govuk-inset-text">
      Once you have finished reviewing your scores submit the results to the panel.
    </div>


    {{ govukButton({
      classes:"govuk-!-margin-top-1",
          text: "Submit my scores to panel",
          href: "task-list-panelist-lead-submit-confirm"
        }) }}

</div>


  </div>
</div>
{% endblock %}
