le{% extends "layouts/main.html" %}



{% block pageTitle %}
Basic details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Design notes</h1>

<a href="#bulkv4" class="govuk-link govuk-link--no-visited-state" style="display:block">Bulk recruitment - v4 (pre-sift)</a><br><a href="#bulkv3" class="govuk-link govuk-link--no-visited-state" style="display:block">Bulk recruitment - v3 (vacancy dash and multiple sift panels)</a><br><a href="#bulkv2" class="govuk-link govuk-link--no-visited-state" style="display:block">Bulk recruitment - v2</a><br><a href="#bulkv1" class="govuk-link govuk-link--no-visited-state" style="display:block">Bulk recruitment - v1</a><br><br>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" style="margin-bottom:5px" id="bulkv4">Bulk recruitment</h3>

    <h3 class="govuk-heading-s" style="margin-bottom:5px">V4</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">V4 looked at how a campaign might use a pre-sift (otherwise known as an 'initial sift') and how we could capture it's requirements in the 'create a vacancy' journey. Our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give an option to allow a pre-sift if necessary</li>
        <li>capture what and how the pre-sift should be</li>
        <li>capture what should happen to successful pre-sifted applications</li>
        <li>show the pre-sift info replicated in the actual job ad</li>
        <li>show the new pre-sift tasks created when managing the vacancy</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We added a pre-sift option to the existing <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/task-list-new-campaign-initial-sift" target="_blank">'create a vacancy' journey</a>, accessed by clicking on 'Select assessment methods for sift'. We also added an  <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/vacancy-management-dashboard/strategy-admin-tasklist-presift" target="_blank">updated task list</a> where new pre-sift tasks could be seen (although they didn't function and weren't tested). Lastly, we added <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/vacancy-management-dashboard/job-ad#process" target="_blank">a relevant version of the job ad</a> so the user could see a pre-sift message within the application process section.</p>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1713520920183/a7be96e0c29a969911fe6b7aad5e2843056ca418?sender=u21f36a9fedce292b06138582" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong><br><br>
      <a href="https://docs.google.com/presentation/d/1ql2tOsZCGr2sHL8voLZR9XqTpLOwkd1THyKW-YZuhGE/edit#slide=id.g2a0535539b8_0_42" target="_blank">Playback document</a>
        <br><br><br></p>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>

    <h3 class="govuk-heading-s" style="margin-bottom:5px">V3</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">V3 stepped away from the 'create a vacancy' process and moved onto setting up multiple sift panels during bulk campaigns. Our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>demo a vacancy management dashboard, where a user could see vacancies, manage vacancy users, read guidance etc</li>
        <li>allow a user to get messages / warnings related to bulk campaign activity</li>
        <li>allow a user to set up both a single and multiple sift panels, including allocating roles to members of the panel</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We created a new prototype for a <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/vacancy-management-dashboard/campaigns" target="_blank">vacancy management dashboard</a>, which would lead the user onto an <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/vacancy-management-dashboard/strategy-admin-tasklist" target="_blank">updated task list</a> where new sift panels could be added.</p>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1710423737417/a203945067f75e72c367a0a006c7620ff748349b?sender=u2d124d966bc212bd1d414842" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong><br><br>
      <a href="https://docs.google.com/presentation/d/1dQ9kuMae3VPhHXjxBDgOG_-s95nDeiFD3sZBwML5MuE/edit#slide=id.g24bfa14f556_0_7" target="_blank">Playback document</a>
        <br><br><br></p>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>

    <h3 class="govuk-heading-s" style="margin-bottom:5px" id="bulkv2">V2</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">V2 was an iteration of the initial V1 prototype. Based on adding multi-grade / contract functionality and some improvements based on user feedback from V1, our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>allow a user to build a single ad with multiple job types e.g. different grades or contract types</li>
        <li>increase contact options by offering a 'team mailbox' option</li>
        <li>amending content where issues had been raised during V1 testing</li>
      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We made the above changes to create a <a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/csu71/task-list-new-campaign" target="_blank">V2 version of 'create a vacancy'</a>.</p>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1707816914282/b5652f188dfb06bf0a5ecc6a07de3b6f322d0121?sender=u2d124d966bc212bd1d414842" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong><br><br>
      <a href="https://docs.google.com/presentation/d/1mz9W3u6nYVdgcPG5TS_NC7fXQn-EL0UihFDc22R9grI/edit#slide=id.g24b2cd2ee72_0_0" target="_blank">Playback document</a>
        <br><br><br></p>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"><br>


    <h3 class="govuk-heading-s" style="margin-bottom:5px" id="bulkv1">V1</h3><br>
      <p class="govuk-body"><strong>Aim</strong></p>
      <p class="govuk-body">Our aim was to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>offer a user the ability to create a bulk campaign within the new service</li>
        <li>allow a user to create a rolling or tranche campaign</li>

      </ul><br>

      <p class="govuk-body"><strong>What we did</strong></p>
      <p class="govuk-body">We amended the existing 'create a vacancy' prototype and added in functionality for a bulk or rolling campaign, including capturing number of posts, what type of bulk campaign it is etc. </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://csjobs-hiring-side-a6b074da6857.herokuapp.com/previous-versions/V1/csu71/task-list-new-campaign" target="_blank">V1 'create a vacancy' for bulk campaigns</li>
      </ul><br>

      <p class="govuk-body"><strong>User research</strong></p>
      <p class="govuk-body"><a href="https://app.mural.co/t/civilservicerecruitment8943/m/civilservicerecruitment8943/1705598154349/f77ee9bccbe186c3e24e58907a52e8e24e44bfac?sender=u21f36a9fedce292b06138582" target="_blank">Mural board with testing notes</a></p><br>
      <p class="govuk-body"><strong>What we found</strong><br><br>
      <a href="https://docs.google.com/presentation/d/1tP1SBWEaIgWE29uBIaHUvZk2YOXcvf95GVl2ddAiPYo/edit#slide=id.g2a0535539b8_0_52" target="_blank">Playback document</a>
        <br><br><br></p>











        </div>
        </div><br><br><br>




{% endblock %}
