{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

  {% block pageTitle %}
  Home – {{ serviceName }} – GOV.UK Prototype Kit
  {% endblock %}
  {% block beforeContent %}




  <div  style="width:100%;background:#1d70b8;height:65px;border-bottom:0.5px solid #1d70b8;float:left">

    <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
      </div>


      <div class="govuk-!-margin-top-1 " style="position:relative;float:right;width:40%;margin-right:40px;">
        <div class="govuk-form-group">
          <!-- <label style="float:left;color:white;margin-right:0;margin-top:0px;font-size:20px;;" class="govuk-label-s" for="width-20">Search</label> -->

          <input onFocus="this.value=''" onFocusOut="this.value='Search'" style="height:42px;:margin-left:20px;float:right;bottom:5px;font-size:16px;background:white ;border:1px solid #1d70b8;border-radius:5px;" class="govuk-input govuk-input--width-20" value="Search" id="width-20" name="width-20"  type="text">

        </div>

        <div style="position:absolute;top:0; right:5px">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="40" height="40"><path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="#1d70b8"/></svg>
        </div>

      </div>

  </div>

  {% endblock %}

  {% block content %}
  <div class="govuk-grid-row" >
    <div style="width:100%;height:80px">
      <div>
        <div class="govuk-grid-column-full">

<style>
  a,p, strong,td {
    font-size:18px;
    ;

  }


  th {

    width:40%;
    background:#F4FAFF;
    color:#1d70b8;
    border-bottom:1px solid #1d70b8;
  }
</style>

              <!-- <div class="govuk-!-margin-top-7" style="position:absolute;float:left;width:20%;margin-left:250px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="#"><strong>Sift</strong></a></span>
</div>

<div class="govuk-!-margin-top-7" style="position:absolute;float:left;width:20%;margin-left:310px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="#"><strong>Interview</strong></a></span>
</div> -->





            <!-- <div class="govuk-grid-column-one-quarter govuk-!-padding-top-1 govuk-!-margin-left-3" style="background:#f3f2f1;padding:10px;width:20%;height:600px;">
              <div class="govuk-!-margin-top-3" style="background:white;padding:10px;border:1px solid #B1B4B6">
                <ul class=" govuk-!-margin-top-0 govuk-list govuk-list--bullet-" >
                  <li style="padding-left:5px;padding-right:5px;" ><strong><p style="line-height:1.5;font-weight:bold;" class="govuk-body-s"><a style=";" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="">Create a vacancy</a></p></li>
                  <li style=";padding-left:5px;padding-right:5px;"><strong><p style ="line-height:1.5;font-weight:bold" class="govuk-body-s"><a style=";" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="">View vacancies</a></p></li>
                  <li style=";padding-left:5px;padding-right:5px;"><strong><p style ="line-height:1.5;font-weight:bold" class="govuk-body-s"><a style=";" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="">Help</a></p></li>
               </ul>
              </div>
            </div> -->


            <H1 style="float:right;padding-bottom:25px; padding-right:30px" class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-6">Welcome back, Jane Smith</H1>


            <div class="govuk-!-padding-top-3" style="padding:30px;height:600px;;;;border:1px solid lightgrey">
                    <div class="govuk-tabs govuk-!-margin-top-9 " data-module="govuk-tabs">
                      <h2  class="govuk-tabs__title">
                        Contents
                      </h2>
                      <ul class="govuk-tabs__list" >
                        <li style="font-weight:bold;" class="govuk-tabs__list-item" >
                          <a style="color:#1d70b8;font-size:20px" class="govuk-tabs__tab" href="#past-week">
                            Manage vacancies
                          </a>
                        </li>
                        <li style=";;font-weight:bold;" class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a style="color:#1d70b8;font-size:20px" class="govuk-tabs__tab" href="#past-day">

                            Notifications

                          </a>
                        </li>

                        <!-- <li class="govuk-tabs__list-item" >
                          <a class="govuk-tabs__tab" href="#past-month">
                            My tasks
                          </a>
                        </li> -->

                      </ul>


                      <div style=";" class="govuk-tabs__panel" id="past-day">
                        <table class="govuk-table" >
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8">
                              <th style="padding-left:10px;background: #F4FAFF;color:#1d70b8;width:20%;" scope="col" class="govuk-table__header">Date⇕</th>
                              <th scope="col" class="govuk-table__header" style="width:20%;background: #F4FAFF;color:#1d70b8;">Job⇕</th>

                              <th scope="col" class="govuk-table__header" style="width:40%background: #F4FAFF;color:#1d70b8;">Message⇕</th>
                              <th scope="col" class="govuk-table__header" style="width:20%background: #F4FAFF;color:#1d70b8;">Action⇕</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8;">
                              <td class="govuk-table__cell" style="padding-left:10px;background: white;;"><strong>Wed 26 Apr</strong></td>
                              <td class="govuk-table__cell" style="background: white;;"><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="home?cta=none">Product manager 10220</a></strong></td>

                              <td class="govuk-table__cell" style="background: white;;"><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="home?cta=none">Request for reasonable adjustment received.</a></strong></td>
                              <td class="govuk-table__cell" style="background: white;"><strong><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="#">Reply</strong></a></td>
                            </tr>
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8;">
                              <td class="govuk-table__cell" style="padding-left:10px;background: white;">Mon 24 Apr</td>
                              <td class="govuk-table__cell" style="background: white;;"><a href="#" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state">Product manager 10220</a></td>

                              <td class="govuk-table__cell" style="background: white;;"><a href="#" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state">Candidate would like to discuss role.</a></td>
                              <td class="govuk-table__cell" style="background: white;;"><a href="#" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state">Replied</a><br>24-Apr</td>
                            </tr>
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8;">
                              <td class="govuk-table__cell" style="padding-left:10px;background: white;;">Fri 21 Apr</td>
                              <td class="govuk-table__cell" style="background: white;;"><a href="#" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state">Product manager 10220</a></td>
                              <td class="govuk-table__cell" style="background: white;"><a href="#" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state">Published to live.</td>

                              <td class="govuk-table__cell" style="background: white;"><a href="#" class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state">Share</a></td>
                            </tr>
                            <!-- <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Fri 19 Apr</td>
                              <td class="govuk-table__cell"><a href="#">Delivery manager (10219)</a> closes today at 00:01.</td></td>
                              <td class="govuk-table__cell"><a href="#">Share</a></td>
                            </tr> -->

                          </tbody>
                        </table>
                      </div>
                      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" style="" id="past-week">

                        <table class="govuk-table">

                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8">
                              <th style="padding-left:10px;;color:#1d70b8;width:10%;" scope="col" class="govuk-table__header">Reference</th>
                              <th style="padding-left:10px;;color:#1d70b8;width:30%;" scope="col" class="govuk-table__header">Job⇕</th>
                              <th scope="col" class="govuk-table__header" style="width:10%;background: #F4FAFF;color:#1d70b8;">Grade⇕</th>

                              <th scope="col" class="govuk-table__header" style="width:20%background: #F4FAFF;color:#1d70b8;">Last modified⇕</th>
                              <th scope="col" class="govuk-table__header" style="width:20%background: #F4FAFF;color:#1d70b8;">Status⇕</th>
                            </tr>
                          </thead>


                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8;">
                              <td class="govuk-table__cell" style="padding-left:10px;width:30%; background: white;;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="task-list-exp"><strong>224220</strong></a></td>
                              <td class="govuk-table__cell" style="padding-left:10px;width:30%; background: white;;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="task-list-exp"><strong>{{ data['temp-copy-input-autocomplete']}}</strong></a></td>
                              <td class="govuk-table__cell" style="width:20%;background: white;;"><strong>{{data['grade']}}</strong></td>

                              <td class="govuk-table__cell" style="width:30%;background: white;;"><strong id="dated"></strong></td>
                              <td class="govuk-table__cell" style="width:20%;background: white;"><strong style="font-size:16px;" class="govuk-tag govuk-tag--green">EDITING</strong></td>
                            </tr>
                            <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8;">
                              <td class="govuk-table__cell" style="padding-left:10px;width:30%; background: white;;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="home?cta=none">2130220</a></td>
                              <td class="govuk-table__cell" style="padding-left:10px;width:30%; background: white;;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="home?cta=none">Product manager</a></td>
                              <td class="govuk-table__cell" style="width:20%;background: white;;">SEO</td>

                              <td class="govuk-table__cell" style="width:30%;background: white;;">14 Sep 2022</td>
                              <td class="govuk-table__cell" style="width:20%;background: white;"><strong style="font-size:16px;" class="govuk-tag govuk-tag--grey">CLOSED</strong></td>
                            </tr>

                            <!-- <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Fri 19 Apr</td>
                              <td class="govuk-table__cell"><a href="#">Delivery manager (10219)</a> closes today at 00:01.</td></td>
                              <td class="govuk-table__cell"><a href="#">Share</a></td>
                            </tr> -->

                          </tbody>





                        </table>
                      </div>
                      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" style="background:white" id="past-month">
                        <h2 class="govuk-heading-l">My tasks</h2>
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header"></th>
                              <th scope="col" class="govuk-table__header"></th>
                              <th scope="col" class="govuk-table__header"></th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- <div class="govuk-!-margin-left-0" style="height:90px;width:36%;background:white ;border:0.5px solid grey;border-radius:2px">

                      <img class="govuk-!-margin-left-3 govuk-!-margin-top-6" src="/public/images/dash1.png" style="height:50px;;padding-left:0px;padding-right:0px;margin-right:5px;"> -->

                    <!-- </div>
                    <div class="govuk-!-margin-left-0" style="height:90px;width:36%;background:white ;border:0.5px solid grey;border-radius:2px">

                  </div>


                  </div> -->

                  <strong style="font-size:10px;" class="govuk-!-margin-top-9 govuk-!-margin-left-3 govuk-tag">beta</strong><p  style="display:inline;padding-left:10px;font-size:12px;"><strong><a href"">Feedback</a></strong></p>




                </div>

              </div>
            </div>
          </div>

          <script>

            const dateField = document.getElementById('dated');
            var stamp = new Date();
            var localStamp = stamp.toLocaleDateString('en-us', { day:"numeric", month:"short", year:"numeric" }) ;
            dateField.innerHTML = localStamp;
          </script>

        {% endblock %}
