{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">

    <!-- <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-2">Vacancy <strong>102201</strong></p>

    <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-2">Grade <strong>{{ data['grade']}}</strong></p> -->

    <h2 style="border-bottom:1px solid #1d70b8;;padding-bottom:10px;" class="govuk-heading-xl">Civil Service templates</h2>


    <p class="govuk-!-margin-bottom-9" style="font-size:24px">Click to view the lorem ipsum dolor amet sit.</p>


<div  style="position:relative;">


  <a href="template-csofficial-co?org=ddat">
    <div style="position:relative;border:1px solid black ;border-radius:8px;float:left;background:white;height:320px;width:30%;;margin-right:30px">
 <p style="position:absolute;left:0px;bottom:30px;padding:20px;;">{{ data['grade']}}</p>
 <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:black;font-size:27px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']}}</h2>

      <!-- <p style="position:absolute;left:20px;bottom:0px;font-weight:bold;;font-size:18px;color:white">★★★★★ (223)</p> -->
      <img src="/public/images/ddat3.png" style=";position:absolute;left:20px;top:20px;width:220px">
      <p style=";position:absolute;right:20px;bottom:0px;font-weight:bold;;font-size:24px;color:black">#311</p>

    </div>
  </a>


  <a href="template-csofficial-co?org=co">
    <div style="position:relative;border:1px solid black ;border-radius:8px;float:left;background:white;height:320px;width:30%;;margin-right:30px">
      <p style="position:absolute;left:0px;bottom:30px;padding:20px;;">{{ data['grade']}}</p>
  <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:black;font-size:27px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']}}</h2>

      <!-- <p style="position:absolute;left:20px;bottom:0px;font-weight:bold;;font-size:18px;color:white">★★★★★ (223)</p> -->
      <img src="/public/images/co-logo.png" style=";position:absolute;left:20px;top:20px;width:140px">
      <p style=";position:absolute;right:20px;bottom:0px;font-weight:bold;;font-size:24px;color:black">#122</p>

    </div>
  </a>


  <a href="template-csofficial-co?org=ho">
    <div style="position:relative;border:1px solid black ;border-radius:8px;float:left;background:white;height:320px;width:30%;;margin-right:30px">
      <p style="position:absolute;left:0px;bottom:30px;padding:20px;;">{{ data['grade']}}</p>
  <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:black;font-size:27px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']}}</h2>

      <!-- <p style="position:absolute;left:20px;bottom:0px;font-weight:bold;;font-size:18px;color:white">★★★★★ (223)</p> -->
      <img src="/public/images/ho-logo.png" style=";position:absolute;left:20px;top:20px;width:135px">
      <p style=";position:absolute;right:20px;bottom:0px;font-weight:bold;;font-size:24px;color:black">#56</p>

    </div>
  </a>










<!-- <a href="#">
  <div style="position:relative;border:2px solid #1d70b8 ;border-radius:8px;float:left;background:#1d70b8;height:320px;width:30%;margin-left:0px;margin-left:20px;margin-right:20px">
    <img src="/public/images/cab.png" style="position:absolute;left:20px;top:20px;width:160px">
    <h2 class="govuk-heading-l" style="position:absolute;left:0px;bottom:10px;;;padding:20px;color:white;font-size:26px;line-height:1.1;border-top-left-radius: 10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']}} <br> {{ data['grade']}}</h2>
    <p style="position:absolute;left:20px;bottom:0px;font-weight:bold;;font-size:18px;color:white">★23</p>

  </div>
</a>

<a href="#">
  <div style="position:relative;border:2px solid #7F3F98 ;border-radius:8px;float:left;background:#7F3F98;height:320px;width:30%;margin-left:20px;margin-right:0px">
    <img src="/public/images/ho.png" style="position:absolute;left:20px;top:20px;width:130px">
    <h2 class="govuk-heading-l" style="position:absolute;left:0px;bottom:10px;;;padding:20px;color:white;font-size:26px;line-height:1.1;border-top-left-radius: 10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']}} <br> {{ data['grade']}}</h2>
    <p style="position:absolute;left:20px;bottom:0px;font-weight:bold;font-size:24px;color:white">★★★☆☆ (143)</p>

  </div>
</a> -->



</div >





  </div>


</div>



{% endblock %}
