{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<style>

  .center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }

</style>

<input id="templateName" type="hidden" name="templateName" value="{{ data['org']}}">

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Civil Service templates</h2>
    <p class="govuk-!-margin-bottom-9" style="font-size:24px">Click to view the lorem ipsum dolor amet sit.</p>

<div class="govuk-!-margin-top-9" >



  <h1  style="border-bottom:1px solid #1d70b8;padding-bottom:0px" class="govuk-heading-xl govuk-!-padding-bottom-3 govuk-!-margin-top-3">2 matching templates found</h1>

</div>





  </div>


</div>

<div class="govuk-grid-row govuk-!-margin-top-0">

  <div class="govuk-grid-column-one-third" style="margin-top:-64px">
    <div style=";height:700px;;padding:10px;border-right:1px solid #1d70b8;padding:20px;">


      <h2 style="padding-bottom:0px" class="govuk-heading-m govuk-!-margin-top-6">Match basis</h2>
      <div style="">



      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "organisation",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          id: "first",
          value: "dept",
          checked: checked,
          text: "My department"
        },
        {
          id: "second",
          value: "prof",
          checked: checked,
          text: "Professions"
        },
        {
          id: "third",
          value: "ogds",
          checked: checked,
          text: "Other Government Departments"
        }
        ]
      }) }}


</div>




</div>
  </div>




<div class="govuk-grid-column-two-thirds" style="margin-top:-64px;margin-left:-15px;height:740px;width:66.5%;background:#f3f2f1">

<div style="height:750px;position:relative;z-index:1">

  <div style=";position:absolute;left:0; top:50px;border:1px solid #1d70b8;border-radius:8px;;background:#F4FAFF;height:300px;width:90%;;margin-right:20px;margin-left:30px">
</div>
<div style=";position:absolute;left:0; bottom:50px;border:1px solid #1d70b8;border-radius:8px;;background:#F4FAFF;height:300px;width:90%;;margin-right:20px;margin-left:30px">
</div>



  <a style="z-index:100" href="template-csofficial-co?pickTemp=co">
    <div style=";position:absolute;left:5px; top:55px;border:6px solid white ;border-radius:12px;;background:#1d70b8;height:280px;width:40%;;margin-right:20px;margin-left:30px">
      <p style="color:white;position:absolute;left:0px;top:70px;padding:20px;font-size:20px;">{{ data['grade']|default('Senior Executive Officer')}}</p>
  <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:white;font-size:32px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']|default("Policy adviser")}}</h2>
      <img src="/public/images/cab.png" alt="Cabinet Office template" style="position:absolute;left:20px;top:20px;height:50px">
      <p style=";position:absolute;right:20px;bottom:0px;font-weight:bold;;font-size:24px;color:white">#122</p>
    </div>
  </a>

  <div class="center" style="z-index:;border-radius:0 8px 8px 0;position:absolute;right:42px;top:56px;border:4px solid white;height:282px;width:47%;background:white">
    <svg style="position:absolute;bottom:1px;left:10px" width="240px" height="66px" viewBox="0 0 247 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 66</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Group-66" transform="translate(123.500000, 35.500000) rotate(-90.000000) translate(-123.500000, -35.500000) translate(88.012051, -87.013141)">
          <g id="Group-43" transform="translate(35.487949, 122.682960) rotate(-270.000000) translate(-35.487949, -122.682960) translate(-3.223101, 87.195011)">
              <rect id="Rectangle" stroke="#FFFFFF" stroke-width="1.69437508" fill="#1D70B8" x="0.847187538" y="0.847187538" width="75.7277257" height="69.2815227" rx="6.09975027"></rect>
              <text id="72%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="30.8376264" font-weight="bold" fill="#FFFFFF">
                  <tspan x="11.6111061" y="44.6274658">72</tspan>
                  <tspan x="47.2972265" y="44.6274658" font-size="22.5527321" letter-spacing="0.0171596873">%</tspan>
              </text>
              <text id="views" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="10.643698" font-weight="bold" letter-spacing="0.0733643353" fill="#FFFFFF">
                  <tspan x="24.8845142" y="60.7944558">views</tspan>
              </text>
          </g>
          <g id="Group-43" transform="translate(35.487949, 206.315232) rotate(-270.000000) translate(-35.487949, -206.315232) translate(-3.223101, 170.827283)">
              <rect id="Rectangle" stroke="#FFFFFF" stroke-width="1.69437508" fill="#1D70B8" x="0.847187538" y="0.847187538" width="75.7277257" height="69.2815227" rx="6.09975027"></rect>
              <text id="3:1" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="30.8376264" font-weight="bold" fill="#FFFFFF">
                  <tspan x="18.4598557" y="44.6274658">3:1</tspan>
              </text>
              <text id="value-added" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="10.643698" font-weight="bold" letter-spacing="0.0733643353" fill="#FFFFFF">
                  <tspan x="8.91195606" y="60.7944558">value-added</tspan>
              </text>
          </g>
          <g id="Group-69" transform="translate(35.487949, 38.711050) rotate(-270.000000) translate(-35.487949, -38.711050) translate(-3.223101, 3.223101)">
              <g id="Group-43">
                  <rect id="Rectangle" stroke="#FFFFFF" stroke-width="1.69437508" fill="#1D70B8" x="0.847187538" y="0.847187538" width="75.7277257" height="69.2815227" rx="6.09975027"></rect>
                  <g id="Group-67" transform="translate(5.642900, 49.795236)" fill="#FFFFFF" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="10.6433389" font-weight="bold" letter-spacing="0.0818718356">
                      <g id="Group-68">
                          <text id="performetric">
                              <tspan x="0" y="10">performetric</tspan>
                          </text>
                      </g>
                  </g>
              </g>
              <text id="+14%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="31.0246075" font-weight="bold" fill="#FFFFFF">
                  <tspan x="8.72075977" y="41.9236221">+14</tspan>
                  <tspan x="56.9694779" y="41.9236221" font-size="18.3167944" letter-spacing="0.0139366917">%</tspan>
              </text>
          </g>
      </g>
    </g>
    </svg>
    <ul style="line-height:1.1;font-size:18px;text-align:left;position:absolute;top:15px;left:5px" class="govuk-list govuk-list--bullet">
      <li>Quae vero auctorem tractata ab fiducia dicuntur.</li>
      <li>Fictum, deserunt mollit anim laborum astutumque!</li>
      <li>Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</li>
      <li>Contra legem facit qui id facit quod lex prohibet.</li>
      </ul>
  </div>





  <a style="z-index:100" href="template-csofficial-co?pickTemp=ddat">
    <div style=";position:absolute;left:5px;bottom:55px;border:6px solid white ;border-radius:12px;;background:black;height:280px;width:40%;;;margin-right:30px;margin-left:30px">
      <p style="font-size:18px;color:white;position:absolute;left:0px;top:70px;padding:20px;;">{{ data['grade']|default('Senior Executive Officer')}}</p>
  <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:white;font-size:32px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']|default("Policy adviser")}}</h2>
      <img src="/public/images/ddd.png" alt="DDaT template" style="position:absolute;left:20px;top:20px;height:60px">
      <p style=";position:absolute;right:20px;bottom:0px;font-weight:bold;;font-size:24px;color:white">#311</p>
    </div>
  </a>

  <div class="center" style="z-index:;border-radius:0 8px 8px 0;position:absolute;right:42px;bottom:56px;border:4px solid white;height:282px;width:47%;background:white">
    <svg style="position:absolute;bottom:10px;left:17px" width="240px" height="66px" viewBox="0 0 207 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<title>Group 66</title>
<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Group-66" transform="translate(103.500000, 30.000000) rotate(-90.000000) translate(-103.500000, -30.000000) translate(73.541958, -72.545455)">
        <g id="Group-43" transform="translate(29.958042, 102.688811) rotate(-270.000000) translate(-29.958042, -102.688811) translate(-2.541958, 72.730769)">
            <rect id="Rectangle" stroke="#1D70B8" stroke-width="1.42857143" fill="#000000" x="0.714285714" y="0.714285714" width="63.5714286" height="58.4875125" rx="5.14285714"></rect>
            <text id="72%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="26" font-weight="bold" fill="#FFFFFF">
                <tspan x="9.65227396" y="37.3701427">72</tspan>
                <tspan x="39.7401646" y="37.3701427" font-size="19.0147914" letter-spacing="0.0144677769">%</tspan>
            </text>
            <text id="views" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="9.254" font-weight="bold" letter-spacing="0.0637854977" fill="#8BF0FF">
                <tspan x="20.4814684" y="51.606974">views</tspan>
            </text>
        </g>
        <g id="Group-43" transform="translate(29.958042, 172.590909) rotate(-270.000000) translate(-29.958042, -172.590909) translate(-2.541958, 142.632867)">
            <rect id="Rectangle" stroke="#1D70B8" stroke-width="1.42857143" fill="#000000" x="0.714285714" y="0.714285714" width="63.5714286" height="58.4875125" rx="5.14285714"></rect>
            <text id="3:1" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="26" font-weight="bold" fill="#FFFFFF">
                <tspan x="15.4266318" y="37.3701427">3:1</tspan>
            </text>
            <text id="value-added" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="9.254" font-weight="bold" letter-spacing="0.0637854977" fill="#8BF0FF">
                <tspan x="6.59437263" y="51.606974">value-added</tspan>
            </text>
        </g>
        <g id="Group-69" transform="translate(29.958042, 32.500000) rotate(-270.000000) translate(-29.958042, -32.500000) translate(-2.541958, 2.541958)">
            <g id="Group-43">
                <rect id="Rectangle" stroke="#1D70B8" stroke-width="1.42857143" fill="#000000" x="0.714285714" y="0.714285714" width="63.5714286" height="58.4875125" rx="5.14285714"></rect>
                <g id="Group-67" transform="translate(4.198299, 41.756624)" fill="#8FF0FF" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="9.253698" font-weight="bold" letter-spacing="0.071182291">
                    <g id="Group-68">
                        <text id="performetric">
                            <tspan x="0" y="9">performetric</tspan>
                        </text>
                    </g>
                </g>
            </g>
            <text id="+14%" font-family="GDSTransportWebsite-Bold, GDS Transport Website" font-size="26.1576486" font-weight="bold" fill="#FFFFFF">
                <tspan x="7.20926969" y="35.0876252">+14</tspan>
                <tspan x="47.8890112" y="35.0876252" font-size="15.4433629" letter-spacing="0.0117503852">%</tspan>
            </text>
        </g>
    </g>
</g>
</svg>
    <ul style="line-height:1.1;font-size:18px;text-align:left;position:absolute;top:15px;left:5px" class="govuk-list govuk-list--bullet">
      <li>Quae vero auctorem tractata ab fiducia dicuntur.</li>
      <li>Fictum, deserunt mollit anim laborum astutumque!</li>
      <li>Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</li>
      <li>Contra legem facit qui id facit quod lex prohibet.</li>
      </ul>
  </div>






</div>
</div>


  </div>

{% endblock %}
