{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<style>

  .center {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }

</style>

<input id="templateName" type="hidden" name="templateName" value="{{ data['org']}}">

<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Civil Service templates</h2>
    <p class="govuk-!-margin-bottom-9" style="font-size:24px">Click to view the lorem ipsum dolor amet sit.</p>

<div class="govuk-!-margin-top-9" >



  <h1  style="border-bottom:1px solid #1d70b8;padding-bottom:0px" class="govuk-heading-xl govuk-!-padding-bottom-3 govuk-!-margin-top-3">2 matching templates found</h1>

</div>





  </div>


</div>

<div class="govuk-grid-row govuk-!-margin-top-0">

  <div class="govuk-grid-column-one-third" style="margin-top:-64px">
    <div style=";height:700px;;padding:10px;border-right:1px solid #1d70b8;padding:20px;">


      <h2 style="padding-bottom:0px" class="govuk-heading-m govuk-!-margin-top-6">Match basis</h2>
      <div style="">



      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        name: "organisation",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
        {
          id: "first",
          value: "dept",
          checked: checked,
          text: "My department"
        },
        {
          id: "second",
          value: "prof",
          checked: checked,
          text: "Professions"
        },
        {
          id: "third",
          value: "ogds",
          checked: checked,
          text: "Other Government Departments"
        }
        ]
      }) }}


</div>




</div>
  </div>




<div class="govuk-grid-column-two-thirds" style="margin-top:-64px;margin-left:-15px;height:740px;width:66.5%;background:#f3f2f1">

<div style="height:750px;position:relative;z-index:1">

  <div style=";position:absolute;left:0; top:50px;border:1px solid #1d70b8;border-radius:8px;;background:#F4FAFF;height:300px;width:90%;;margin-right:20px;margin-left:30px">
</div>
<div style=";position:absolute;left:0; bottom:50px;border:1px solid #1d70b8;border-radius:8px;;background:#F4FAFF;height:300px;width:90%;;margin-right:20px;margin-left:30px">
</div>



  <a style="z-index:100" href="/csu71/templates-picker?chosen=co">
    <div style=";position:absolute;left:5px; top:55px;border:6px solid white ;border-radius:12px;;background:#1d70b8;height:280px;width:40%;;margin-right:20px;margin-left:30px">

      <p style="color:white;position:absolute;left:0px;top:70px;padding:20px;font-size:20px;">{{ data['grade']|default('Senior Executive Officer')}}</p>
  <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:white;font-size:24px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']|default("Policy adviser")}}</h2>
      <img src="/public/images/cab.png" alt="Cabinet Office template" style="position:absolute;left:20px;top:20px;height:50px">
    </div>
  </a>
  <a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="text-align:center;width:30%;position:absolute;top:285px;left:55px;;padding:10px;border-radius:7px;font-size:18px;background:white;color:#1d70b8" href="/csu71/templates-picker?chosen=co"><strong>Select template</strong></a>


  <div class="center" style="z-index:;border-radius:0 8px 8px 0;position:absolute;right:42px;top:56px;border:4px solid white;height:282px;width:47%;background:white">

    <ul style="line-height:1.1;font-size:18px;text-align:left;position:absolute;top:15px;left:5px" class="govuk-list govuk-list--bullet">
      <li>Quae vero auctorem tractata ab fiducia dicuntur.</li>
      <li>Fictum, deserunt mollit anim laborum astutumque!</li>
      <li>Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</li>
      <li>Contra legem facit qui id facit quod lex prohibet.</li>
      </ul>
      <p style=";position:absolute;right:20px;bottom:0px;font-weight:bold;;font-size:24px;color:#1d70b8">#122</p>


  </div>





  <a style="z-index:100" href="/csu71/templates-picker?chosen=ddat">
    <div style=";position:absolute;left:5px;bottom:55px;border:6px solid white ;border-radius:12px;;background:black;height:280px;width:40%;;;margin-right:30px;margin-left:30px">
      <p style="font-size:18px;color:white;position:absolute;left:0px;top:70px;padding:20px;;">{{ data['grade']|default('Senior Executive Officer')}}</p>
  <h2 class="govuk-heading-l" style="position:absolute;left:0px;top:100px;;;padding:20px;color:white;font-size:24px;line-height:1.1;border-top-left-radius:10px 10px;border-bottom-left-radius: 10px 10px;">{{ data['temp-copy-input-autocomplete']|default("Policy adviser")}}</h2>
      <img src="/public/images/ddd.png" alt="DDaT template" style="position:absolute;left:20px;top:20px;height:60px">
    </div>
  </a>
  <a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="text-align:center;width:30%;position:absolute;top:630px;left:60px;;padding:10px;border-radius:7px;font-size:18px;background:white;color:#1d70b8" href="/csu71/templates-picker?chosen=ddat"><strong>Select template</strong></a>
  <div class="center" style="z-index:;border-radius:0 8px 8px 0;position:absolute;right:42px;bottom:56px;border:4px solid white;height:282px;width:47%;background:white">

    <ul style="line-height:1.1;font-size:18px;text-align:left;position:absolute;top:15px;left:5px" class="govuk-list govuk-list--bullet">
      <li>Quae vero auctorem tractata ab fiducia dicuntur.</li>
      <li>Fictum, deserunt mollit anim laborum astutumque!</li>
      <li>Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</li>
      <li>Contra legem facit qui id facit quod lex prohibet.</li>

      </ul>
      <p style=";position:absolute;right:0;bottom:0px;font-weight:bold;;font-size:24px;color:#1d70b8">#311</p>

  </div>






</div>
</div>


  </div>

{% endblock %}
