{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

{% block pageTitle %}
  Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  {% endblock %}

{% block content %}





<!-- <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First 6 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Next 33 weeks</th>
      <td class="govuk-table__cell">£109.80 per week</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>
  </tbody>
</table> -->






{% set vhHTML %}
{{govukTag({
  text: "in progress",
  classes: "govuk-tag--blue"
})}}
{% endset %}


{% set leadHTML %}
{{govukTag({
  text: "Lead to complete",
  classes: "govuk-tag--blue"
})}}
{% endset %}
{% set panelHTML %}
{{govukTag({
  text: "Panel to complete",
  classes: "govuk-tag--grey"
})}}
{% endset %}
{% set recruiterHTML %}
{{govukTag({
  text: "Recruiter to complete",
  classes: "govuk-tag--yellow"
})}}




{% endset %}


<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">



<h1 class="govuk-heading-xl">Select a job advert to copy</h1>

     <table class="govuk-table">

       <thead class="govuk-table__head">
         <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8">
           <th scope="col" class="govuk-table__header" style="width:20%;;color:#1d70b8;">Closed on</th>
           <th style="padding-left:10px;;color:#1d70b8;width:20%;" scope="col" class="govuk-table__header">Job title</th>
           <th scope="col" class="govuk-table__header" style="width:20%;;color:#1d70b8;">Grade</th>
           <th style="padding-left:10px;;color:#1d70b8;width:20%;" scope="col" class="govuk-table__header">Ref.</th>


           <th scope="col" class="govuk-table__header" style="width:20%;;color:#1d70b8;">Selection</th>
         </tr>
       </thead>



       <tbody class="govuk-table__body">


     <tr class="govuk-table__row" style="border-bottom:0.5px solid #1d70b8;">
       <td class="govuk-table__cell" style="background: white;;">14 Sep 2022</td>
       <td class="govuk-table__cell" style="padding-left:10px;background: white;;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/csu71/new-campaign-set-up/preview-advert-duplicate">Product manager</a></td>
       <td class="govuk-table__cell" style="width:20%;background: white;;">G7</td>

       <td class="govuk-table__cell" style="padding-left:10px;background: white;;"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="/csu71/new-campaign-set-up/preview-advert-duplicate">210220</a></td>

       <td class="govuk-table__cell" style="background: white;">
         {{ govukButton({
           text: "Copy advert",
           classes: "govuk-button--secondary",
           href: "task-list-exp-copy-ad"
         }) }}
       </td>
     </tr>
</tbody>
</table>




</div>
</div>


{% endblock %}
