{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-2">Vacancy <strong>102201</strong></p>

    <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-2">Grade <strong>{{ data['grade']}}</strong></p>

    <h2 style="border-bottom:1px solid #1d70b8;;padding-bottom:10px;" class="govuk-heading-xl">{{ data['temp-copy-input-autocomplete']}}</h2>



    <p style="font-size:24px">Select an official cs template</p>



    <div  class="govuk-!-margin-bottom-3" style="width:80%;border-radius:5px;border:1px solid #1d70b8;padding:30px;;height:120px;position:relative ">
    <!-- <h3 style="position:absolute;top:30px;right:30px" class="govuk-heading-m">Job title lorem ipsum</h3> -->

      <!-- <p style="text-align:left" class="govuk-body-m"><strong>Grade SEO</strong></p> -->

      <h3 style="position:absolute;top:30px;right:40px" class="govuk-heading-l">Job title lorem ipsum</h3>

      <a href="task-list-template"><div style="position:relative;float:left;width:20%;height:60px; ;border-radius:5px;border:1px solid #1d70b8;padding:30px;">
        <img class="govuk-!-margin-left-0 govuk-!-margin-top-0" src="/public/images/co-logo.png" style="position:absolute;bottom:30px;left:30px;width:140px;;padding-left:0px;padding-right:0px;margin-right:5px;">


      </div></a>

    </div>
    <div  class="govuk-!-margin-bottom-3" style="width:80%;border-radius:5px;border:1px solid #1d70b8;padding:30px;;height:120px;position:relative ">
    <!-- <h3 style="position:absolute;top:30px;right:30px" class="govuk-heading-m">Job title lorem ipsum</h3> -->

      <!-- <p style="text-align:left" class="govuk-body-m"><strong>Grade SEO</strong></p> -->

      <h3 style="position:absolute;top:30px;right:40px" class="govuk-heading-l">Job title lorem ipsum</h3>

      <a href="#"><div style="position:relative;float:left;width:20%;height:60px; ;border-radius:5px;border:1px solid #1d70b8;padding:30px;">
        <img class="govuk-!-margin-left-0 govuk-!-margin-top-0" src="/public/images/ddat1.png" style="position:absolute;bottom:10px;left:10px;width:130px;;padding-left:0px;padding-right:0px;margin-right:5px;">


      </div></a>

    </div>





  </div>


</div>


<!-- {{ govukButton({
text: "Continue"
}) }} -->

</div>
</div>


{% endblock %}
