{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}
  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

    <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
  </div> -->
  <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Sift</span>

  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


    <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

  </div>

  </div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
{% set leadHTML %}
    {{govukTag({
              text: "Lead to complete",
              classes: "govuk-tag--blue"
            })}}
      {% endset %}
      {% set panelHTML %}
          {{govukTag({
                    text: "Panel to complete",
                    classes: "govuk-tag--grey"
                  })}}
            {% endset %}
            {% set recruiterHTML %}
                {{govukTag({
                          text: "Recruiter to complete",
                          classes: "govuk-tag--yellow"
                        })}}
                  {% endset %}



    {% set draftHTML %}

    {{ govukTable({
      caption: "",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
        {
          text: "Reference",
          classes: 'app-custom-class'
        },
        {
          text: "Job title",
          classes: 'app-custom-class'
        },
        {
          text: "Date started",
          classes: 'app-custom-class'
        },
        {
          text: "Action needed",
          classes: 'app-custom-class'
        }
      ],
      rows: [
      [
        {
          html: '<a href="1001334">1001334</a>'
        },
        {
          text: "Lead delivery manager"
        },
        {
          text: "18 Sept 2022"
        },
        {
          html: leadHTML
        }
      ],
      [
          {
            html: '<a href="bulk/panel">1001234</a>'
          },
          {
            text: "Customer service advisor"
          },
          {
            text: "1 Sept 2022"
          },
          {
            html: leadHTML
          }
        ],
        [
          {
            html: '<a href="">1001254</a>'
          },
          {
            text: "Project planner"
          },
          {
            text: "9 Sept 2022"
          },
          {
            html: panelHTML
          }
        ]
      ]
    }) }}
    {% endset %}

    {% set pendingHTML %}

    {{ govukTable({
      caption: "",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
        {
          text: "Reference",
          classes: 'app-custom-class'
        },
        {
          text: "Job title",
          classes: 'app-custom-class'
        },
        {
          text: "Date started",
          classes: 'app-custom-class'
        },
        {
          text: "Action needed",
          classes: 'app-custom-class'
        }
      ],
      rows: [
        [
          {
            html: '<a href="">1001254</a>'
          },
          {
            text: "Project planner"
          },
          {
            text: "9 Sept 2022"
          },
          {
            html: recruiterHTML
          }
        ]
      ]
    }) }}
    {% endset %}

{% set liveHTML %}

{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Reference",
      classes: 'app-custom-class'
    },
    {
      text: "Job title",
      classes: 'app-custom-class'
    },
    {
      text: "Closing date",
      classes: 'app-custom-class'
    },
    {
      text: "Applicants",
      classes: 'app-custom-class'
    },
    {
      text: "Action needed",
      classes: 'app-custom-class'
    }
  ],
  rows: [
  [
    {
      html: '<a href="1001334">1001334</a>'
    },
    {
      text: "Lead delivery manager"
    },
    {
      text: "18 Sept 2022"
    },
    {
      text: "5"
    },
    {
      html: recruiterHTML
    }
  ],
  [
      {
        html: '<a href="bulk/panel">1001234</a>'
      },
      {
        text: "Customer service advisor"
      },
      {
        text: "23 Sept 2022"
      },
      {
        text: "52"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001254</a>'
      },
      {
        text: "Project planner"
      },
      {
        text: "9 Sept 2022"
      },
      {
        text: "1"
      },
      {
        html: recruiterHTML
      }
    ]
  ]
}) }}
{% endset %}

{% set siftHTML %}
{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Reference",
      classes: 'app-custom-class'
    },
    {
      text: "Job title",
      classes: 'app-custom-class'
    },
    {
      text: "Closing date",
      classes: 'app-custom-class'
    },
    {
      text: "Action needed",
      classes: 'app-custom-class'
    }
  ],
  rows: [
  [
    {
      html: '<a href="1001334">1001334</a>'
    },
    {
      text: "Lead delivery manager"
    },
    {
      text: "18 Sept 2022"
    },
    {
      html: leadHTML
    }
  ],
  [
      {
        html: '<a href="bulk/panel">1001234</a>'
      },
      {
        text: "Customer service advisor"
      },
      {
        text: "1 Sept 2022"
      },
      {
        html: panelHTML
      }
    ],
    [
      {
        html: '<a href="">1001254</a>'
      },
      {
        text: "Project planner"
      },
      {
        text: "9 Sept 2022"
      },
      {
        html: panelHTML
      }
    ]
  ]
}) }}
{% endset %}

{% set interviewHTML %}
{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Reference",
      classes: 'app-custom-class'
    },
    {
      text: "Job title",
      classes: 'app-custom-class'
    },
    {
      text: "Date sifted",
      classes: 'app-custom-class'
    },
    {
      text: "Applicants",
      classes: 'app-custom-class'
    },
    {
      text: "Action needed",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: '<a href="">1001234</a>'
      },
      {
        text: "Administrative officer"
      },
      {
        text: "1 Sept 2022"
      },
      {
        text: "10"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001254</a>'
      },
      {
        text: "Project planner"
      },
      {
        text: "9 Sept 2022"
      },
      {
        text: "1"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001334</a>'
      },
      {
        text: "Lead delivery manager"
      },
      {
        text: "18 Sept 2022"
      },
      {
        text: "2"
      },
      {
        html: recruiterHTML
      }
    ]
  ]
}) }}
{% endset %}

{% set scoringHTML %}
{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Reference",
      classes: 'app-custom-class'
    },
    {
      text: "Job title",
      classes: 'app-custom-class'
    },
    {
      text: "Interview date",
      classes: 'app-custom-class'
    },
    {
      text: "Applicants",
      classes: 'app-custom-class'
    },
    {
      text: "Action needed",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: '<a href="">1001234</a>'
      },
      {
        text: "Administrative officer"
      },
      {
        text: "1 Sept 2022"
      },
      {
        text: "10"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001254</a>'
      },
      {
        text: "Project planner"
      },
      {
        text: "9 Sept 2022"
      },
      {
        text: "1"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001334</a>'
      },
      {
        text: "Lead delivery manager"
      },
      {
        text: "18 Sept 2022"
      },
      {
        text: "2"
      },
      {
        html: recruiterHTML
      }
    ]
  ]
}) }}
{% endset %}

{% set pecHTML %}
{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Reference",
      classes: 'app-custom-class'
    },
    {
      text: "Job title",
      classes: 'app-custom-class'
    },
    {
      text: "Provisional offer date",
      classes: 'app-custom-class'
    },
    {
      text: "Candidates",
      classes: 'app-custom-class'
    },
    {
      text: "Action needed",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: '<a href="">1001234</a>'
      },
      {
        text: "Administrative officer"
      },
      {
        text: "1 Sept 2022"
      },
      {
        text: "10"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001254</a>'
      },
      {
        text: "Project planner"
      },
      {
        text: "9 Sept 2022"
      },
      {
        text: "1"
      },
      {
        html: recruiterHTML
      }
    ],
    [
      {
        html: '<a href="">1001334</a>'
      },
      {
        text: "Lead delivery manager"
      },
      {
        text: "18 Sept 2022"
      },
      {
        text: "2"
      },
      {
        html: panelHTML
      }
    ]
  ]
}) }}
{% endset %}

{% set onboardingHTML %}
{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Reference",
      classes: 'app-custom-class'
    },
    {
      text: "Job title",
      classes: 'app-custom-class'
    },
    {
      text: "Start date",
      classes: 'app-custom-class'
    },
    {
      text: "Candidates",
      classes: 'app-custom-class'
    },
    {
      text: "Action needed",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: '<a href="">1001234</a>'
      },
      {
        text: "Administrative officer"
      },
      {
        text: "1 Sept 2022"
      },
      {
        text: "10"
      },
      {
        html: panelHTML
      }
    ],
    [
      {
        html: '<a href="">1001254</a>'
      },
      {
        text: "Project planner"
      },
      {
        text: "9 Sept 2022"
      },
      {
        text: "1"
      },
      {
        html: leadHTML
      }
    ],
    [
      {
        html: '<a href="">1001334</a>'
      },
      {
        text: "Lead delivery manager"
      },
      {
        text: "18 Sept 2022"
      },
      {
        text: "2"
      },
      {
        html: panelHTML
      }
    ]
  ]
}) }}
{% endset %}

    <h1 class=govuk-heading-xl>Sift candidates (6)</h1>

<br></br>
    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Awaiting sift (3)"
          },
          content: {
            html: siftHTML
          }
        },
          {
          heading: {
            text: "Awaiting interview scoring (3)"
          },
          content: {
            html: scoringHTML
          }
        }
        ]
      }) }}




  </div>
</div>

{% endblock %}
