{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}
  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

    <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
  </div> -->
  <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Interview</span>

  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


    <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

  </div>

  </div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">1001334</span>
<h1 class="govuk-heading-xl">Lead delivery manager</h1>
<h2 class="govuk-heading-m">Schemes</h2>
<h3 class="govuk-heading-s">Veteran's scheme</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        html: '<a href="">Applicant 1</a>'
      },
      value: {
        text: "Must be interviewed if scoring 4 or above"
      }
    }
  ]
}) }}

<h3 class="govuk-heading-s">Disability Confident Scheme</h3>
{{ govukSummaryList({
  rows: [
    {
      key: {
        html: '<a href="">Applicant 4</a>'
      },
      value: {
        text: "Requires written questions at interview"
      }
    }
  ]
}) }}

</div>
</div>
{{ govukButton({
  text: "Return to vacancy",
  href: "1001334"
}) }}
<p><a href="task-list">Save and return to tasklist</a></p>
{% endblock %}
