{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}
  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

    <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
  </div> -->
  <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Sift</span>

  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


    <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

  </div>

  </div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">Lead delivery manager (1001334)</span>
<h1 class="govuk-heading-xl">Arrange a consensus meeting</h1>

  <p>A consensus meeting can be used to review applicants that either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the panel scored them differently</li>
    <p>Or</p>
    <li>the score is very close to a cut-off mark</li>

    <ol class="govuk-list govuk-list--number">
      <li>Email to arrange a meeting with the panelists, including:</li>
      <ul class="govuk-list govuk-list--bullet">
    <li><a href="mailto:user@cabinetoffice.gov.uk">Jane Smith (Lead)</a></li>
    <li><a href="mailto:fictionalperson@cabinetoffice.gov.uk">Smith Clark</a></li>
    <li><a href="mailto:fictionalperson@cabinetoffice.gov.uk">Annie Pear</a></li>
  </ul>
  <li>At the meeting, you should:
    <ul class="govuk-list govuk-list--bullet"><li>review selected applicants</li>
      <li>decide if you will interview, reject, or place the applicant on hold (to interview at a later date)</li>
      </ul>
      <li><a href="1001334-interview">Set up interview</li>
</ol>

{{ govukButton({
  text: "Review selected applicants",
  href: "1001334-consensus-meeting-tidy"
}) }}

{% endblock %}
