{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    {% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">Lead delivery manager (1001334)</span>
<h1 class="govuk-heading-xl">Arrange a consensus meeting</h1>

<div style="width:70%">
{{ govukTable({
  caption: "",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: false,
  head: [
    {
      text: "Applicant",
      classes: 'app-custom-class'

    },
    {
      text: "Average score",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        html: "<a class='govuk-body-m govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state' style='font-weight:bold' href='#'>Applicant 4</a>"
      },
      {
        text: "33"
      }
    ],
    [
      {
        html: "<a class='govuk-body-m govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state' style='font-weight:bold' href='#'>Applicant 3</a>"
      },
      {
        text: "31"
      }
    ]

  ]
}) }}
</div>

  <p class="gov-body-m">A consensus meeting can be used to review applicants that either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the panel scored them differently</li>
    <p class="gov-body-m">Or</p>
    <li>the score is very close to a cut-off mark</li>
</ul>
    <h2 class="govuk-heading-l">Next steps</h2>

    <ol class="govuk-list govuk-list--number">
      <li>Email to arrange a meeting with the panelists, including:</li>
      <ul class="govuk-list govuk-list--bullet">
    <li>Jane Smith (Lead)</li>
    <li>Smith Clark</li>
    <li>Annie Pear</li>
  </ul>
  <a class="govuk-body-m govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" style="margin-bottom:30px;margin-top:30px;font-weight:bold" href="">Email the panel now</a>

  <li style="margin-top:30px;">At the meeting, you should:
    <ul class="govuk-list govuk-list--bullet">
      <li>review selected applicants</li>
      <li>decide if you will interview, reject, or place the applicant on hold (to interview at a later date)</li>
      </ul>
      <li>Once you have established an agreed interview list, return to the service to confirm before starting interview setup.</li>
</ol>

{{ govukButton({
  text: "Return to the task list",
  href: "/csu71/sift/task-list"
}) }}

{% endblock %}
