    {% extends "layouts/main.html" %}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {% block header %}
    {% include '/csu71/includes/header.html' %}
    {% endblock %}

    {% block beforeContent %}
    <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

      <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
    </div> -->
    <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Interview</span>

    <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


      <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

    </div>

    </div>
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
    {% endblock %}

    {% block content %}






      <div class="govuk-grid-row">

        <div style="" class="govuk-!-margin-top-6 govuk-grid-column-full">
          <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Send invites to candidates</H1>


          <p class="govuk-body-m"><strong>The following candidates will be invited to attend an interview. You may opt to include a personal message as the panel chair.</strong></p>


            <h2 style="" class="govuk-heading-l"><span style="border-bottom:0px solid black">Mei Chen</span></h2>





            <div style="background:#F4FAFF;padding:20px;border-top:1px solid #1d70b8">
                  {{ govukCharacterCount({
                  name: "meiPMessage",
                  id: "meiPMessage",
                  maxwords: 50,
                  rows: 3,
                  label: {
                  text: "You may choose to add a personal message to the invitation (optional)",
                  classes: "govuk-label--s",
                  isPageHeading: false
                  },
                  value: '' or data['meiPMessage']
                  }) }}

</div>



        <h2 style="border-top:0px solid #1d70b8;padding-top:50px" class="govuk-heading-l govuk-!-margin-top-6">Amelia Lawson</h2>

        <div style="background:#F4FAFF;padding:20px;border-top:1px solid #1d70b8">
              {{ govukCharacterCount({
              name: "ameliaPMessage",
              id: "ameliaPMessage",
              maxwords: 50,
              rows: 3,
              label: {
              text: "You may choose to add a personal message to the invitation (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
              },
              value: '' or data['ameliaPMessage']
              }) }}

</div>
        <h2 style="border-top:0 px solid #1d70b8;padding-top:50px" class="govuk-heading-l govuk-!-margin-top-6">Javier Santos</h2>

        <div style="background:#F4FAFF;padding:20px;border-top:1px solid #1d70b8">
              {{ govukCharacterCount({
              name: "javierPMessage",
              id: "javierPMessage",
              maxwords: 50,
              rows: 3,
              label: {
              text: "You may choose to add a personal message to the invitation (optional)",
              classes: "govuk-label--s",
              isPageHeading: false
              },
              value: '' or data['javierPMessage']
              }) }}


</div>
        {{ govukButton({
        text: "Send invites",
        classes: "govuk-!-margin-top-9",
        href: "/csu71/sift/task-list?invites=sent"
        }) }}


        </div>


      </div>

      <span id='local-variable' style="display:none">{{ data['templateName'] }}</span>

      <input type="hidden" name="source" value="behaviours">

    {% endblock %}
