{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Interview</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <!-- {{ govukCharacterCount({
  name: "outputt",
  id: "outputt",
  maxwords: 50,
  rows: 3,
  label: {
  text: "",
  classes: "govuk-label--s",
  isPageHeading: false
  },
  value: data['outputt']
  }) }} -->




<form class="form" action="setup-interview-ph2-2-try" method="post">

  <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Schedule</H1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="">


      <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet-">
        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph2"><strong>Schedule</a></p></strong></li>
        <!-- <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview"><strong>Setup interview</a></p></strong></li> -->

        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph3"><strong>Assessment</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-1"><strong>Questions</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid white;;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph1"><strong>Type of interview</a></p></strong></li>

        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-check-answers"><strong>Review interview setup</a></p></strong></li>
      </ul>
    </div>
    <div class="govuk-!-margin-top-6 govuk-grid-column-three-quarters">





      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "changedDates",
        classes: " govuk-radios--inline",
        fieldset: {
          legend: {
            text: "Will you be interviewing starting on 07 Aug 2023?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            id: "nochange",
            value: "Yes",
            checked: checked("changedDates","Yes"),
            text: "Yes"
          },
          {
            id: "newdates",
            value: "No, the dates have changed",
            checked: checked("changedDates","No, the dates have changed"),
            text: "No, the dates have changed"
          }
        ]
      }) }}






          <p class="govuk-body-m"><strong>What dates would you like to interview on?</strong><p>


<div style="padding:20px;background: #F4FAFF;width:65%;border-bottom:1px solid #1d70b8;">

            <label class="govuk-label govuk-!-margin-top-6" style="font-weight:bold;font-size:20px" for="intDate">Pick your dates</label>
            <input datetimeformat="dd/MM/y" style="font-size:25px;background:white;margin-top:10px"  value="{{ data['dates']}}" type="date" placeholder="dd-mm-yyyy" id="intDate" name="intDate">





            <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet-" id="output"></ul>

            <dl class="govuk-summary-list govuk-summary-list--no-border" style=";width:70%;background:#F4FAFF">

              <div class="govuk-summary-list__row"  style=";">
                <dt class="govuk-summary-list__key" style="height:90px;">
                  <div id="list1"></div>
                </dt>
                <dd class="govuk-summary-list__actions" style="height:90px;">
                  <a class="govuk-link" href="#">
                    <div style="margin-right:100px" id="list2"></div>
                    <span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
            </dl>
</div>


<div style="display:none">

            {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
            {{ govukDateInput({
            id: "launch",
            namePrefix: "",
            items: [
            {
              classes: "govuk-input--width-2",
              name: "day",
              value: "7" or data['day'] | default("7")
            },
            {
              classes: "govuk-input--width-2",
              name: "month",
              value: "Aug" or data['month']  | default("Aug")
            },
            {
              classes: "govuk-input--width-4",
              name: "year",
              value: "2023" or data['year']  | default("2023")
            }
            ]
            }) }}

            <!-- <p class="govuk-body-m">How many working days (Mon-Fri) will the interview schedule last for?</p> -->





        <div class="govuk-form-group" style="padding-top:35px;border-top:1px solid lightgrey">
          <label class="govuk-label" for="width-2">
            <strong>How many working days would you like to interview for?</strong>
          </label>
          <input class="govuk-input govuk-input--width-2" value="{{ data['duration']|int | default("3")}}" id="duration" name="duration" type="text">
        </div>

</div>
        <div class="govuk-form-group" style="padding-top:35px;border-top:1px solid lightgrey">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                How many interviews would you like to do in 1 day?
              </h3>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="density-2" name="density" type="radio" value="2">
                <label class="govuk-label govuk-radios__label" for="density-2">
                  2
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="density-4" name="density" type="radio" value="4">
                <label class="govuk-label govuk-radios__label" for="density-4">
                  4
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="density-6" name="density" type="radio" value="6">
                <label class="govuk-label govuk-radios__label" for="density-6">
                  6
                </label>
              </div>


            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group" style="padding-top:35px;border-top:1px solid lightgrey">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Would you like to include an extra 15 minutes after each interview for the panel to have a review?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="washup-yes" name="washup" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="density-2">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="washup-no" name="washup" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="density-4">
                  No
                </label>
              </div>
                  </div>
          </fieldset>
        </div>





        <button class="govuk-button govuk-!-margin-top-9" data-module="govuk-button">Build interview schedule</button>






    </div>



  </div>

  <span id='local-variable' style="display:none">{{ data['templateName'] }}</span>

  <input type="hidden" name="source" value="behaviours">
</FORM>


<script>
  var entry = document.getElementById("intDate");
  var dte = document.getElementsByClassName("#date-time-edit")




  var count = 0;
    var loc = document.getElementById('list1');

  entry.addEventListener('change', (event) => {

    var location = event.target.value;
    var strrr = location.toLocaleDateString;
var gggr = [];



    console.log(gggr.slice("/").reverse())



    var loccontent = document.createElement("li");
    var linkcontent = document.createElement("p");
    // showDiv('default');
    // numcontent.innerHTML = location;
    count = count+1;



      loccontent.innerText = location;
    if (loccontent.innerHTML.length > 45){
      loccontent.style.cssText = "margin-top:10px;height:60px;font-size:20px;width:100%";
      linkcontent.style.cssText = "margin-top:10px;;height:60px;;font-size:20px;font-weight:bold";

    } else {
      loccontent.style.cssText = "margin-top:10px;height:20px;font-size:20px;width:100%";
      linkcontent.style.cssText = "margin-top:10px;;height:20px;;font-size:20px;font-weight:bold";
    }
gggr.push(loccontent.innerHTML)
// var conRay = [];
// conRay.push(location)
// console.log(conRay.split("/").reverse())


console.log(gggr)

    linkcontent.innerHTML = "<a class='govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state' id='"+count+"' onclick='kill(this.id)' href='#'> Delete</a>";

    loc.appendChild(loccontent);
    link.appendChild(linkcontent);
    showDiv('head');
    showDiv('buttons');

    // content.innerHTML = "<span style='font-weight:regular;font-size:18px;line-height:1.5;'>"+location+"</span>"+""+"<a id='del"+item+"' onclick='' href='#'> delete</a>";
    // item.appendChild(content);


    try {
      saveList(); // may throw three types of exceptions
    } catch (e) {
      if (e instanceof TypeError) {
        // statements to handle TypeError exceptions
      } else if (e instanceof RangeError) {
        // statements to handle RangeError exceptions
      } else if (e instanceof EvalError) {
        // statements to handle EvalError exceptions
      } else {
        // statements to handle any unspecified exceptions
        logMyErrors(e); // pass exception object to error handler
      }
    }




  });


// var dayRay = [];

const vvt = document.getElementById("intDate");
const output = document.getElementById("list1");
const va = document.createElement("li");








const newD = document.getElementById("newdates");

newD.addEventListener('change', (event) => {

  if (newD.checked) {
    showDiv("conditional");
  }

});

const noC = document.getElementById("nochange");

noC.addEventListener('change', (event) => {

  if (noC.checked) {
    hideDiv("conditional");
  }

});



function hideDiv(div1) {
  document.getElementById(div1).style.display = 'none';

}

function showDiv(div1) {
  document.getElementById(div1).style.display = 'block';

}

console.log(String(location));

const dateControl = document.querySelector('input[type="datetime-local"]');
dateControl.value = "2017-06-01T08:30";
console.log(dateControl.value)

console.log(gggr)
// console.log(testvar.split("/").reverse())
// const todaystamp = new Date(todayDay);
// const tickTock = todaystamp.toLocaleDateString({ year:"numeric", month:"numeric", day:"numeric" }) ;
// // todayDay.innerHTML = tickTock;
// console.log(tickTock)
// console.log(location)
//





</script>


{% endblock %}
