{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Interview</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<style>
  p, div {
    font-family: "GDS Transport", arial, sans-serif;
    line-height: 1.2;
    margin: 0.8
  }
  p, li {
    font-size: 18px; line-height: 1.2;
    vertical-align: text-top;

  }


  h2 {
    font-size: 30px; line-height: 0.5;
    vertical-align: text-top;

  }

  hint {


    font-size: 18px;
    font-weight:normal;
    line-height: 1.3;
    vertical-align: text-top;
  }


  h3 {
    font-size: 20px;
    line-height: 1.5;

  }

  label {
    font-size: 18px;
    line-height: 1;
    vertical-align: text-top;
  }


  input[type="checkbox"]:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    color: black;
  }




  input[type="checkbox"]:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: 4px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }
</style>

{{ data['duration']}}

<form class="form" action="setup-interview-ph3" method="post">

  <H1 style=";padding-top:20px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Schedule</H1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="">


      <ul class="govuk-!-margin-top-6 govuk-list govuk-list--bullet-">
        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview"><strong>Setup interview</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:30px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph2"><strong>Schedule</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph3"><strong>Assessment</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph4-1"><strong>Questions</a></p></strong></li>
        <li><strong><p style ="border-left:5px solid white;;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph1"><strong>Type of interview</a></p></strong></li>

        <li><strong><p style ="border-left:5px solid white;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="setup-interview-ph5"><strong>Review and invite</a></p></strong></li>
      </ul>
    </div>
    <div class="govuk-!-margin-top-6 govuk-grid-column-three-quarters">
  <H2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-9">Edit schedule and check with panel</H2>





      {% set startDate = [data['day'], data['month'], data['year']] %}


      <input type="hidden" id="dateCheck" name="source" value="{{startDate | join('/')}}">
      <input type="hidden" id="durationCheck" name="source" value="{{ data['duration']}}">
      <input type="hidden" id="densityCheck" name="source" value="{{ data['density']}}">
      <input type="hidden" id="washup" name="source" value="{{ data['washup']}}">


      <div style="border:1px solid lightgrey;width:371px" id="listing"></div>




</div>


</div>


</FORM>



<script>

  const list = document.getElementById('listing')
  const dateCheck = document.getElementById('dateCheck');
  const durationCheck = document.getElementById('durationCheck').value;
  const densityCheck = document.getElementById('densityCheck').value;
  const washup = document.getElementById('washup').value;


  const startDate = new Date (dateCheck.value)


  const firstD = startDate.toLocaleDateString('en-uk', { weekday:"short", day:"numeric", month:"long", year:"numeric"}) ;
  var dateArray = [];

  dateArray.push(firstD)

  console.log(durationCheck)
    console.log("da"+dateArray.length)


  for (var d=0; d<durationCheck-1;d++){
    console.log(startDate)

    startDate.setDate(startDate.getDate() + 1 );
    console.log(startDate)
    console.log(d)
    const tickTock = startDate.toLocaleDateString('en-uk', { weekday:"short"}) ;
    if (tickTock === "Sat" || tickTock === "Sun") {
    } else {
      dateArray.push(startDate.toLocaleDateString('en-uk', { weekday:"short", day:"numeric", month:"long", year:"numeric"}));
    }

  }



  var small = ['10:00 - 11:00','14:00 - 15:00'];
  var small15 = ['10:00 - 11:15','14:00 - 15:15'];
  var medium = ['10:00 - 11:00','12:00 - 13:00','14:00 - 15:00','16:00 - 17:00'];
  var medium15 = ['10:00 - 11:15','12:00 - 13:15','14:00 - 15:15','16:00 - 17:15'];
  var large = ['08:00 - 09:00','10:00 - 11:00','12:00 - 13:00','14:00 - 15:00','16:00 - 17:00','18:00 - 19:00'];
  var large15 = ['08:00 - 09:15','10:00 - 11:15','12:00 - 13:15','14:00 - 15:15','16:00 - 17:15','18:00 - 19:15'];




  if (densityCheck == '2' && washup == 'yes') {
    var pickVer = small15;
  } else if (densityCheck == '2' && washup == 'no'){
    var pickVer = small;
  } else if (densityCheck == '4' && washup == 'yes'){
    var pickVer = medium15;
  } else if (densityCheck == '4' && washup == 'no'){
    var pickVer = medium;
  } else if (densityCheck == '6' && washup == 'yes'){
    var pickVer = large15;
  } else if  (densityCheck == '6' && washup == 'no'){
    var pickVer = large;
  }


      // const cardTitle = document.getElementById('cardTitle');




  for (var k = 0; k < dateArray.length; k++) {
    var date = document.createElement("h3");
    date.style.cssText = "width:350px;background: #f3f2f1; border:1px solid lightgrey;margin-top:-10px;padding:10px";

    date.innerHTML = dateArray[k]
    listing.appendChild(date)
    // cardTitle.appendChild(dateArray[k])



  for (var i = 0; i < pickVer.length; i++) {
    var date = document.createElement("h3");
    date.value = dateArray[i]
    listing.appendChild(date)
    var checkBox = document.createElement("input");
    var label = document.createElement("label");

    checkBox.type = "checkbox";
    checkBox.style.cssText = "width:30px;height:30px;padding:0;margin-top:0px;margin-bottom:0px;vertical-align: bottom;position: relative;bottom:30px;margin-bottom:-0px;border:1px solid; lightgrey;padding:0px";
    label.style.cssText = "margin-top:-17px;width:250px;;padding:10px;display: block;padding-left: 15px;text-indent: 40px;";

    checkBox.value = pickVer[i];
    checkBox.setAttribute("id","ddd-"+i)
    checkBox.setAttribute("name",+"-")
    label.appendChild(document.createTextNode(pickVer[i]));
    listing.appendChild(label);
    listing.appendChild(checkBox);


  }
  }


      // const key = document.getElementById('key');
      // const value = document.getElementById('value');
      // const linkTitle = document.getElementById('linkTitle');
      // const link = document.getElementById('link');


</script>


{% endblock %}
