  {% extends "layouts/main.html" %}
  {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {% block header %}
  {% include '/csu71/includes/header.html' %}
  {% endblock %}



  {% block content %}
  <style>





  #content, html, body {
      height: 98%;
  }


  #card {
      height: 400px;
  }


  #left {
      float: left;
      width: 50%;
      height: 800px;
      overflow: scroll;
      border-bottom:1px solid black;
      margin-top:5px;
      margin-bottom:5px;
  }

  #right {
      float: right;
      width: 50%;
      height: 800px;
      overflow: scroll;
      border-bottom:1px solid black;
      margin-top:5px;
      margin-bottom:5px;
  }



  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;


    #card {
      background: lightgrey;

    }
  }



  </style>


  <div class="govuk-grid-row" >
    <div  class="govuk-grid-column-full">




  <div id="content">

    <div id="left">
    <p>Etiam habebis sem dicantur magna mollis euismod. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Tityre, tu patulae recubans sub tegmine fagi dolor. Salutantibus vitae elit libero, a pharetra augue.
Nihil hic munitissimus habendi senatus locus, nihil horum? Integer legentibus erat a ante historiarum dapibus. Fictum, deserunt mollit anim laborum astutumque!
Paullum deliquit, ponderibus modulisque suis ratio utitur. Quam temere in vitiis, legem sancimus haerentia. Hi omnes lingua, institutis, legibus inter se differunt. Quisque ut dolor gravida, placerat libero vel, euismod. Contra legem facit qui id facit quod lex prohibet.
Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Quisque placerat facilisis egestas cillum dolore. Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet?
Phasellus laoreet lorem vel dolor tempus vehicula. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Donec sed odio operae, eu vulputate felis rhoncus.</p>

<p>Etiam habebis sem dicantur magna mollis euismod. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae. Tityre, tu patulae recubans sub tegmine fagi dolor. Salutantibus vitae elit libero, a pharetra augue.
Nihil hic munitissimus habendi senatus locus, nihil horum? Integer legentibus erat a ante historiarum dapibus. Fictum, deserunt mollit anim laborum astutumque!
Paullum deliquit, ponderibus modulisque suis ratio utitur. Quam temere in vitiis, legem sancimus haerentia. Hi omnes lingua, institutis, legibus inter se differunt. Quisque ut dolor gravida, placerat libero vel, euismod. Contra legem facit qui id facit quod lex prohibet.
Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Quisque placerat facilisis egestas cillum dolore. Quo usque tandem abutere, Catilina, patientia nostra? Quam diu etiam furor iste tuus nos eludet?
Phasellus laoreet lorem vel dolor tempus vehicula. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Donec sed odio operae, eu vulputate felis rhoncus.</p>
<style>
  .govuk-width-container {
    max-width:1700px;
  }
</style>

    </div>

    <div id="right">

      <ul class="govuk-list govuk-list--number">
      <div class="sticky" style="font-weight:bold;background:#f3f2f1;padding:10px;height:25px;;width:89%;">
      Building engaging and effective relationships...</div>
      <li id="fir"><a onclick="showDiv('panelPanel1');hideDiv('panelPanel2')" class="padding-top:0px;govuk-link  govuk-link--no-underline govuk-link--no-visited-state"><div style="border-radius:0px;padding:10px;;width:90%;height:auto;background:white">
      <p class="govuk-body-m">Can you tell me about your experience of building a trusted advisor-style relationship with a stakeholder? Can you give me examples of how you were able to achieve this?</p></div></a></li>


      <div class="sticky" style="font-weight:bold;background:#f3f2f1;padding:10px;height:25px;;width:89%;">
      Seeing the Big Picture</div>
      <li><a onclick="showDiv('panelPanel2');hideDiv('panelPanel1')"  class="padding-top:0px;govuk-link  govuk-link--no-underline govuk-link--no-visited-state"><div style="border-radius:0px;padding:10px;height:auto;;width:90%;background:white">
      <p class="govuk-body-m">Can you describe a time when you have had to bring together different viewpoints into one way forward? What was the situation? What did you do? What was the outcome?</p></div></a></li>

      <div class="sticky" style="font-weight:bold;background:#f3f2f1;padding:10px;height:25px;;width:89%;">
      Changing and Improving</div>
      <li style="padding-top:0px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#"><div style="padding:10px;;height:auto;;width:90%;background:white">
      <p class="govuk-body-m">Can you describe a time when you have received a reaction to a piece of work or project that you weren't expecting? How did you manage the situation?
      </p></div></a></li>

      <div class="sticky" style="background:#f3f2f1;padding:10px;height:25px;;width:89%;font-weight:bold;">
      Analytical</div>

      <li style="padding-top:0px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#"><div style="padding:10px;;height:auto;;width:90%;background:white">
      <p class="govuk-body-m">How does it make you feel when people shift the goalposts on a task?
      </p></div></a></li>

      <div class="sticky" style="background:#f3f2f1;padding:10px;height:25px;;width:89%;font-weight:bold;">
      Challenger</div>

      <li style="padding-top:0px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#"><div style="padding:10px;;height:auto;;width:90%;background:white">
      <p class="govuk-body-m">What does a successful day look like?
      </p></div></a></li>


      <div class="sticky" style="background:#f3f2f1;padding:10px;height:25px;;width:89%;font-weight:bold;">
      Problem Solver</div>

      <li style="padding-top:0px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#"><div style="padding:10px;;height:auto;;width:90%;background:white">
      <p class="govuk-body-m">What aspect of problem solving do you least enjoy?
      </p></div></a></li>



      <div class="sticky" style="background:#f3f2f1;;padding:10px;height:25px;;width:89%;font-weight:bold;">
      Candidate presentation</div>
      <li style="padding-top:0px;"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" href="#"><div style="padding:10px;;height:auto;;width:90%;background:white">
      <p class="govuk-body-m">Praeterea iter est quasdam res quas ex communi. Paullum deliquit, ponderibus modulisque suis ratio utitur.
      </p></div></a></li>


      <div  style="background:white;;padding:10px;height:379px;;width:89%;font-weight:bold;">
      </div>


      </ul>
    </div>



  {{ govukButton({
    text: "Save and continue",
    classes: "govuk-!-margin-top-5",
    href: "/csu71/task-list-exp-co"
  }) }}
  </div>

  </div>


<script>

      function hideDiv(div1) {
        document.getElementById(div1).style.display = 'none';

      }

      function showDiv(div1) {
        document.getElementById(div1).style.display = 'block';

      }

</script>
  {% endblock %}
