{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    {% endblock %}


{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<style>

  select {
width:400px;



  }
</style>

<form class="form" action="cs-commission" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">About the vacancy</h1>
      <div class="govuk-!-margin-bottom-6">
      <div style="width:400px" class="govuk-form-group govuk-input--width-30 ">
        <label for="autocomplete-default" class="govuk-label govuk-label--s">What is the job title?</label>
        <div id="jobtitle" class="autocomplete-wrapper"></div>
      </div>
</div>

{{ govukInput({
label: {
text: "Subtitle",
classes: "govuk-label--s",
isPageHeading: false
},
hint: {
  text: "(Optional) Use this to help a candidate see which business area the job is in. For example, 'Immigration and Borders'."
},
classes: "govuk-input--width-20",
id: "subtitle",
name: "subtitle"
}) }}


<div class="govuk-!-margin-bottom-6">
      {{ govukSelect({
                id: "grade",
                name: "grade",
                label: {
                  text: "What grade is the job role?",
                  classes: "govuk-label--s"
                },
                items: [
                {
                  value: "none",
                  selected: "true",
                  disabled: "true",
                  text: "Select grade"
                },

                {
                  value: "Administrative Assistant",
                  text: "Administrative Assistant",
                  selected: checked("grade","Administrative Assistant")
                },
                {
                  value: "Administrative Officer",
                  text: "Administrative Officer",
                  selected: checked("grade","Administrative Officer")
                },
                {
                  value: "Executive Officer",
                  text: "Executive Officer",
                  selected: checked("grade","Executive Officer")
                },
                {
                  value: "Higher Executive Officer",
                  text: "Higher Executive Officer",
                  selected: checked("grade","Higher Executive Officer")
                },
                {
                  value: "Senior Executive Officer",
                  text: "Senior Executive Officer",
                  selected: checked("grade","Senior Executive Officer")
                },
                {
                  value: "Grade 7",
                  text: "Grade 7",
                  selected: checked("grade","Grade 7")
                },
                {
                  value: "Grade 6",
                  text: "Grade 6",
                  selected: checked("grade","Grade 6")
                }
                ]
              }) }}
              </div>

<div class="govuk-!-margin-bottom-6" style="">

              {{ govukSelect({
                id: "proff",
                name: "proff",
                label: {
                  text: "What profession is the job role part of?",
                  classes: "govuk-label--s"
                },
                items: [
                {
                  value: "none",
                  selected: "true",
                  disabled: "true",
                  text: "Select profession"
                },
                {
                  value: "Analysis",
                  text: "Analysis",
                  selected: checked("proff","Analysis")
                },
                {
                  value: "Commercial and Procurement",
                  text: "Commercial and Procurement",
                  selected: checked("proff","Commercial and Procurement")
                },
                {
                  value: "Corporate Finance",
                  text: "Corporate Finance",
                  selected: checked("proff","Corporate Finance")
                },
                {
                  value: "Communications",
                  text: "Communications",
                  selected: checked("proff","Communications")
                },
                {
                  value: "Counter Fraud",
                  text: "Counter Fraud",
                  selected: checked("proff","Counter Fraud")
                },
                {
                  value: "Digital, Data and Technology",
                  text: "Digital, Data and Technology",
                  selected: checked("proff","Digital, Data and Technology")
                },
                {
                  value: "Government Economic Service",
                  text: "Government Economic Service",
                  selected: checked("proff","Government Economic Service")
                },
                {
                  value: "Government Social Research",
                  text: "Government Social Research",
                  selected: checked("proff","Government Social Research")
                },
                {
                  value: "Finance",
                  text: "Finance",
                  selected: checked("proff","Finance")
                },
                {
                  value: "Human Resources",
                  text: "Human Resources",
                  selected: checked("proff","Human Resources")
                },
                {
                  value: "Intelligence Analysis",
                  text: "Intelligence Analysis",
                  selected: checked("proff","Intelligence Analysis")
                },
                {
                  value: "Internal Audit",
                  text: "Internal Audit",
                  selected: checked("proff","Internal Audit")
                },
                {
                  value: "International Trade and Negotiation",
                  text: "International Trade and Negotiation",
                  selected: checked("proff","International Trade and Negotiation")
                },
                {
                  value: "Knowledge and Information Management",
                  text: "Knowledge and Information Management",
                  selected: checked("proff","Knowledge and Information Management")
                },
                {
                  value: "Legal",
                  text: "Legal",
                  selected: checked("proff","Legal")
                },
                {
                  value: "Medical",
                  text: "Medical",
                  selected: checked("proff","Medical")
                },
                {
                  value: "Occupational Psychology",
                  text: "Occupational Psychology",
                  selected: checked("proff","Occupational Psychology")
                },
                {
                  value: "Operational Delivery",
                  text: "Operational Delivery",
                  selected: checked("proff","Operational Delivery")
                },
                {
                  value: "Operational Research",
                  text: "Operational Research",
                  selected: checked("proff","Operational Research")
                },
                {
                  value: "Policy",
                  text: "Policy",
                  selected: checked("proff","Policy")
                },
                {
                  value: "Project Management and Delivery",
                  text: "Project Management and Delivery",
                  selected: checked("proff","Project Management and Delivery")
                },
                {
                  value: "Property",
                  text: "Property",
                  selected: checked("proff","Property")
                },
                {
                  value: "Science and Engineering",
                  text: "Science and Engineering",
                  selected: checked("proff","Science and Engineering")
                },
                {
                  value: "Security",
                  text: "Security",
                  selected: checked("proff","Security")
                },
                {
                  value: "Tax",
                  text: "Tax",
                  selected: checked("proff","Tax")
                },
                {
                  value: "Veterinary",
                  text: "Veterinary",
                  selected: checked("proff","Veterinary")
                },
                {
                  value: "Other",
                  text: "Other",
                  selected: checked("proff","Other")
                }
                ]
              }) }}
              <a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state govuk-!-margin-bottom-3" style="font-weight:bold;font-size:20px" href="#">Add another profession</a>


              </div>
              <div style="width:400px" class="govuk-form-group govuk-input--width-30">
                <label for="autocomplete-default" class="govuk-label govuk-label--s">Which department?</label>
                <div id="department" class="autocomplete-wrapper"></div>
              </div>
              <div class="govuk-!-margin-bottom-9" style=""><br>

                <h2 class="govuk-heading-m govuk-!-padding-top-4">Has this role been reserved for UK nationals only?</h2>

                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary" style="color:#5d6062">
                      <span class="govuk-details__summary-text" style="font-size:0.9em">
                        What's this?
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                Some roles may only be filled by UK nationals because of the sensitive work the role includes. <BR><BR>For example: only UK nationals may work in security and intelligence services.
                    </div>
                  </details>


                  {% from "govuk/components/radios/macro.njk" import govukRadios %}

                  {{ govukRadios({
                    name: "reserved-status",
                    fieldset: {
                      legend: {
                        text: "",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--s"
                      }
                    },
                    items: [
                      {
                        value: "Yes",
                        checked: checked("reserved-status","yes"),
                        text: "Yes, this vacancy is reserved"
                      },
                      {
                        value: "No",
                        checked: checked("reserved-status","no"),
                        text: "No, this vacancy is not reserved"
                      },
                      {
                        value: "dont-know",
                        checked: checked("reserved-status","dont-know"),
                        text: "I'm not sure"
                      }
                    ]
                  }) }}


</div>

<div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/jobtitle.js"></script>

      <script src="/public/javascripts/dept.js"></script>

      <input type="hidden" name="createVacancy" value="true">


    </form>




    {% endblock %}
