{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}
  {% block beforeContent %}
  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

    <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
  </div> -->
  <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Sift</span>

  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


    <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/sift/task-list?hide=banner"><strong>Return to task list</strong></a></span>

  </div>

  </div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}

      {% block content %}
          {{ govukInput({
          label: {
          text: "Additional feedback for candidates (optional)"
          },
          classes: "govuk-input--width-50",
          id: "feedback",
          name: "feedback"
          }) }}

          {{ govukInput({
          label: {
          text: "Notes for the panel, not seen by candidate (optional)"
          },
          classes: "govuk-input--width-50",
          id: "feedback",
          name: "feedback"
          }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">
            <h2 class="govuk-heading-s" id="app2">Candidate 2:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          </div>
          <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1 Not Demonstrated - No positive evidence provided"
                          },
                          {
                            value: "2",
                            text: "2 Minimal Demonstration - Limited positive evidence provided"
                          },
                          {
                            value: "3",
                            text: "3 Moderate Demonstration - Moderate positive evidence provided"
                          },
                          {
                            value: "4",
                            text: "4 Acceptable Demonstration - Adequate positive evidence provided"
                          },
                          {
                            value: "5",
                            text: "5 Good Demonstration - Substantial positive evidence provided"
                          },
                          {
                            value: "6",
                            text: "6 Strong Demonstration - Substantial, positive evidence provided including some evidence of exceeding expectations"
                          },
                          {
                            value: "7",
                            text: "7 Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">
            <h2 class="govuk-heading-s">Candidate 3:</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>
          </div>
          <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1 Not Demonstrated - No positive evidence provided"
                          },
                          {
                            value: "2",
                            text: "2 Minimal Demonstration - Limited positive evidence provided"
                          },
                          {
                            value: "3",
                            text: "3 Moderate Demonstration - Moderate positive evidence provided"
                          },
                          {
                            value: "4",
                            text: "4 Acceptable Demonstration - Adequate positive evidence provided"
                          },
                          {
                            value: "5",
                            text: "5 Good Demonstration - Substantial positive evidence provided"
                          },
                          {
                            value: "6",
                            text: "6 Strong Demonstration - Substantial, positive evidence provided including some evidence of exceeding expectations"
                          },
                          {
                            value: "7",
                            text: "7 Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">
            <h2 class="govuk-heading-s">Candidate 4:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          </div>
              <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1 Not Demonstrated - No positive evidence provided"
                          },
                          {
                            value: "2",
                            text: "2 Minimal Demonstration - Limited positive evidence provided"
                          },
                          {
                            value: "3",
                            text: "3 Moderate Demonstration - Moderate positive evidence provided"
                          },
                          {
                            value: "4",
                            text: "4 Acceptable Demonstration - Adequate positive evidence provided"
                          },
                          {
                            value: "5",
                            text: "5 Good Demonstration - Substantial positive evidence provided"
                          },
                          {
                            value: "6",
                            text: "6 Strong Demonstration - Substantial, positive evidence provided including some evidence of exceeding expectations"
                          },
                          {
                            value: "7",
                            text: "7 Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full answer-panel">

            <h2 class="govuk-heading-s">Candidate 5:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          </div>
              <p>The candidate will see the score and feedback</p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">

                          {{ govukSelect({
                          id: "score",
                          name: "score",
                          label: {
                          text: "Score",
                          classes: "govuk-label--m"
                          },
                          items: [
                          {
                            value: "1",
                            text: "1 Not Demonstrated - No positive evidence provided"
                          },
                          {
                            value: "2",
                            text: "2 Minimal Demonstration - Limited positive evidence provided"
                          },
                          {
                            value: "3",
                            text: "3 Moderate Demonstration - Moderate positive evidence provided"
                          },
                          {
                            value: "4",
                            text: "4 Acceptable Demonstration - Adequate positive evidence provided"
                          },
                          {
                            value: "5",
                            text: "5 Good Demonstration - Substantial positive evidence provided"
                          },
                          {
                            value: "6",
                            text: "6 Strong Demonstration - Substantial, positive evidence provided including some evidence of exceeding expectations"
                          },
                          {
                            value: "7",
                            text: "7 Outstanding Demonstration - Evidence provided wholly exceeds expectation at this level"
                          },
                          {
                            value: "---",
                            text: "---",
                            selected: true
                          }
                          ]
                          }) }}

                    </div>
                      <div class="govuk-grid-column-two-thirds">
                    {{ govukSelect({
                    id: "reason",
                    name: "reason",
                    label: {
                    text: "Reason",
                    classes: "govuk-label--m"
                    },
                    items: [
                    {
                      value: "experienceLow",
                      text: "Not enough experience"
                    },
                    {
                      value: "experienceHigh",
                      text: "High level of experience"
                    },
                    {
                      value: "relevanceLow",
                      text: "Not relevant to role"
                    },
                    {
                      value: "relevanceHigh",
                      text: "Very relevant to role"
                    },
                    {
                      value: "exampleLow",
                      text: "No or poor example given"
                    },
                    {
                      value: "exampleHigh",
                      text: "Strong example given"
                    },
                    {
                      value: "---",
                      text: "---",
                      selected: true
                    }
                    ]
                    }) }}
                    </div>
                    </div>
                    {{ govukInput({
                    label: {
                    text: "Additional feedback for candidates (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}

                    {{ govukInput({
                    label: {
                    text: "Notes for the panel, not seen by candidate (optional)"
                    },
                    classes: "govuk-input--width-50",
                    id: "feedback",
                    name: "feedback"
                    }) }}


{{ govukButton({
  text: "Score CV and personal statement",
  href: "cv-statement-v2"
}) }}
{% endblock %}
