{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}


{% block beforeContent %}

<style>
.govuk-back-link {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1578em;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0.875em;
}
@media (min-width: 40.0625em) {
  .govuk-back-link {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .govuk-back-link {
    font-size: 14pt;
    line-height: 1.2;
  }
}
@media print {
  .govuk-back-link {
    font-family: sans-serif;
  }
}
.govuk-back-link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}
.govuk-back-link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.govuk-back-link:link, .govuk-back-link:visited {
  color: #0b0c0c;
}
@media print {
  .govuk-back-link:link, .govuk-back-link:visited {
    color: #000000;
  }
}
.govuk-back-link:hover {
  color: rgba(11, 12, 12, 0.99);
}
.govuk-back-link:active, .govuk-back-link:focus {
  color: #0b0c0c;
}
@media print {
  .govuk-back-link:active, .govuk-back-link:focus {
    color: #000000;
  }
}

.govuk-back-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.1875em;
  width: 0.4375em;
  height: 0.4375em;
  margin: auto 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #ffffff;
}
@supports (border-width: max(0px)) {
  .govuk-back-link:before {
    border-width: max(1px, 0.0625em) max(1px, 0.0625em) 0 0;
    font-size: max(16px, 1em);
  }
}

.govuk-back-link:focus:before {
  border-color: #0b0c0c;
}

.govuk-back-link:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  bottom: -14px;
  left: 0;
}
</style>

<div  style="width:100%;background:#1d70b8;height:60px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<!-- <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Advert set up</span> -->

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:15px;">




  <!-- <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="#"><strong>Invite</strong></a></span> -->
  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="#"><strong>Manage panel</strong></a></span>


</div>
<a style="color:white;margin-left:10px" href="#" class="govuk-back-link govuk-back-link--inverse">Back</a>
</div>

{% endblock %}



{% block content %}


<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-full" style="position:relative">
    <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-1">Vacancy <strong>1001334</strong></p>

    <p style="font-size:24px" class="govuk-body-l govuk-!-margin-bottom-1">Grade <strong>{{ data['grade'] | default("SEO") }}</strong></p>


    <h1 style="border-bottom:1px solid #1d70b8;;padding-bottom:10px;" class="govuk-heading-xl">{{ data['title'] | default("Policy Adviser") }}</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">


        <p>You can save and return at any point to complete an action.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Advert closed 23 September 2022.</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 4 of 15 sections.</p>

        {% set bannerCount = 0 %}


        {% if data['hide'] != "banner" %}
        <div id="bann" style="width:100%" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Sift has been completed
            <p class="govuk-body  govuk-!-margin-top-3">The sift results have been confirmed and the interview list is avaiable.</p>
            <p class="govuk-body  govuk-!-margin-top-3">You can now <a style="font-weight:bold" href="#intset">setup the interview stage</a>.</p>
          </h3>



        </div>
      </div>
      {% endif %}
      <h2 class="govuk-heading-m govuk-!-padding-bottom-3" style="">Stage 1: Sift</h2>

        <ol style="" class="govuk-prototype-kit-task-list">
          <li>
            <h2 class="govuk-prototype-kit-task-list__section">
              <span class="govuk-prototype-kit-task-list__section-number">1. </span> Sift applications
            </h2>
            <ul class="govuk-prototype-kit-task-list__items">
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="task-list-applicants" aria-describedby="eligibility-status">
                  View candidates (5)
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="1001334-score-bigger-picture" aria-describedby="eligibility-status">
                    Behaviour 1: Seeing the big picture (5 of 5 sifted)
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="1001334-score-changing" aria-describedby="eligibility-status">
                      Behaviour 2: Changing and improving (5 of 5 sifted)
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="1001334-score-decisions" aria-describedby="eligibility-status">
                    Behaviour 3: Managing a quality service (5 of 5 sifted)
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="cv-statement-v2" aria-describedby="eligibility-status">
                    CV and personal statements (5 of 5 sifted)
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="1001334-table" aria-describedby="eligibility-status">
                    Review and submit individual sifting scores
                  </a>
                </span>
                <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
            </ul>
          </li>

        <li>
        <h2 class="govuk-prototype-kit-task-list__section">
          <span class="govuk-prototype-kit-task-list__section-number">2. </span> Confirm the sift results when done
        </h2>
        <ul class="govuk-prototype-kit-task-list__items">
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="setup-interview/1001334-panel-results-alt" aria-describedby="company-information-status">
                View panel results and recommendations
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
          </li>
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="setup-interview/consensus" aria-describedby="laist-convictions-status">
                Arrange a consensus meeting
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
          </li>
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="setup-interview/1001334-consensus-meeting" aria-describedby="laist-convictions-status">
                Review consensus meeting results
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
          </li>
          <li class="govuk-prototype-kit-task-list__item">
            <span class="govuk-prototype-kit-task-list__task-name">
              <a href="setup-interview/1001334-panel-results-postcon?blue=moon" aria-describedby="laist-convictions-status">
                Confirm the sift results
              </a>
            </span>
            <strong class="govuk-tag govuk-prototype-kit-task-list__tag" id="company-information-status">Completed</strong>
          </li>
        </ul>
        </li>
        </ol>


        <!-- <hr style="border-bottom:2px solid #1d70b8;width:100%;float:left;margin-bottom:10px"> -->
        <h2 class="govuk-heading-m govuk-!-padding-top-3 govuk-!-padding-bottom-3" style="border-top:2px solid #1d70b8">Stage 2: Interview</h2>

        <ol class="govuk-prototype-kit-task-list govuk-!-margin-top-0">
          <li>
            <h2 class="govuk-prototype-kit-task-list__section">
              <span class="govuk-prototype-kit-task-list__section-number">1. </span> Prepare interview schedule and invite candidates
            </h2>
            <ul class="govuk-prototype-kit-task-list__items">
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="/csu71/sift/setup-interview/setup-interview-ph2-availability" aria-describedby="eligibility-status">
                    Your availability
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              </li>
              <li class="govuk-prototype-kit-task-list__item">
                <span class="govuk-prototype-kit-task-list__task-name">
                  <a href="/csu71/sift/setup-interview/send-invites-to-candidates" aria-describedby="eligibility-status">
                    Send interview invites to candidates
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
              </li>
            </ul>
          </li>
        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">2. </span> Review interview assessment and draft interview questions
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/csu71/sift/setup-interview/setup-interview-ph3" aria-describedby="company-information-status">
                  Review interview assessment plan
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/csu71/sift/setup-interview/setup-interview-ph1" aria-describedby="laist-convictions-status">
                  Choose the type of interview
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/csu71/sift/setup-interview/setup-interview-ph4-1" aria-describedby="laist-convictions-status">
                  Draft interview questions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/csu71/sift/setup-interview/setup-interview-ph4-4" aria-describedby="laist-convictions-status">
                  Produce a brief for the candidate presentation task
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>








        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Score interviews
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/csu71/sift/score-interviews-chair" aria-describedby="read-declaration-status">
                  Score interviews
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">CANNOT START YET</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/csu71/sift/interview-scores-submit-confirm" aria-describedby="read-declaration-status">
                  Review and submit your interview scores
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">CANNOT START YET</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="read-declaration-status">
                View panel results and recommendations
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">CANNOT START YET</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/csu71/sift/setup-interview/merit-list-confirmation" aria-describedby="company-information-status">
                  Confirm merit list
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">CANNOT START YET</strong>
            </li>
        </ul>
        </li>





        <li>
          <h2 class="govuk-prototype-kit-task-list__section">
            <span class="govuk-prototype-kit-task-list__section-number">4. </span> Make provisional offer
          </h2>
          <ul class="govuk-prototype-kit-task-list__items">
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Review provisional offer details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">CANNOT START YET</strong>
            </li>
            <li class="govuk-prototype-kit-task-list__item">
              <span class="govuk-prototype-kit-task-list__task-name">
                <a href="/csu71/sift/setup-interview/merit-list-provisional-offer" aria-describedby="company-information-status">
                  Send provisional offer to candidate
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey govuk-prototype-kit-task-list__tag" id="list-convictions-status">CANNOT START YET</strong>
            </li>
          </ul>
        </li>

      </ol>

    </div>
  </div>

  <script>
    function showHideDiv(div1,div2) {
      document.getElementById(div1).style.display = 'block';
      document.getElementById(div2).style.display = 'none';

    }
  </script>


  {% endblock %}
