{% extends "layouts/main.html" %}

{% block header %}
{% include '/csu71/includes/header.html' %}
{% endblock %}
{% block pageTitle %}
Create a job advert – Civil service jobs – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

  <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
</div> -->
<span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Contract information</span>

<div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


  <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8;padding-left:8px;padding-right:8px" href="/csu71/task-list-exp-co?banner=noshow"><strong>Return to task list</strong></a></span>

</div>

</div>
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">Salary and benefits</h1>
    <form class="form" action="pecvet" method="post">


      {{ govukInput({
        id: "cost",
        name: "cost",
        label: {
          text: "What is the minimum salary?",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false,
        value: "29,000" or data['cost']
      }) }}


      {{ govukInput({
        id: "costmax",
        name: "costmax",
        label: {
          text: "Is there a maximum salary?",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false,
        value: "32,450" or data['costmax']
      }) }}


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Why should I provide a maximum salary?
          </span>
        </summary>
        <div class="govuk-details__text">
          If you have both a minimum and maximum salary approved for the role, it's a good idea to show both because some (good) candidates might sift themselves out if there's only a minimum salary provided.
        </div>
      </details>


      {% set otherHTML %}
      {{ govukTextarea({
        name: "otherAllow",
        id: "otherAllow",
        value: data['otherAllow'],
        label: {
          text: "Tell us about the additional allowances",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        hint: {
          text: "You may be contacted to provide more details, including approval."
        }
      }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "allowances",
        name: "allowances",
        fieldset: {
          legend: {
            text: "Are there additional allowances connected to this role?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
        {
          value: "yes",
          text: "Yes",
          checked: checked("allowances", "yes"),
          conditional: {
            html: otherHTML
          }
        },
        {
          value: "no",
          text: "No",
          checked: checked("allowances", "no")
        }
        ]
      }) }}

  <h2 class="govuk-heading-l govuk-!-padding-top-6">Standard Civil Service benefits</h2>

      {% set changeHtml %}
      <a href="">Change</a>
      {% endset %}
      {{ govukTable({
        rows: [
          [
            {
              text: "Learning and development tailored to your role"
            },
            {
              html: changeHtml
            }
          ],
          [
            {
              text: "An environment with flexible working options"
            },
            {
              html: changeHtml
            }
          ],
          [
            {
              text: " A culture encouraging inclusion and diversity"
            },
            {
              html: changeHtml
            }
          ],
          [
            {
              text: "A Civil Service pension"
            },
            {
              html: changeHtml
            }
          ]
        ]
      }) }}

  <p><a href="">Add another benefit</a></p>



      <button class="govuk-button govuk-!-margin-bottom-9" data-module="govuk-button">Continue</button>

      {{ govukButton({
        text: "Preview advert",
        classes: "govuk-button--secondary govuk-!-margin-bottom-9",
        href: "/csu71/preview-copy-newadvert?title=Policy adviser&grade=SEO"
      }) }}
    </form>

  </div>
</div>
{% include '/csu71/includes/footerarea.html' %}


{% endblock %}
