{% extends "layouts/main.html" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block header %}
{% include '/csu71/includes/header.html' %}
  {% endblock %}

  {% block beforeContent %}
  <div  style="width:100%;background:#1d70b8;height:45px;border-bottom:0.5px solid #1d70b8;float:left">

    <!-- <div class="govuk-!-margin-top-3" style="float:left;width:40%;margin-left:30px;"><span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="job-library"><strong>Create a new vacancy</strong></a></span>
  </div> -->
  <span style="float:left;padding-left:10px;color:white;font-weight:bold" class="govuk-caption-l">Contract information</span>

  <div class="" style="position:relative;float:right;margin-right:20px;margin-top:5px;">


    <span class="govuk-body-m" style="background:white;border:1px solid #1d70b8;border-radius:5px;padding:7px"><a class="govuk-link  govuk-link--no-underline govuk-link--no-visited-state" style="color:#1d70b8" href="/csu71/task-list-new-campaign"><strong>Return to task list</strong></a></span>

  </div>

  </div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {% endblock %}


{% block content %}

<!-- <form class="form" action="/csu71/check-next-stepV5" method="post"> -->

  <!-- <H2 class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-3">What will you assess within each element at sift and interview?</h2>
  <p class="govuk-body-l govuk-!-margin-bottom-6 govuk-!-margin-top-3">You have selected which elements are important to assess for this job role. You should now select what you will assess within each element at sift and interview.</p> -->

  <H1 style="padding-top:0px;padding-bottom:5px;border-bottom:1px solid #1d70b8; " class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Location details</H1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" style="width:20%">


      <ul class="govuk-!-margin-top-3 govuk-list govuk-list--bullet-">

        <li><strong><p style ="border-left:5px solid #1d70b8;padding-left:10px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="location-details"><strong>Location details</a></p></strong></li>
        <li><strong><p style ="border-left:2px solid white;padding-left:20px" class="govuk-body-m"><a class="govuk-link govuk-link--no-underline govuk-link govuk-link--no-visited-state" href="list-locations"><strong>Location list</a></p></strong></li>


      </ul>


    </div>

    <div class="govuk-grid-column-three-quarters">
      <div class="govuk-!-margin-top-3" style="display:block">



            {{ govukRadios({
              id: "ussk",
              name: "ussk",
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: "Is the role based in the UK?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
              {
                id:"ukbased",
                value: "Yes",
                text: "Yes",
                checked: checked("ussk","Yes")

              },
              {
                id:"ukbasedno",
                value: "No",
                text: "No",
                checked: checked("ussk","No")
              }
              ]
            }) }}

                  <div id="mroe" style="display: none">
                    {{ govukRadios({
                      id: "uk",
                      name: "uk",
                      fieldset: {
                        legend: {
                          text: "Where will the role be located?",
                          isPageHeading: false,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                      {
                        id: "rem",
                        value: "Remote",
                        text: "Remote",
                        checked: checked("uk","Remote")
                      },
                      {
                        id: "off",
                        value: "Onsite",
                        text: "Onsite at a government-managed location",
                        checked: checked("uk","Onsite")
                      },
                      {
                        id: "hyb",
                        value: "Hybrid",
                        text: "A hybrid of both remote and onsite",
                        checked: checked("uk","Hybrid")
                      }


                      ]
                    }) }}
                  </div>




                        <button class="govuk-button govuk-!-margin-top-9" href="list-locations" data-module="govuk-button">Continue</button>


                        {{ govukButton({
                          text: "Preview advert",
                          classes: "govuk-button--secondary govuk-!-margin-top-9",
                          href: "list-locations"
                        }) }}
                      </form>

                    </div>
                  </div>
                  </body>
                  <script src="/public/javascripts/temp-copyloc.js"></script>
                  <script src="/public/javascripts/locations.js"></script>

                  <script>


                    const ukbased = document.getElementById('ukbased');
                    const ukbasedno = document.getElementById('ukbasedno');

                    const off = document.getElementById('off');
                    const hyb = document.getElementById('hyb');
                    const rem = document.getElementById('rem');

                    if (ukbased.checked && ukbased.value == "Yes") {
                      showDiv("mroe");
                    }


                    if (off.checked && off.value == "Onsite") {
                      showDiv("loc");
                    }

                    if (hyb.checked && hyb.value != "") {
                      showDiv("loc");
                    }

                    if (rem.checked && rem.value != "") {
                      hideDiv("loc");
                    }


                    var divv = document.getElementById('mroe').style.display;
                    ukbased.addEventListener('change', (event) => {
                      if (ukbased.checked && ukbased.value == "Yes") {
                        showDiv("mroe");
                      }

                    });

                    ukbasedno.addEventListener('change', (event) => {
                      if (ukbasedno.checked) {
                        hideDiv("mroe");
                      }

                    });




                    var divv = document.getElementById('loc').style.display;
                    off.addEventListener('change', (event) => {

                      if (off.checked) {
                        showDiv("loc");
                      }

                    });

                    hyb.addEventListener('change', (event) => {

                      if (hyb.checked) {
                        showDiv("loc");
                      }

                    });

                    rem.addEventListener('change', (event) => {

                      if (rem.checked) {
                        hideDiv("loc");
                      }

                    });

                    function hideDiv(div1) {
                      document.getElementById(div1).style.display = 'none';

                    }

                    function showDiv(div1) {
                      document.getElementById(div1).style.display = 'block';

                    }




                    var locArray = [];
                    locArray = JSON.parse(window.sessionStorage.getItem("locations"));
                    console.log(locArray)
                    const entry = document.getElementById("autocomplete-default");
                    var item = document.getElementById('list');
                    entry.addEventListener('change', (event) => {

                      var location = event.target.value;
                      var content = document.createElement("li");
                      content.innerHTML = "<span style='font-weight:regular;font-size:18px;line-height:1.5;'>"+location+"</span>"+""+"<a id='del"+item+"' onclick='' href='#'> delete</a>";
                      item.appendChild(content);

                      locArray.push(location)

                      console.log(locArray)
                      window.sessionStorage.setItem("locations", JSON.stringify(locArray));
                    });

                    console.log(locArray)
                  </script>
                  {% endblock %}
