{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-xl">
      <a href="/csu71/start">Unified hiring-side prototype</a>
    </h2>
<h3 class="govuk-heading-m">Home campaign tab</h3>
<ul class="govuk-list govuk-list--number">
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
</ul>

<h3 class="govuk-heading-m">Task-list</h3>
<ul class="govuk-list govuk-list--number">
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
<LI></LI>
</ul>




    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
