<style>
  #container {
    position: relative;
    display: inline;
    padding-left: 10px;
  }

  #image {
    position: absolute;
    left: 22px;
    top: 0;
    height: 34px;
  }

  #image2 {
    position: absolute;
    left: 22px;
    top: 3px;
    height: 40px;
  }


  #text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: bold;
    left: 4px;
    top: 38px;
  }

  #textly {
    z-index: 100;
    position: absolute;
    color: white;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    left: 28px;
    top: 16px;
  }
</style>

<ul style="text-align: right">
  <!-- <a href="#" onclick="switcherDiv('panblack');showDiv('amelia')">    <li id="container" style="padding-left: 100px">
      <img id="image2" class="" src="/public/images/alerts.png" alt="" />
      <span id="text"><strong></strong></span>
    </li>
  </a> -->
  <a href="#">
    <li id="container" style="display: inline; padding-left: 100px">
      <img id="image" class="" src="/public/images/dept-profile.png" alt="" />
      <strong id="text">Dept Profile</strong>
    </li>
  </a>
  <a href="#">
    <li id="container" style="display: inline; padding-left: 200px">
      <img id="image" class="" src="/public/images/profblue.png" alt="" />
      <strong id="text">Sumayyah</strong>
    </li>
  </a>
</ul>
